Repository FuelLabs/fuels-ts, pull requests merged in 2022-06, with the labels that each got.

#287 Add `forc-bin` package and upgrade to Forc v0.14.4
  package.json
  packages/abi-coder/src/abi-coder.ts
  packages/abi-coder/src/fragments/function-fragment.ts
  packages/abi-coder/src/interface.test.ts
  packages/contract/.gitignore
  packages/contract/package.json
  packages/contract/scripts/build-contract-call-script.sh
  packages/contract/scripts/build-contracts.sh
  packages/contract/scripts/build-forc-projects.sh
  packages/contract/src/call-test-contract/Forc.lock
  packages/contract/src/call-test-contract/out/debug/call-test-abi.json
  packages/contract/src/call-test-contract/out/debug/call-test.bin
  packages/contract/src/call-test-contract/src/main.sw
  packages/contract/src/contract-call-script/Forc.lock
  packages/contract/src/contract-call-script/index.ts
  packages/contract/src/contract-call-script/out/debug/contract-call-script.bin
  packages/contract/src/storage-test-contract/Forc.lock
  packages/contract/src/storage-test-contract/out.bin
  packages/contract/src/storage-test-contract/out/debug/storage-test-abi.json
  packages/contract/src/storage-test-contract/out/debug/storage-test.bin
  packages/contract/src/token-test-contract/token_abi/Forc.lock
  packages/contract/src/token-test-contract/token_abi/out/debug/token_abi.bin
  packages/contract/src/token-test-contract/token_contract/Forc.lock
  packages/contract/src/token-test-contract/token_contract/out/debug/token_contract-abi.json
  packages/contract/src/token-test-contract/token_contract/out/debug/token_contract.bin
  packages/example-contract/.gitignore
  packages/example-contract/Forc.lock
  packages/example-contract/package.json
  packages/example-contract/scripts/build.sh
  packages/forc-bin/.gitignore
  packages/forc-bin/CHANGELOG.md
  packages/forc-bin/LICENSE
  packages/forc-bin/README.md
  packages/forc-bin/forc.js
  packages/forc-bin/package.json
  packages/forc-bin/src/cli.ts
  packages/forc-bin/src/index.ts
  packages/forc-bin/src/install.ts
  packages/forc-bin/src/shared.ts
  packages/forc-bin/src/update.ts
  packages/forc-bin/tsconfig.json
  packages/forc-bin/tsup.config.ts
  packages/script/.gitignore
  packages/script/package.json
  packages/script/scripts/build-call-test-script.sh
  packages/script/scripts/build-forc-projects.sh
  packages/script/src/call-test-script/Forc.lock
  packages/script/src/call-test-script/index.ts
  packages/script/src/call-test-script/out/debug/call-test-script.bin
  packages/script/src/call-test-script/src/main.sw
  pnpm-lock.yaml
  scripts/forc-update.ts
Labels: enhancement

#311 chore: add docs for `forc:update`
  README.md
Labels: documentation

#313 chore: remove signs from shell commands in readme
  README.md
Labels: documentation

#326 chore: bump to 0.7.0
  CHANGELOG.md
  package.json
  packages/abi-coder/CHANGELOG.md
  packages/abi-coder/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/example-contract/CHANGELOG.md
  packages/example-contract/package.json
  packages/forc-bin/CHANGELOG.md
  packages/fuels/CHANGELOG.md
  packages/fuels/package.json
  packages/hasher/CHANGELOG.md
  packages/hasher/package.json
  packages/hdwallet/CHANGELOG.md
  packages/hdwallet/package.json
  packages/interfaces/CHANGELOG.md
  packages/interfaces/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/math/CHANGELOG.md
  packages/math/package.json
  packages/merkle-shared/CHANGELOG.md
  packages/merkle-shared/package.json
  packages/merkle/CHANGELOG.md
  packages/merkle/package.json
  packages/merklesum/CHANGELOG.md
  packages/merklesum/package.json
  packages/mnemonic/CHANGELOG.md
  packages/mnemonic/package.json
  packages/providers/CHANGELOG.md
  packages/providers/package.json
  packages/script/CHANGELOG.md
  packages/script/package.json
  packages/signer/CHANGELOG.md
  packages/signer/package.json
  packages/sparsemerkle/CHANGELOG.md
  packages/sparsemerkle/package.json
  packages/testcases/CHANGELOG.md
  packages/testcases/package.json
  packages/transactions/CHANGELOG.md
  packages/transactions/package.json
  packages/typechain-target-fuels/CHANGELOG.md
  packages/typechain-target-fuels/package.json
  packages/wallet-manager/CHANGELOG.md
  packages/wallet-manager/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/package.json
  packages/wordlists/CHANGELOG.md
  packages/wordlists/package.json
Labels: release:minor

#336 fix: EnumCoder not padding its value
  packages/abi-coder/src/coders/__snapshots__/coders.test.ts.snap
  packages/abi-coder/src/coders/abstract-coder.ts
  packages/abi-coder/src/coders/array.ts
  packages/abi-coder/src/coders/b256.ts
  packages/abi-coder/src/coders/boolean.ts
  packages/abi-coder/src/coders/byte.ts
  packages/abi-coder/src/coders/coders.test.ts
  packages/abi-coder/src/coders/enum.ts
  packages/abi-coder/src/coders/number.ts
  packages/abi-coder/src/coders/string.ts
  packages/abi-coder/src/coders/struct.ts
  packages/abi-coder/src/coders/tuple.ts
  packages/transactions/src/coders/byte-array.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/output.ts
  packages/transactions/src/coders/receipt.ts
  packages/transactions/src/coders/transaction.ts
  packages/transactions/src/coders/witness.ts
Labels: bug, package:ABI

#338 fix: various issues
  package.json
  packages/contract/src/call-test-contract/call-test-contract.test.ts
  packages/script/scripts/build-call-test-script.sh
  pnpm-lock.yaml
Labels: bug

#344 feat: update fuel-core to v0.9.2
  packages/contract/src/call-test-contract/call-test-contract.test.ts
  packages/contract/src/contract-factory.test.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/util.ts
  packages/providers/fuel-core-schema.graphql
  packages/providers/src/operations.graphql
  packages/providers/src/provider.test.ts
  packages/providers/src/provider.ts
  packages/wallet/src/transfer.test.ts
  services/fuel-core/Dockerfile
  services/fuel-core/chainConfig.json
Labels: config

#343 fix: broken tests not stopping CI + coverage report action
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  .github/workflows/publish-npm-master.yaml
  README.md
  jest.config.ts
  package.json
  scripts/ci-test.sh
Labels: ci

#348 feat!: make prepareCall return ContractCall
  packages/contract/src/contract-factory.test.ts
  packages/contract/src/contract.ts
  packages/typechain-target-fuels/example/types/Demo.d.ts
  packages/typechain-target-fuels/example/types/Token.d.ts
  packages/typechain-target-fuels/src/codegen/functions.ts
  packages/typechain-target-fuels/src/codegen/index.ts
Labels: enhancement, P: critical, package:typechain, package:contracts

#354 feat: add transactionId on TransactionResult
  packages/providers/src/transaction-response/transaction-response.ts
Labels: enhancement

#352 feat: upgrade to Forc 0.16.1
  packages/contract/src/call-test-contract/Forc.lock
  packages/contract/src/contract-call-script/Forc.lock
  packages/contract/src/storage-test-contract/Forc.lock
  packages/contract/src/token-test-contract/token_abi/Forc.lock
  packages/contract/src/token-test-contract/token_contract/Forc.lock
  packages/example-contract/Forc.lock
  packages/forc-bin/package.json
  packages/script/src/call-test-script/Forc.lock
Labels: enhancement

#288 feat!: add Multicall
  packages/contract/.gitignore
  packages/contract/scripts/build-contract-call-script.sh
  packages/contract/scripts/build-forc-projects.sh
  packages/contract/scripts/build-multicall.sh
  packages/contract/scripts/process-multicall.ts
  packages/contract/src/call-test-contract/call-test-contract.test.ts
  packages/contract/src/contract-call-script/src/main.sw
  packages/contract/src/contract-factory.test.ts
  packages/contract/src/contract.test.ts
  packages/contract/src/contract.ts
  packages/contract/src/multicall/Forc.lock
  packages/contract/src/multicall/Forc.toml
  packages/contract/src/multicall/src/buf.sw
  packages/contract/src/multicall/src/contract_call.sw
  packages/contract/src/multicall/src/main.sw
  packages/contract/src/scripts.ts
Labels: enhancement

#355 chore: various fixes and improvements
  .vscode/launch.json
  packages/abi-coder/package.json
  packages/constants/package.json
  packages/contract/.gitignore
  packages/contract/package.json
  packages/contract/scripts/process-multicall.ts
  packages/contract/src/scripts.ts
  packages/fuels/package.json
  packages/hasher/package.json
  packages/hdwallet/package.json
  packages/interfaces/package.json
  packages/keystore/package.json
  packages/math/package.json
  packages/merkle-shared/package.json
  packages/merkle/package.json
  packages/merklesum/package.json
  packages/mnemonic/package.json
  packages/providers/package.json
  packages/script/.gitignore
  packages/script/package.json
  packages/signer/package.json
  packages/sparsemerkle/package.json
  packages/transactions/package.json
  packages/wallet-manager/package.json
  packages/wallet/package.json
  packages/wordlists/package.json
  pnpm-workspace.yaml
Labels: config

#358 chore: reorg CI config
  .github/workflows/pr-lint.yaml
  .github/workflows/publish-npm-master.yaml
  .github/workflows/test.yaml
Labels: ci

#363 refactor: github actions using reusable actions
  .github/actions/ci-setup/action.yaml
  .github/workflows/publish-npm-master.yaml
  .github/workflows/test.yaml
Labels: enhancement, ci

#366 test: make sure can dryRun with only provider (no wallet)
  packages/contract/src/storage-test-contract/storage-test-contract.test.ts
Labels: enhancement

#367 fix: module export file name
  packages/abi-coder/package.json
  packages/constants/package.json
  packages/contract/package.json
  packages/fuels/package.json
  packages/hasher/package.json
  packages/hdwallet/package.json
  packages/interfaces/package.json
  packages/keystore/package.json
  packages/math/package.json
  packages/merkle-shared/package.json
  packages/merkle/package.json
  packages/merklesum/package.json
  packages/mnemonic/package.json
  packages/providers/package.json
  packages/script/package.json
  packages/signer/package.json
  packages/sparsemerkle/package.json
  packages/transactions/package.json
  packages/wallet-manager/package.json
  packages/wallet/package.json
  packages/wordlists/package.json
Labels: P: critical

#368 fix: ci publish action
  .github/workflows/publish-npm-master.yaml
Labels: bug, ci

#362 chore: add template issues
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
Labels: ci

#369 fix: multi call with mutiple fowarding
  packages/contract/src/contract.test.ts
  packages/contract/src/contract.ts
Labels: bug, P: critical, package:contracts
