Repository FuelLabs/fuels-ts, pull requests merged in 2022-10, with the labels that each got.

#545 fix: dryRun should fundTransaction with required coins
  .changeset/slimy-timers-hope.md
  packages/contract/src/contracts/functions/base-invocation-scope.ts
  packages/fuel-gauge/src/contract.test.ts
Labels: bug

#554 refactor: add support for output messages
  .changeset/curvy-dolphins-flow.md
  docs/packages/fuel-ts-contract/namespaces/internal.md
  docs/packages/fuel-ts-hasher/namespaces/internal.md
  docs/packages/fuel-ts-providers/index.md
  docs/packages/fuel-ts-providers/namespaces/internal.md
  docs/packages/fuel-ts-transactions/classes/OutputWithdrawalCoder.md
  docs/packages/fuel-ts-transactions/enums/OutputType.md
  docs/packages/fuel-ts-transactions/index.md
  docs/packages/fuel-ts-wallet/classes/Wallet.md
  docs/packages/fuel-ts-wallet/classes/internal-BaseTransactionRequest.md
  docs/packages/fuel-ts-wallet/classes/internal-CreateTransactionRequest.md
  docs/packages/fuel-ts-wallet/classes/internal-ScriptTransactionRequest.md
  docs/packages/fuel-ts-wallet/namespaces/internal.md
  packages/providers/src/transaction-request/output.ts
  packages/transactions/src/coders/output.test.ts
  packages/transactions/src/coders/output.ts
  packages/transactions/src/coders/transaction.test.ts
Labels: documentation, package:transactions, 🔗 Fuel Specs

#558 refactor: add support for the messageout receipt type
  .changeset/clever-donkeys-serve.md
  docs/packages/fuel-ts-contract/namespaces/internal.md
  docs/packages/fuel-ts-providers/index.md
  docs/packages/fuel-ts-providers/namespaces/internal.md
  docs/packages/fuel-ts-transactions/classes/ReceiptMessageOutCoder.md
  docs/packages/fuel-ts-transactions/enums/ReceiptType.md
  docs/packages/fuel-ts-transactions/index.md
  docs/packages/fuel-ts-wallet/namespaces/internal.md
  packages/abi-coder/src/coders/byte.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/transactions/src/coders/receipt.test.ts
  packages/transactions/src/coders/receipt.ts
Labels: documentation, package:transactions, 🔗 Fuel Specs

#561 feat: add public wallet
  .changeset/empty-toys-change.md
  .eslintrc.js
  package.json
  packages/contract/src/contracts/contract-factory.ts
  packages/contract/src/contracts/contract.ts
  packages/contract/src/contracts/functions/base-invocation-scope.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/predicate.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/src/utils.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/src/util.ts
  packages/script/src/script.test.ts
  packages/typechain-target-fuels/example/types/factories/Demo__factory.ts
  packages/typechain-target-fuels/example/types/factories/MulticallAbi__factory.ts
  packages/typechain-target-fuels/example/types/factories/Token__factory.ts
  packages/typechain-target-fuels/src/codegen/index.ts
  packages/wallet-manager/src/types.ts
  packages/wallet-manager/src/vaults/mnemonic-vault.test.ts
  packages/wallet-manager/src/vaults/mnemonic-vault.ts
  packages/wallet-manager/src/vaults/privatekey-vault.ts
  packages/wallet-manager/src/wallet-manager.ts
  packages/wallet/package.json
  packages/wallet/src/base-locked-wallet.ts
  packages/wallet/src/base-unlocked-wallet.ts
  packages/wallet/src/constants.ts
  packages/wallet/src/index.ts
  packages/wallet/src/test-utils.ts
  packages/wallet/src/wallet-locked.test.ts
  packages/wallet/src/wallet-unlocked.test.ts
  packages/wallet/src/wallet.test.ts
  packages/wallet/src/wallet.ts
  packages/wallet/src/wallets.ts
  pnpm-lock.yaml
Labels: package:wallet, package:providers, package:contracts

#565 fix: handle encoding and fn_selector resolving of `raw untyped ptr`
  .changeset/tender-bags-sin.md
  packages/abi-coder/src/abi-coder.test.ts
  packages/abi-coder/src/abi-coder.ts
  packages/abi-coder/src/fragments/param-type.ts
  packages/forc-bin/package.json
  packages/fuel-gauge/test-projects/coverage-contract/src/main.sw
Labels: bug
