Repository FuelLabs/fuels-ts, pull requests merged in 2022-05, with the labels that each got.

#239 feat: add contract slots on contract deployment
  package-lock.json
  packages/contract/src/call-test-contract/Forc.lock
  packages/contract/src/call-test-contract/lib-core/Forc.toml
  packages/contract/src/call-test-contract/lib-core/src/lib.sw
  packages/contract/src/call-test-contract/lib-core/src/ops.sw
  packages/contract/src/call-test-contract/lib-std/Forc.toml
  packages/contract/src/call-test-contract/lib-std/src/address.sw
  packages/contract/src/call-test-contract/lib-std/src/b512.sw
  packages/contract/src/call-test-contract/lib-std/src/block.sw
  packages/contract/src/call-test-contract/lib-std/src/chain.sw
  packages/contract/src/call-test-contract/lib-std/src/chain/auth.sw
  packages/contract/src/call-test-contract/lib-std/src/constants.sw
  packages/contract/src/call-test-contract/lib-std/src/context.sw
  packages/contract/src/call-test-contract/lib-std/src/context/call_frames.sw
  packages/contract/src/call-test-contract/lib-std/src/context/registers.sw
  packages/contract/src/call-test-contract/lib-std/src/contract_id.sw
  packages/contract/src/call-test-contract/lib-std/src/ecr.sw
  packages/contract/src/call-test-contract/lib-std/src/hash.sw
  packages/contract/src/call-test-contract/lib-std/src/lib.sw
  packages/contract/src/call-test-contract/lib-std/src/math.sw
  packages/contract/src/call-test-contract/lib-std/src/option.sw
  packages/contract/src/call-test-contract/lib-std/src/panic.sw
  packages/contract/src/call-test-contract/lib-std/src/result.sw
  packages/contract/src/call-test-contract/lib-std/src/storage.sw
  packages/contract/src/call-test-contract/lib-std/src/token.sw
  packages/contract/src/contract-factory.test.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/storage-test-contract/Forc.lock
  packages/contract/src/storage-test-contract/Forc.toml
  packages/contract/src/storage-test-contract/lib-core/Forc.toml
  packages/contract/src/storage-test-contract/lib-core/src/lib.sw
  packages/contract/src/storage-test-contract/lib-core/src/ops.sw
  packages/contract/src/storage-test-contract/lib-std/Forc.toml
  packages/contract/src/storage-test-contract/lib-std/src/address.sw
  packages/contract/src/storage-test-contract/lib-std/src/b512.sw
  packages/contract/src/storage-test-contract/lib-std/src/block.sw
  packages/contract/src/storage-test-contract/lib-std/src/chain.sw
  packages/contract/src/storage-test-contract/lib-std/src/chain/auth.sw
  packages/contract/src/storage-test-contract/lib-std/src/constants.sw
  packages/contract/src/storage-test-contract/lib-std/src/context.sw
  packages/contract/src/storage-test-contract/lib-std/src/contract_id.sw
  packages/contract/src/storage-test-contract/lib-std/src/hash.sw
  packages/contract/src/storage-test-contract/lib-std/src/lib.sw
  packages/contract/src/storage-test-contract/lib-std/src/storage.sw
  packages/contract/src/storage-test-contract/out/debug/storage-test-abi.json
  packages/contract/src/storage-test-contract/out/debug/storage-test.bin
  packages/contract/src/storage-test-contract/src/main.sw
  packages/contract/src/token-test-contract/token_contract/Forc.lock
  packages/contract/src/util.ts
  packages/providers/src/transaction-request/storage-slot.ts
Labels: enhancement

#241 feat: add get contract on provider
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
Labels: enhancement

#243 feat!: upgrade to fuel-core 0.6.3
  docker-compose.yml
  packages/providers/src/provider.test.ts
  packages/wallet/src/transfer.test.ts
  packages/wallet/src/wallet.ts
  services/fuel-core/Dockerfile
Labels: ci

#245 chore: bump nodejs version to stable on nvmrc
  .nvmrc
Labels: ci

#242 fix: github action for publish on master and replaces Lerna publishing
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/workflows/publish-npm-master.yaml
  .github/workflows/sematic-release.yaml
  .gitignore
  .prettierignore
  .releaserc.json
  package.json
  pnpm-lock.yaml
  scripts/release-pre.ts
  scripts/release-stable.ts
  scripts/utils/changePackages.ts
  scripts/utils/generateChangelogs.ts
  scripts/utils/getVersion.ts
Labels: ci

#251 Balance APIs
  packages/providers/fuel-core-schema.graphql
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/wallet/src/wallet.ts
Labels: enhancement

#254 docs: add specifics infos into linked packages
  README.md
Labels: documentation

#247 Add FAQ section
  README.md
Labels: documentation

#257 Upgrade to Forc v0.12.1 and some chores
  packages/abi-coder/src/abi-coder.ts
  packages/abi-coder/src/fragments/fragment.ts
  packages/abi-coder/src/fragments/function-fragment.ts
  packages/abi-coder/src/index.ts
  packages/abi-coder/src/interface.ts
  packages/abi-coder/src/json-abi.ts
  packages/contract/src/call-test-contract/call-test-contract.test.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/contract.ts
  packages/contract/src/storage-test-contract/Forc.lock
  packages/contract/src/token-test-contract/token_contract/Forc.lock
  packages/example-contract/Forc.lock
  packages/example-contract/Forc.toml
  packages/example-contract/lib-core/Forc.toml
  packages/example-contract/lib-core/src/lib.sw
  packages/example-contract/lib-core/src/ops.sw
  packages/example-contract/lib-std/Forc.toml
  packages/example-contract/lib-std/src/address.sw
  packages/example-contract/lib-std/src/b512.sw
  packages/example-contract/lib-std/src/block.sw
  packages/example-contract/lib-std/src/chain.sw
  packages/example-contract/lib-std/src/chain/auth.sw
  packages/example-contract/lib-std/src/constants.sw
  packages/example-contract/lib-std/src/context.sw
  packages/example-contract/lib-std/src/contract_id.sw
  packages/example-contract/lib-std/src/hash.sw
  packages/example-contract/lib-std/src/lib.sw
  packages/example-contract/lib-std/src/storage.sw
  packages/example-contract/out/debug/example-contract.bin
  packages/typechain-target-fuels/example/types/Demo.d.ts
  packages/typechain-target-fuels/example/types/Token.d.ts
  packages/typechain-target-fuels/src/codegen/functions.ts
  packages/typechain-target-fuels/src/codegen/types.ts
Labels: enhancement

#256 feat: optional tx params
  packages/wallet/src/transfer.test.ts
  packages/wallet/src/wallet.ts
Labels: enhancement

#249 Add readmes for each package
  packages/abi-coder/README.md
  packages/constants/README.md
  packages/contract/README.md
  packages/hasher/README.md
  packages/hdwallet/README.md
  packages/interfaces/README.md
  packages/keystore/README.md
  packages/merkle-shared/README.md
  packages/merkle/README.md
  packages/merklesum/README.md
  packages/mnemonic/README.md
  packages/providers/README.md
  packages/signer/README.md
  packages/sparsemerkle/README.md
  packages/testcases/README.md
  packages/transactions/README.md
  packages/typechain-target-fuels/README.md
  packages/wallet-manager/README.md
  packages/wallet/README.md
  packages/wordlists/README.md
  typedoc.json
Labels: documentation

#271 Improve Script Error Reporting
  packages/contract/src/contract.ts
  packages/contract/src/scripts.ts
  packages/providers/src/index.ts
  packages/providers/src/provider.ts
  packages/providers/src/script.ts
  packages/providers/src/transaction-response/index.ts
  packages/providers/src/transaction-response/transaction-response.ts
Labels: enhancement

#248 add badges to README
  README.md
Labels: documentation

#290 feat: improve AbiCoder
  packages/abi-coder/package.json
  packages/abi-coder/src/abi-coder.test.ts
  packages/abi-coder/src/abi-coder.ts
  packages/abi-coder/src/coder.test.ts
  packages/abi-coder/src/coders/__snapshots__/coders.test.ts.snap
  packages/abi-coder/src/coders/abstract-coder.ts
  packages/abi-coder/src/coders/array.ts
  packages/abi-coder/src/coders/b256.ts
  packages/abi-coder/src/coders/boolean.ts
  packages/abi-coder/src/coders/byte.ts
  packages/abi-coder/src/coders/coders.test.ts
  packages/abi-coder/src/coders/enum.ts
  packages/abi-coder/src/coders/number.ts
  packages/abi-coder/src/coders/string.ts
  packages/abi-coder/src/coders/struct.ts
  packages/abi-coder/src/coders/tuple.ts
  packages/abi-coder/src/index.ts
  packages/abi-coder/src/interface.test.ts
  packages/abi-coder/src/interface.ts
  packages/abi-coder/src/json-abi.ts
  packages/abi-coder/src/utilities.ts
  packages/contract/src/call-test-contract/call-test-contract.test.ts
  packages/hasher/src/hasher.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/src/util.ts
  packages/transactions/src/coders/byte-array.test.ts
  packages/transactions/src/coders/byte-array.ts
  packages/transactions/src/coders/input.test.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/output.test.ts
  packages/transactions/src/coders/output.ts
  packages/transactions/src/coders/receipt.test.ts
  packages/transactions/src/coders/receipt.ts
  packages/transactions/src/coders/storage-slot.test.ts
  packages/transactions/src/coders/storage-slot.ts
  packages/transactions/src/coders/transaction.test.ts
  packages/transactions/src/coders/transaction.ts
  packages/transactions/src/coders/utxo-id.test.ts
  packages/transactions/src/coders/utxo-id.ts
  packages/transactions/src/coders/witness.test.ts
  packages/transactions/src/coders/witness.ts
  packages/typechain-target-fuels/example/types/Demo.d.ts
  packages/typechain-target-fuels/example/types/Token.d.ts
  packages/typechain-target-fuels/src/codegen/functions.ts
  pnpm-lock.yaml
Labels: enhancement
