Repository FuelLabs/fuels-ts, pull requests merged in 2022-09, with the labels that each got.

#458 feat: upgrade to fuel-core 0.10.1
  .changeset/tidy-bulldogs-tap.md
  packages/contract/src/__test__/call-test-contract/call-test-contract.test.ts
  packages/contract/src/__test__/contract.test.ts
  packages/contract/src/__test__/test-utils.ts
  packages/contract/src/contracts/contract-factory.ts
  packages/contract/src/contracts/functions/base-invocation-scope.ts
  packages/contract/src/contracts/multicall/Forc.toml
  packages/contract/src/contracts/multicall/src/buf.sw
  packages/contract/src/contracts/multicall/src/main.sw
  packages/contract/src/contracts/multicall/static-out/multicall-bin-hash
  packages/contract/src/contracts/multicall/static-out/multicall-bin.ts
  packages/contract/src/contracts/multicall/static-out/multicall-flat-abi.json
  packages/contract/src/contracts/multicall/static-out/multicall.bin
  packages/contract/src/types.ts
  packages/forc-bin/package.json
  packages/predicate/src/test-predicate-address/src/main.sw
  packages/predicate/src/test-predicate-struct/src/main.sw
  packages/predicate/src/test-predicate-u32/src/main.sw
  packages/providers/codegen.json
  packages/providers/fuel-core-schema.graphql
  packages/providers/src/coin.ts
  packages/providers/src/operations.graphql
  packages/providers/src/provider.test.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/input.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/testcases/src/sendTransaction.json
  packages/testcases/src/signTransaction.json
  packages/transactions/src/coders/input.test.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/transaction.test.ts
  packages/transactions/src/coders/transaction.ts
  packages/transactions/src/coders/tx-pointer.test.ts
  packages/transactions/src/coders/tx-pointer.ts
  packages/transactions/src/consts.ts
  packages/transactions/src/index.ts
  packages/wallet/src/test-utils.ts
  packages/wallet/src/transfer.test.ts
  packages/wallet/src/wallet.ts
  services/fuel-core/Dockerfile
Labels: P: critical, blocked

#481 feat: change from typechain to fuelchain
  .changeset/config.json
  .changeset/warm-apes-divide.md
  .gitignore
  README.md
  docs/QUICKSTART.md
  package.json
  packages/example-contract/out/debug/example-contract-abi.json
  packages/example-contract/package.json
  packages/example-contract/scripts/build.sh
  packages/fuelchain/LICENSE
  packages/fuelchain/README.md
  packages/fuelchain/package.json
  packages/fuelchain/scripts/post-build.ts
  packages/fuelchain/src/cli/cli.ts
  packages/fuelchain/src/cli/parseArgs.ts
  packages/fuelchain/src/codegen/createBarrelFiles.ts
  packages/fuelchain/src/codegen/outputTransformers/index.ts
  packages/fuelchain/src/codegen/outputTransformers/preamble.ts
  packages/fuelchain/src/codegen/outputTransformers/prettier.ts
  packages/fuelchain/src/codegen/syntax.ts
  packages/fuelchain/src/index.ts
  packages/fuelchain/src/parser/abiParser.ts
  packages/fuelchain/src/parser/normalizeName.ts
  packages/fuelchain/src/parser/parseEvmType.ts
  packages/fuelchain/src/typechain/findTarget.ts
  packages/fuelchain/src/typechain/io.ts
  packages/fuelchain/src/typechain/runTypeChain.ts
  packages/fuelchain/src/typechain/types.ts
  packages/fuelchain/src/utils/debug.ts
  packages/fuelchain/src/utils/errors.ts
  packages/fuelchain/src/utils/files/detectInputsRoot.ts
  packages/fuelchain/src/utils/files/ensureAbsPath.ts
  packages/fuelchain/src/utils/files/getFileExtension.ts
  packages/fuelchain/src/utils/files/getFilename.ts
  packages/fuelchain/src/utils/files/index.ts
  packages/fuelchain/src/utils/files/lowestCommonPath.ts
  packages/fuelchain/src/utils/files/normalizeSlashes.ts
  packages/fuelchain/src/utils/files/shortenFullJsonFilePath.ts
  packages/fuelchain/src/utils/glob.ts
  packages/fuelchain/src/utils/logger.ts
  packages/fuelchain/src/utils/modules.ts
  packages/fuelchain/src/utils/signatures.ts
  packages/fuelchain/tsconfig.build.json
  packages/fuelchain/tsconfig.json
  packages/typechain-target-fuels/README.md
  packages/typechain-target-fuels/package.json
  packages/typechain-target-fuels/src/codegen/functions.ts
  packages/typechain-target-fuels/src/codegen/index.ts
  packages/typechain-target-fuels/src/index.ts
  packages/typechain-target-fuels/src/parser/abiParser.ts
  packages/typechain-target-fuels/src/parser/parseSvmTypes.ts
  pnpm-lock.yaml
Labels: package:ABI, package:typechain

#479 chore: improve coverage step on github action
  .changeset/kind-tips-tell.md
  .github/workflows/pr-lint.yaml
  .github/workflows/test.yaml
  docs/CONTRIBUTING.md
  package.json
  packages/interfaces/src/index.ts
  packages/providers/src/transaction-request/transaction-request.ts
  scripts/ci-test.sh
Labels: ci

#489 docs: update QUICKSTART.md with updated forc deploy instructions
  docs/QUICKSTART.md
Labels: documentation

#495 fix: exports and imports
  .changeset/thirty-planes-laugh.md
  packages/abi-coder/src/index.ts
  packages/contract/src/index.ts
  packages/contract/src/scripts.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/output.ts
  packages/transactions/src/coders/receipt.ts
  packages/transactions/src/coders/transaction.ts
  packages/typechain-target-fuels/package.json
Labels: bug, refactor

#496 docs: Update QUICKSTART.md to use `run` with `fuel-core`
  docs/QUICKSTART.md
Labels: documentation, refactor, ⚙️ Fuel-Core

#501 feat: add exports to contract package
  .changeset/brown-snakes-brush.md
  packages/contract/src/contracts/functions/invocation-results.ts
  packages/contract/src/index.ts
Labels: refactor

#502 feat: add toJSON to Address Class
  .changeset/fuzzy-pumas-fail.md
  packages/address/src/address.test.ts
  packages/address/src/address.ts
  packages/interfaces/src/index.ts
Labels: refactor

#503 feat: change fundTransaction default to false on contract get
  .changeset/short-cobras-remain.md
  packages/contract/src/contracts/functions/base-invocation-scope.ts
Labels: refactor

#506 docs: Some enhancements to the code snippets in QUICKSTART.md
  docs/QUICKSTART.md
Labels: documentation, refactor

#508 fix: add missing exports array coder
  .changeset/three-moose-collect.md
  packages/transactions/src/index.ts
Labels: refactor

#509 fix: import package ByteArrayCoder
  .changeset/green-bats-doubt.md
  packages/script/src/script.ts
Labels: bug, refactor

#511 chore: update forc 0.24.3
  .changeset/neat-singers-bathe.md
  packages/contract/scripts/build-forc-projects.sh
  packages/contract/scripts/build-multicall.sh
  packages/contract/src/__test__/call-test-contract/call-test-contract.test.ts
  packages/contract/src/__test__/contract-factory.test.ts
  packages/contract/src/__test__/contract.test.ts
  packages/contract/src/__test__/coverage-contract/coverage-contract.test.ts
  packages/contract/src/__test__/generic-types-contract/generic-types-contract.test.ts
  packages/contract/src/__test__/storage-test-contract/storage-test-contract.test.ts
  packages/contract/src/__test__/token-test-contract/token-test-contract.test.ts
  packages/example-contract/scripts/build.sh
  packages/forc-bin/package.json
  packages/predicate/scripts/build.sh
  packages/script/scripts/build-call-test-script.sh
Labels: config

#522 feat: improve Option codegen and types
  .changeset/calm-snails-jam.md
  packages/typechain-target-fuels/example/multicall-abi.json
  packages/typechain-target-fuels/example/types/MulticallAbi.d.ts
  packages/typechain-target-fuels/example/types/factories/MulticallAbi__factory.ts
  packages/typechain-target-fuels/src/codegen/structs.ts
  packages/typechain-target-fuels/src/codegen/types.ts
  packages/typechain-target-fuels/src/out-type-checks.test.ts
  packages/typechain-target-fuels/src/parser/abiParser.ts
  packages/typechain-target-fuels/src/parser/parseSvmTypes.ts
  packages/typechain-target-fuels/src/utils.ts
Labels: package:typechain
