Repository FuelLabs/fuels-ts, pull requests merged in 2022-07, with the labels that each got.

#370 refactor: update contract api
  README.md
  packages/contract/README.md
  packages/contract/scripts/build-forc-projects.sh
  packages/contract/scripts/build-multicall.sh
  packages/contract/scripts/process-multicall.ts
  packages/contract/src/__test__/call-test-contract/Forc.lock
  packages/contract/src/__test__/call-test-contract/Forc.toml
  packages/contract/src/__test__/call-test-contract/call-test-contract.test.ts
  packages/contract/src/__test__/call-test-contract/src/main.sw
  packages/contract/src/__test__/contract-factory.test.ts
  packages/contract/src/__test__/contract.test.ts
  packages/contract/src/__test__/storage-test-contract/Forc.lock
  packages/contract/src/__test__/storage-test-contract/Forc.toml
  packages/contract/src/__test__/storage-test-contract/src/main.sw
  packages/contract/src/__test__/storage-test-contract/storage-test-contract.test.ts
  packages/contract/src/__test__/token-test-contract/token-test-contract.test.ts
  packages/contract/src/__test__/token-test-contract/token_abi/Forc.lock
  packages/contract/src/__test__/token-test-contract/token_abi/Forc.toml
  packages/contract/src/__test__/token-test-contract/token_abi/src/main.sw
  packages/contract/src/__test__/token-test-contract/token_contract/Forc.lock
  packages/contract/src/__test__/token-test-contract/token_contract/Forc.toml
  packages/contract/src/__test__/token-test-contract/token_contract/src/main.sw
  packages/contract/src/contract.ts
  packages/contract/src/contracts/contract-factory.ts
  packages/contract/src/contracts/contract.ts
  packages/contract/src/contracts/functions/base-invocation-scope.ts
  packages/contract/src/contracts/functions/invocation-results.ts
  packages/contract/src/contracts/functions/invocation-scope.ts
  packages/contract/src/contracts/functions/multicall-scope.ts
  packages/contract/src/contracts/multicall/Forc.lock
  packages/contract/src/contracts/multicall/Forc.toml
  packages/contract/src/contracts/multicall/src/buf.sw
  packages/contract/src/contracts/multicall/src/contract_call.sw
  packages/contract/src/contracts/multicall/src/main.sw
  packages/contract/src/index.ts
  packages/contract/src/scripts.ts
  packages/contract/src/types.ts
  packages/contract/src/util.ts
  packages/example-contract/src/example-contract.test.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/typechain-target-fuels/example/types/Demo.d.ts
  packages/typechain-target-fuels/example/types/MulticallAbi.d.ts
  packages/typechain-target-fuels/example/types/Token.d.ts
  packages/typechain-target-fuels/package.json
  packages/typechain-target-fuels/src/codegen/functions.ts
  packages/typechain-target-fuels/src/codegen/index.ts
  packages/typechain-target-fuels/src/codegen/types.ts
  pnpm-lock.yaml
Labels: release:minor, package:contracts, refactor

#383 feat: make predicates functions accept request tx params
  packages/contract/src/__test__/contract.test.ts
  packages/predicate/src/predicate.test.ts
  packages/predicate/src/predicate.ts
Labels: enhancement, package:predicate

#377 fix: add missing gas limit support to Multicall
  .changeset/gentle-lobsters-cry.md
  packages/contract/src/__test__/call-test-contract/src/main.sw
  packages/contract/src/__test__/contract.test.ts
  packages/contract/src/contracts/multicall/src/contract_call.sw
  packages/contract/src/contracts/multicall/src/main.sw
  packages/contract/src/scripts.ts
Labels: bug

#395 fix: `forc-update` script
  .changeset/nine-countries-know.md
  scripts/forc-update.ts
Labels: bug, config

#401 feat: upgrade to sway 0.18.1
  .changeset/nice-lemons-love.md
  packages/contract/src/__test__/call-test-contract/Forc.lock
  packages/contract/src/__test__/storage-test-contract/Forc.lock
  packages/contract/src/__test__/token-test-contract/token_abi/Forc.lock
  packages/contract/src/__test__/token-test-contract/token_contract/Forc.lock
  packages/contract/src/contracts/multicall/Forc.lock
  packages/contract/src/contracts/multicall/src/buf.sw
  packages/contract/src/contracts/multicall/src/main.sw
  packages/example-contract/Forc.lock
  packages/example-contract/out/debug/example-contract-abi.json
  packages/forc-bin/package.json
  packages/predicate/src/predicate.test.ts
  packages/providers/src/provider.test.ts
  packages/script/src/call-test-script/Forc.lock
  services/fuel-core/Dockerfile
Labels: enhancement, P: high, config

#410 fix: run forc-bin build before other packages
  .changeset/tough-spiders-trade.md
  .github/actions/ci-setup/action.yaml
  package.json
  packages/contract/src/__test__/call-test-contract/call-test-contract.test.ts
  packages/forc-bin/package.json
  pnpm-lock.yaml
  turbo.json
Labels: bug, ci

#413 fix: cache pnpm dependencies
  .github/actions/ci-setup/action.yaml
Labels: bug, ci

#384 feat: use std::tx::get_predicate_data in predicates contracts
  .changeset/shiny-badgers-cover.md
  packages/contract/src/scripts.ts
  packages/predicate/src/test-predicate-address/src/main.sw
  packages/predicate/src/test-predicate-struct/src/main.sw
  packages/predicate/src/test-predicate-u32/src/main.sw
  pnpm-lock.yaml
Labels: enhancement, package:predicate
