Repository FuelLabs/fuels-ts, pull requests merged in 2022-08, with the labels that each got.

#418 feat(ABI): add support to generic types
  .changeset/moody-weeks-cheer.md
  packages/abi-coder/package.json
  packages/abi-coder/src/fragments/fragment.ts
  packages/abi-coder/src/fragments/function-fragment.ts
  packages/abi-coder/src/fragments/param-type.ts
  packages/abi-coder/src/interface.test.ts
  packages/abi-coder/src/interface.ts
  packages/abi-coder/src/json-abi.test.ts
  packages/abi-coder/src/json-abi.ts
  packages/abi-coder/src/utilities.ts
  packages/contract/scripts/build-forc-projects.sh
  packages/contract/src/__test__/generic-types-contract/Forc.toml
  packages/contract/src/__test__/generic-types-contract/generic-types-contract.test.ts
  packages/contract/src/__test__/generic-types-contract/src/main.sw
  packages/contract/src/__test__/test-utils.ts
  pnpm-lock.yaml
Labels: enhancement, package:ABI

#437 fix: fuel-ts packages linking to node_modules
  .changeset/little-pillows-tickle.md
  .github/actions/ci-setup/action.yaml
  lerna.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: enhancement, config

#446 fix: update required coins on single call
  .changeset/quiet-cougars-smoke.md
  packages/contract/src/__test__/contract.test.ts
  packages/contract/src/contracts/functions/base-invocation-scope.ts
  packages/contract/src/contracts/functions/invocation-scope.ts
Labels: bug, package:contracts

#448 ci: no github create tags on create release
  package.json
Labels: config

#451 feat: initialize storage when deploying contract
  .changeset/tasty-geese-love.md
  packages/contract/package.json
  packages/contract/src/__test__/contract-factory.test.ts
  packages/contract/src/__test__/storage-test-contract/src/main.sw
  packages/contract/src/__test__/storage-test-contract/storage-test-contract.test.ts
  packages/contract/src/contracts/contract-factory.ts
  packages/contract/src/types.ts
  packages/contract/src/util.ts
  packages/forc-bin/package.json
  pnpm-lock.yaml
Labels: enhancement, package:contracts

#455 docs: updated import statement to match file name
  docs/QUICKSTART.md
Labels: documentation
