Repository FuelLabs/fuels-ts, pull requests merged in 2022-03, with the labels that each got.

#140 Release fix
  .releaserc.json
Labels: ci

#135 change author to authors in Forc.toml files
  packages/contract/src/test-contract/Forc.toml
  packages/contract/src/test-contract/lib-core/Forc.toml
  packages/contract/src/test-contract/lib-std/Forc.toml
  packages/example-contract/Forc.toml
  packages/example-contract/lib-core/Forc.toml
  packages/example-contract/lib-std/Forc.toml
  packages/providers/src/test-contract/Forc.toml
  packages/providers/src/test-contract/lib-core/Forc.toml
  packages/providers/src/test-contract/lib-std/Forc.toml
Labels: enhancement

#142 chore: Update releaserc and allow dry-runs on ci
  .github/workflows/sematic-release.yaml
  .releaserc.json
Labels: ci

#152 v0.3.0
  CHANGELOG.md
  lerna.json
  packages/abi-coder/CHANGELOG.md
  packages/abi-coder/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/example-contract/CHANGELOG.md
  packages/example-contract/package.json
  packages/fuels/CHANGELOG.md
  packages/fuels/package.json
  packages/hasher/CHANGELOG.md
  packages/hasher/package.json
  packages/hdwallet/CHANGELOG.md
  packages/hdwallet/package.json
  packages/merkle-shared/CHANGELOG.md
  packages/merkle-shared/package.json
  packages/merkle/CHANGELOG.md
  packages/merkle/package.json
  packages/merklesum/CHANGELOG.md
  packages/merklesum/package.json
  packages/mnemonic/CHANGELOG.md
  packages/mnemonic/package.json
  packages/providers/CHANGELOG.md
  packages/providers/package.json
  packages/signer/CHANGELOG.md
  packages/signer/package.json
  packages/sparsemerkle/CHANGELOG.md
  packages/sparsemerkle/package.json
  packages/testcases/CHANGELOG.md
  packages/testcases/package.json
  packages/transactions/CHANGELOG.md
  packages/transactions/package.json
  packages/typechain-target-fuels/CHANGELOG.md
  packages/typechain-target-fuels/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/package.json
  packages/wordlists/CHANGELOG.md
  packages/wordlists/package.json
Labels: ci

#156 Fix encoding of B256s with leading zero bytes
  package.json
  packages/abi-coder/src/coder.test.ts
  packages/abi-coder/src/coders/b256.ts
  packages/hdwallet/tsconfig.json
  packages/wallet/tsconfig.json
Labels: bug

#157 Chores
  .gitignore
  graphql.config.json
  package-lock.json
  packages/contract/package.json
  packages/contract/src/contract-factory.ts
  packages/contract/src/contract.test.ts
  packages/providers/codegen.json
  packages/providers/fuel-core-schema.graphql
  packages/providers/package.json
  packages/providers/src/operations.ts
  packages/providers/src/provider.test.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/src/util.ts
Labels: enhancement

#158 chore!: upgrade to fuel-core v0.4.1
  docs/packages/fuel-ts-abi-coder/classes/B256Coder.md
  docs/packages/fuel-ts-contract/classes/ContractFactory.md
  docs/packages/fuel-ts-providers/classes/Provider.md
  docs/packages/fuel-ts-providers/enums/CoinStatus.md
  docs/packages/fuel-ts-providers/enums/internal-GqlReturnType.md
  docs/packages/fuel-ts-providers/index.md
  docs/packages/fuel-ts-providers/namespaces/internal.md
  docs/packages/fuel-ts-transactions/index.md
  package-lock.json
  packages/abi-coder/src/interface.test.ts
  packages/contract/src/contract.test.ts
  packages/contract/src/test-contract/src/main.sw
  packages/example-contract/src/main.sw
  packages/hasher/src/hasher.ts
  packages/providers/codegen.json
  packages/providers/fuel-core-schema.graphql
  packages/providers/src/operations.graphql
  packages/providers/src/operations.ts
  packages/providers/src/provider.test.ts
  packages/providers/src/provider.ts
  packages/providers/src/test-contract/src/main.sw
  packages/providers/src/transaction-request/input.ts
  packages/providers/src/transaction-request/output.ts
  packages/providers/src/util.ts
  packages/testcases/src/sendTransaction.json
  packages/testcases/src/signTransaction.json
  packages/transactions/src/coders/input.test.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/output.test.ts
  packages/transactions/src/coders/output.ts
  packages/transactions/src/coders/receipt.test.ts
  packages/transactions/src/coders/receipt.ts
  packages/typechain-target-fuels/example/token.json
  packages/typechain-target-fuels/example/types/Token.d.ts
  packages/typechain-target-fuels/example/types/factories/Token__factory.ts
  packages/typechain-target-fuels/src/parser/abiParser.test.ts
  packages/wallet/src/wallet.test.ts
  services/fuel-core/Dockerfile
  services/fuel-core/chainConfig.json
Labels: enhancement

#166 Add sway to typescript types mapping table
  README.md
Labels: documentation

#180 feat: add `callStatic` methods to Contract
  packages/contract/src/contract.ts
  packages/contract/src/storage-test-contract.test.ts
Labels: enhancement

#182 feat!: start paying a symbolic amount for transactions
  package-lock.json
  packages/contract/package.json
  packages/contract/src/call-test-contract.test.ts
  packages/contract/src/contract-factory.test.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/contract.test.ts
  packages/contract/src/contract.ts
  packages/contract/src/storage-test-contract.test.ts
  packages/contract/tsconfig.json
  packages/example-contract/package.json
  packages/example-contract/src/example-contract.test.ts
  packages/example-contract/tsconfig.json
  packages/providers/src/provider.ts
  packages/typechain-target-fuels/example/types/factories/Demo__factory.ts
  packages/typechain-target-fuels/example/types/factories/Token__factory.ts
  packages/typechain-target-fuels/src/codegen/index.ts
  packages/wallet/src/test-utils.ts
  services/fuel-core/chainConfig.json
Labels: enhancement

#190 v0.4.0
  .eslintignore
  .prettierignore
  CHANGELOG.md
  lerna.json
  packages/abi-coder/CHANGELOG.md
  packages/abi-coder/package.json
  packages/constants/CHANGELOG.md
  packages/constants/package.json
  packages/contract/CHANGELOG.md
  packages/contract/package.json
  packages/example-contract/CHANGELOG.md
  packages/example-contract/package.json
  packages/fuels/CHANGELOG.md
  packages/fuels/package.json
  packages/hasher/CHANGELOG.md
  packages/hasher/package.json
  packages/hdwallet/CHANGELOG.md
  packages/hdwallet/package.json
  packages/merkle-shared/CHANGELOG.md
  packages/merkle-shared/package.json
  packages/merkle/CHANGELOG.md
  packages/merkle/package.json
  packages/merklesum/CHANGELOG.md
  packages/merklesum/package.json
  packages/mnemonic/CHANGELOG.md
  packages/mnemonic/package.json
  packages/providers/CHANGELOG.md
  packages/providers/package.json
  packages/signer/CHANGELOG.md
  packages/signer/package.json
  packages/sparsemerkle/CHANGELOG.md
  packages/sparsemerkle/package.json
  packages/testcases/CHANGELOG.md
  packages/testcases/package.json
  packages/transactions/CHANGELOG.md
  packages/transactions/package.json
  packages/typechain-target-fuels/CHANGELOG.md
  packages/typechain-target-fuels/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/package.json
  packages/wordlists/CHANGELOG.md
  packages/wordlists/package.json
Labels: ci

#192 Convenient Coin APIs
  package-lock.json
  packages/contract/package.json
  packages/contract/src/call-test-contract/call-test-contract.test.ts
  packages/contract/src/contract-factory.test.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/contract.test.ts
  packages/contract/src/contract.ts
  packages/contract/src/storage-test-contract/storage-test-contract.test.ts
  packages/contract/tsconfig.json
  packages/example-contract/src/example-contract.test.ts
  packages/hasher/src/hasher.test.ts
  packages/hasher/src/hasher.ts
  packages/interfaces/CHANGELOG.md
  packages/interfaces/LICENSE
  packages/interfaces/package.json
  packages/interfaces/src/index.ts
  packages/interfaces/tsconfig.json
  packages/providers/package.json
  packages/providers/src/coin-quantity.ts
  packages/providers/src/coin.ts
  packages/providers/src/index.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/input.ts
  packages/providers/src/transaction-request/output.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/tsconfig.json
  packages/testcases/src/sendTransaction.json
  packages/testcases/src/signTransaction.json
  packages/wallet/package.json
  packages/wallet/src/test-utils.ts
  packages/wallet/src/transfer.test.ts
  packages/wallet/src/wallet.test.ts
  packages/wallet/src/wallet.ts
  packages/wallet/tsconfig.json
Labels: enhancement
