Repository FuelLabs/fuels-ts, pull requests merged in 2023-12, with the labels that each got.

#1473 fix: auto-load storage slots in `fuels deploy`
  .changeset/kind-doors-grow.md
  packages/fuels/src/cli/commands/deploy/deployContract.ts
  packages/fuels/src/cli/commands/deploy/index.ts
  packages/fuels/src/cli/config/forcUtils.ts
Labels: bug

#1468 feat: add typegen support for string slice
  .changeset/fast-forks-lie.md
  apps/docs-snippets/test/fixtures/forc-projects/echo-values/src/main.sw
  packages/abi-typegen/src/abi/types/StrSliceType.ts
  packages/abi-typegen/src/abi/types/StrSlicesType.test.ts
  packages/abi-typegen/src/utils/supportedTypes.test.ts
  packages/abi-typegen/src/utils/supportedTypes.ts
Labels: New feature

#1481 fix: bin path for `fuels-forc` in fuels CLI, add support bun's structure
  .changeset/mean-phones-tickle.md
  packages/fuels/src/cli.ts
  packages/fuels/src/cli/commands/build/buildSwayPrograms.ts
  packages/fuels/src/cli/commands/dev/startFuelCore.ts
  packages/fuels/src/cli/utils/findBinPath.ts
  packages/fuels/src/cli/utils/findPackageRoot.ts
Labels: bug

#1484 docs: configure spell-check
  .changeset/polite-dragons-study.md
  .github/workflows/test.yaml
  apps/docs/.spellcheck.yml
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/abi-typegen/index.md
  apps/docs/src/guide/abi-typegen/using-generated-types.md
  apps/docs/src/guide/cli/commands.md
  apps/docs/src/guide/contracts/inter-contract-calls.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/contracts/storage-slots.md
  apps/docs/src/guide/messages/index.md
  apps/docs/src/guide/predicates/index.md
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  apps/docs/src/guide/providers/connecting-to-an-external-node.md
  apps/docs/src/guide/testing/setting-up-a-custom-chain.md
  apps/docs/src/guide/types/address.md
  apps/docs/src/guide/types/bech32.md
  apps/docs/src/guide/types/bits256.md
  apps/docs/src/guide/types/conversion.md
  apps/docs/src/guide/types/enums.md
  apps/docs/src/guide/types/evm-address.md
  apps/docs/src/guide/types/raw-slice.md
  apps/docs/src/guide/types/std-string.md
  apps/docs/src/guide/wallet-manager/getting-started-with-wallet-manager.md
  apps/docs/src/guide/wallet-manager/index.md
  apps/docs/src/guide/wallets/access.md
  apps/docs/src/index.md
Labels: docs

#1490 fix: rewrite un-publish CI in JS
  .github/workflows/release-unpublish.yaml
  scripts/release-unpublish.js
Labels: chore

#1494 refactor: remove hacky solution to get right witness offset
  .changeset/moody-walls-admire.md
  packages/transactions/src/coders/witness.test.ts
  packages/transactions/src/coders/witness.ts
Labels: bug

#1503 fix: make `MintTransaction` to conform with new `fuel-core` `0.21` upgrade
  .changeset/wicked-pens-mix.md
  packages/transactions/src/coders/transaction.test.ts
  packages/transactions/src/coders/transaction.ts
Labels: bug

#1493 docs: fix invalid `context` imports in `doc-examples`
  .changeset/unlucky-terms-glow.md
  packages/fuel-gauge/src/doc-examples.test.ts
Labels: docs

#1496 chore: updating code owners
  .changeset/poor-ravens-enjoy.md
  .github/CODEOWNERS
Labels: chore

#1470 docs: standardize shell commands in the docs
  .changeset/cuddly-days-wink.md
  apps/docs/src/getting-started.md
  apps/docs/src/guide/abi-typegen/generating-types-from-abi.md
  apps/docs/src/guide/abi-typegen/using-generated-types.md
  apps/docs/src/guide/cli/index.md
  apps/docs/src/index.md
  packages/abi-coder/README.md
  packages/abi-typegen/README.md
  packages/address/README.md
  packages/contract/README.md
  packages/crypto/README.md
  packages/errors/README.md
  packages/hasher/README.md
  packages/hdwallet/README.md
  packages/interfaces/README.md
  packages/math/README.md
  packages/merkle/README.md
  packages/mnemonic/README.md
  packages/predicate/README.md
  packages/program/README.md
  packages/providers/README.md
  packages/signer/README.md
  packages/testcases/README.md
  packages/transactions/README.md
  packages/utils/README.md
  packages/versions/README.md
  packages/wallet-manager/README.md
  packages/wallet/README.md
  packages/wordlists/README.md
Labels: docs

#1511 chore: upgrading `fuel-core` to `0.22`
  .changeset/swift-dancers-cheat.md
  packages/fuel-core/VERSION
  packages/providers/fuel-core-schema.graphql
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/providers/src/transaction-summary/calculate-transaction-fee.test.ts
  packages/providers/test/fixtures/chain.ts
  packages/providers/test/fixtures/nodeInfo.ts
  packages/providers/test/provider.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#1512 chore: fix version usage in un-publish script
  .changeset/young-pots-pump.md
  scripts/release-unpublish.js
Labels: chore

#1513 fix: replace the outdated `--manual_blocks_enabled` flag with `--debug` (fuel-core)
  .changeset/clean-fans-wait.md
  packages/fuels/src/cli/commands/dev/startFuelCore.ts
Labels: bug

#1514 fix: flaky tests
  .changeset/flat-readers-refuse.md
  packages/fuel-gauge/src/utils.ts
Labels: bug

#1508 docs: improve documentation on address format conversions
  .changeset/stale-flowers-cheer.md
  apps/docs-snippets/src/guide/types/bech32.test.ts
  apps/docs-snippets/src/guide/types/bits256.test.ts
  apps/docs-snippets/src/guide/types/bits512.test.ts
  apps/docs-snippets/src/guide/types/conversion.test.ts
  apps/docs-snippets/src/guide/types/evm-address.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/addresses/conversion.md
  apps/docs/src/guide/addresses/index.md
  apps/docs/src/guide/types/conversion.md
Labels: docs

#1485 feat: add method to hash TX on `TransactionRequest` classes
  .changeset/brown-zebras-remember.md
  apps/docs-snippets/src/guide/cookbook/transferring-assets.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs-snippets/src/guide/wallets/transferring-assets.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cookbook/transferring-assets.md
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  apps/docs/src/guide/wallets/transferring-assets.md
  internal/check-imports/src/references.ts
  packages/hasher/package.json
  packages/hasher/src/hasher.test.ts
  packages/hasher/src/hasher.ts
  packages/predicate/src/predicate.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/providers/package.json
  packages/providers/src/transaction-request/create-transaction-request.ts
  packages/providers/src/transaction-request/hash-transaction.test.ts
  packages/providers/src/transaction-request/hash-transaction.ts
  packages/providers/src/transaction-request/script-transaction-request.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/test/fixtures/transaction-request.ts
  packages/wallet/src/account.ts
  packages/wallet/src/base-unlocked-wallet.ts
  packages/wallet/src/transfer.test.ts
  packages/wallet/src/wallet-unlocked.test.ts
  packages/wallet/test/fixtures/wallet-unlocked.ts
  pnpm-lock.yaml
Labels: feat

#1403 docs: purge hardcoded snippets on 'using typegen' page
  .changeset/odd-kids-buy.md
  .eslintignore
  .prettierignore
  apps/demo-typegen/.gitignore
  apps/demo-typegen/package.json
  apps/demo-typegen/predicate/.gitignore
  apps/demo-typegen/predicate/Forc.toml
  apps/demo-typegen/predicate/src/main.sw
  apps/demo-typegen/script/.gitignore
  apps/demo-typegen/script/Forc.toml
  apps/demo-typegen/script/src/main.sw
  apps/demo-typegen/src/demo.test.ts
  apps/docs/src/guide/abi-typegen/using-generated-types.md
  nodemon.config.json
Labels: docs

#1516 chore: fix un-publish release script
  .changeset/funny-dolls-greet.md
  scripts/release-unpublish.js
Labels: chore

#1445 chore: remove method that's same as base method
  .changeset/late-mugs-kick.md
  packages/script/src/script-invocation-scope.ts
Labels: chore

#1525 chore: purge `testcases` package
  .changeset/hip-humans-hide.md
  packages/address/package.json
  packages/address/src/address.test.ts
  packages/hasher/package.json
  packages/hasher/src/hasher.test.ts
  packages/signer/package.json
  packages/signer/src/signer.test.ts
  packages/testcases/CHANGELOG.md
  packages/testcases/LICENSE
  packages/testcases/README.md
  packages/testcases/package.json
  packages/testcases/src/sendTransaction.json
  packages/testcases/src/signMessage.json
  packages/testcases/src/signTransaction.json
  packages/wallet/package.json
  packages/wallet/src/wallet-unlocked.test.ts
  pnpm-lock.yaml
Labels: chore

#1526 chore: remove changeset mention for `testcases` package
  .changeset/great-walls-compete.md
  .changeset/violet-mice-rest.md
  internal/check-imports/src/imports.ts
  internal/check-imports/src/references.ts
Labels: chore

#1497 chore: implement RC workflow
  .changeset/flat-dodos-crash.md
  .github/workflows/rc-release.yaml
Labels: chore

#1529 chore: fix rc release string replace
  .changeset/stale-lizards-shop.md
  .github/workflows/rc-release.yaml
Labels: chore

#1523 fix: ensure `getTransactionCost` not returns fee values as 0 when node `minGasPrice` is 0
  .changeset/six-shoes-impress.md
  packages/math/src/bn.test.ts
  packages/math/src/bn.ts
  packages/providers/src/coin-quantity.ts
  packages/providers/src/provider.ts
  packages/providers/test/provider.test.ts
  packages/wallet/src/account.ts
Labels: bug

#1520 docs: Update the hyperlinks to reference the new documentation hub
  .changeset/selfish-wombats-dance.md
  README.md
  apps/docs/src/guide/abi-typegen/index.md
  apps/docs/src/guide/contracts/deploying-contracts.md
  apps/docs/src/guide/predicates/index.md
  apps/docs/src/guide/scripts/index.md
  apps/docs/src/guide/scripts/instantiating-a-script.md
  apps/docs/src/guide/testing/index.md
  apps/docs/src/guide/types/index.md
  apps/docs/src/index.md
  packages/abi-coder/README.md
  packages/abi-typegen/README.md
  packages/address/README.md
  packages/contract/README.md
  packages/crypto/README.md
  packages/errors/README.md
  packages/hasher/README.md
  packages/hdwallet/README.md
  packages/interfaces/README.md
  packages/math/README.md
  packages/merkle/README.md
  packages/mnemonic/README.md
  packages/predicate/README.md
  packages/program/README.md
  packages/providers/README.md
  packages/signer/README.md
  packages/transactions/README.md
  packages/utils/README.md
  packages/versions/README.md
  packages/wallet-manager/README.md
  packages/wallet/README.md
  packages/wordlists/README.md
Labels: docs

#1535 chore: adding workflow timeouts
  .changeset/spicy-walls-judge.md
  .github/workflows/test.yaml
Labels: chore

#1559 chore: improve rc release message
  .changeset/tasty-hotels-pay.md
  .github/workflows/rc-release.yaml
Labels: chore

#1531 fix: `TransactionRequest` funding
  .changeset/sour-apples-prove.md
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/transaction-request.test.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/wallet/src/account.test.ts
  packages/wallet/src/account.ts
Labels: bug

#1374 feat: GraphQL subscriptions
  .changeset/serious-laws-judge.md
  .eslintrc.js
  .github/actions/ci-setup/action.yaml
  .github/actions/test-setup/action.yaml
  .nvmrc
  package.json
  packages/abi-coder/package.json
  packages/abi-typegen/package.json
  packages/address/package.json
  packages/contract/package.json
  packages/crypto/package.json
  packages/errors/package.json
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuels/package.json
  packages/hasher/package.json
  packages/hdwallet/package.json
  packages/interfaces/package.json
  packages/math/package.json
  packages/merkle/package.json
  packages/mnemonic/package.json
  packages/predicate/package.json
  packages/program/package.json
  packages/providers/codegen.json
  packages/providers/package.json
  packages/providers/src/fuel-graphql-subscriber.ts
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/test/provider.test.ts
  packages/script/package.json
  packages/signer/package.json
  packages/transactions/package.json
  packages/utils/package.json
  packages/versions/package.json
  packages/wallet-manager/package.json
  packages/wallet/package.json
  packages/wordlists/package.json
  pnpm-lock.yaml
Labels: feat

#1574 chore: upgrade `tsx`
  .changeset/funny-radios-doubt.md
  package.json
  pnpm-lock.yaml
Labels: chore

#1579 chore: fix temp test workflow
  .changeset/twenty-clocks-peel.md
  .github/workflows/test.yaml
Labels: chore

#1582 chore: adjusting `create-fuels` package and `test` workflow
  .changeset/swift-students-ring.md
  .github/workflows/test.yaml
  packages/create-fuels/package.json
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/tsdoc.json
Labels: chore

#1575 chore: add node version test matrix
  .changeset/angry-humans-happen.md
  .github/workflows/test.yaml
Labels: chore

#1580 chore: fix broken rc message
  .changeset/olive-clocks-double.md
  .github/workflows/rc-release.yaml
Labels: chore

#1544 chore: update nodejs to v20
  .changeset/real-owls-leave.md
  .github/actions/ci-setup/action.yaml
  .github/actions/test-setup/action.yaml
  .github/workflows/test.yaml
  .nvmrc
  package.json
  packages/abi-coder/package.json
  packages/abi-typegen/package.json
  packages/address/package.json
  packages/contract/package.json
  packages/create-fuels/package.json
  packages/crypto/package.json
  packages/errors/package.json
  packages/fuels/package.json
  packages/hasher/package.json
  packages/hdwallet/package.json
  packages/interfaces/package.json
  packages/math/package.json
  packages/merkle/package.json
  packages/mnemonic/package.json
  packages/predicate/package.json
  packages/program/package.json
  packages/providers/package.json
  packages/script/package.json
  packages/signer/package.json
  packages/transactions/package.json
  packages/utils/package.json
  packages/versions/package.json
  packages/wallet-manager/package.json
  packages/wallet/package.json
  packages/wordlists/package.json
Labels: chore

#1583 feat: accepting addresses as `string`
  .changeset/soft-falcons-agree.md
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/test/provider.test.ts
  packages/wallet-manager/src/vaults/mnemonic-vault.test.ts
  packages/wallet-manager/src/vaults/mnemonic-vault.ts
  packages/wallet-manager/src/vaults/privatekey-vault.ts
  packages/wallet-manager/src/wallet-manager.ts
  packages/wallet/src/account.ts
  packages/wallet/src/keystore-wallet.test.ts
  packages/wallet/src/keystore-wallet.ts
  packages/wallet/src/transfer.test.ts
  packages/wallet/src/wallet.test.ts
Labels: feat

#1586 chore: properly format the PR coverage report comment
  .changeset/big-boxes-tan.md
  scripts/tests-coverage-diff.ts
Labels: chore

#1590 fix: flaky test
  .changeset/wicked-timers-push.md
  packages/providers/test/provider.test.ts
Labels: bug

#1591 docs: update `deposit-and-withdraw` page
  .changeset/kind-hotels-divide.md
  apps/docs-snippets/src/guide/cookbook/deposit-and-withdraw.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs-snippets/test/fixtures/forc-projects/liquidity-pool/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  apps/docs/src/guide/cookbook/deposit-and-withdraw.md
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  packages/fuel-gauge/test/fixtures/index.ts
  packages/providers/test/provider.test.ts
  packages/transactions/src/coders/receipt.ts
Labels: docs
