Repository FuelLabs/fuels-ts, pull requests merged in 2023-09, with the labels that each got.

#1220 fix: stateRoot calculation on sparse merkle tree
  .changeset/mean-walls-check.md
  apps/docs-snippets/projects/counter/src/main.sw
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/utils.ts
  packages/contract/package.json
  packages/fuel-gauge/fixtures/forc-projects/storage-test-contract/src/main.sw
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/merkle/src/sparse/sparseMerkleTree.ts
  packages/utils/src/test-utils/getForcProject.ts
Labels: bug

#1204 feat: add `launchNode` and `launchNodeAndGetWallets`
  .changeset/five-snakes-act.md
  apps/docs/src/guide/testing/index.md
  packages/wallet/package.json
  packages/wallet/src/test-utils.ts
  packages/wallet/src/test-utils/defaultChainConfig.ts
  packages/wallet/src/test-utils/launchNode.test.ts
  packages/wallet/src/test-utils/launchNode.ts
  pnpm-lock.yaml
Labels: New feature

#1217 fix: forbid multicall for more than one function that returns heap types
  .changeset/cyan-avocados-burn.md
  packages/abi-coder/src/constants.ts
  packages/abi-coder/src/utilities.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/fixtures/forc-projects/call-test-contract/src/main.sw
  packages/fuel-gauge/package.json
  packages/fuel-gauge/src/contract.test.ts
  packages/program/package.json
  packages/program/src/functions/multicall-scope.ts
  pnpm-lock.yaml
Labels: bug, dev-experience

#1252 feat: add `date` to `TransactionSummary`
  .changeset/rich-clocks-wait.md
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/providers/package.json
  packages/providers/src/transaction-summary/assemble-transaction-summary.ts
  packages/providers/src/transaction-summary/date.test.ts
  packages/providers/src/transaction-summary/date.ts
  packages/providers/src/transaction-summary/index.ts
  packages/providers/src/transaction-summary/types.ts
  packages/providers/test/fixtures/transaction-summary.ts
  pnpm-lock.yaml
Labels: New feature

#1246 test: add throw scenarios to `simulate` and `dryRun`
  .changeset/rare-buttons-chew.md
  apps/demo-typegen/package.json
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/src/guide/contracts/simulate-transactions.test.ts
  pnpm-lock.yaml
Labels: tests

#1267 chore: Add and export explicit return types for `launchNodeAndGetWallets` and `launchNode`
  .changeset/twenty-cups-shop.md
  packages/wallet/src/test-utils/launchNode.ts
Labels: dev-experience

#1266 fix: make sure `pid` is defined before attempting to kill `launchNodeAndGetWallets`
  .changeset/olive-berries-happen.md
  packages/wallet/src/test-utils/launchNode.ts
Labels: bug

#1268 refactor: use `FUEL_NETWORK_URL` everywhere instead of hardcoded URLs
  .changeset/bright-dogs-sniff.md
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/src/guide/testing/tweaking-the-blockchain.test.ts
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/fuel-gauge/src/configurable-contract.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/multi-token-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/setupContract.ts
  packages/fuel-gauge/src/predicate/utils/predicate/setupWallets.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/script-main-args.test.ts
  packages/fuel-gauge/src/script-with-configurable.test.ts
  packages/fuel-gauge/src/script-with-vectors.test.ts
  packages/fuel-gauge/src/storage-test-contract.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/src/utils.ts
  packages/fuel-gauge/src/vector-types.test.ts
  packages/program/src/contract.test.ts
  packages/providers/test/provider.test.ts
  packages/script/src/script.test.ts
  packages/wallet/src/account.test.ts
  packages/wallet/src/transfer.test.ts
Labels: refactor

#1270 refactor!: remove `chainId` from the `Predicate` constructor
  .changeset/gold-planets-double.md
  apps/docs-snippets/src/guide/predicates/index.test.ts
  apps/docs-snippets/src/guide/predicates/predicate-with-configurable.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  packages/abi-typegen/src/templates/predicate/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/factory.hbs
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-evaluations.test.ts
  packages/fuel-gauge/src/predicate/predicate-invalidations.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/vector-types.test.ts
  packages/predicate/src/predicate.ts
  packages/predicate/test/features/predicate-functions.test.ts
  packages/predicate/test/features/predicate-transactions.test.ts
  packages/providers/src/provider.ts
Labels: refactor

#1271 refactor: Purging `GAS_PRICE_FACTOR` and `GAS_PER_BYTE` constants
  .changeset/spicy-tables-taste.md
  apps/docs-snippets/src/guide/scripts/script-custom-transaction.test.ts
  internal/check-imports/src/references.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/src/transaction-summary/assemble-transaction-summary.ts
  packages/providers/src/transaction-summary/get-transaction-summary.ts
  packages/providers/src/utils/fee.ts
  packages/script/src/script.test.ts
  packages/transactions/src/configs.ts
  packages/wallet/src/account.ts
Labels: refactor

#1214 refactor: slim down `interfaces` package's `AbstractProgram`
  .changeset/old-onions-count.md
  packages/interfaces/src/index.ts
  packages/program/src/functions/invocation-results.ts
  packages/program/src/script-request.ts
Labels: refactor

#1256 feat: implement GraphQL subscriptions support
  .changeset/twelve-apes-kneel.md
  .eslintrc.js
  .github/actions/ci-setup/action.yaml
  .nvmrc
  package.json
  packages/errors/src/error-codes.ts
  packages/providers/codegen.json
  packages/providers/package.json
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/test/provider.test.ts
  pnpm-lock.yaml
Labels: New feature, package:providers

#1272 refactor: purging constant `MAX_GAS_PER_TX`
  .changeset/silly-paws-leave.md
  packages/contract/src/contract-factory.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/transactions/src/configs.ts
  packages/wallet/src/account.ts
Labels: refactor

#1296 refactor: make `transactionRequest` protected on `BaseInvocationScope`
  .changeset/three-dolls-melt.md
  packages/fuel-gauge/src/contract.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: refactor, dev-experience

#1294 refactor: rename Provider method `switchUrl` to `connect`
  .changeset/dry-cars-jam.md
  packages/providers/src/provider.ts
  packages/providers/test/fixtures/messageProof.ts
  packages/providers/test/fixtures/messageStatus.ts
  packages/providers/test/provider.test.ts
Labels: refactor
