Repository FuelLabs/fuels-ts, pull requests merged in 2023-04, with the labels that each got.

#870 fix: issue with an imported CommonJS module & Next.js/Vite support
  .changeset/hip-wasps-deny.md
  packages/signer/src/signer.ts
Labels: bug

#866 feat: add interface to produce blocks with custom timestamps
  .changeset/honest-experts-tan.md
  packages/providers/src/operations.graphql
  packages/providers/src/provider.test.ts
  packages/providers/src/provider.ts
  packages/providers/src/utils/index.ts
  packages/providers/src/utils/time.test.ts
  packages/providers/src/utils/time.ts
  services/fuel-core/Dockerfile
Labels: New feature, package:providers

#926 docs: fix wrong entry in call params page
  .changeset/tidy-crabs-bathe.md
  apps/docs/src/guide/contracts/call-parameters.md
Labels: documentation

#954 refactor: rename `addMissingVariables` to `estimateTxDependencies`, add docs
  .changeset/funny-balloons-cheat.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/transaction-dependency-estimation.md
  packages/providers/src/provider.ts
  packages/wallet/src/account.test.ts
  packages/wallet/src/account.ts
  packages/wallet/src/base-unlocked-wallet.ts
  packages/wallet/src/wallet-unlocked.test.ts
Labels: documentation, refactor
