Repository FuelLabs/fuels-ts, pull requests merged in 2023-07, with the labels that each got.

#1082 fix: add multicall static out folder to nodemon ignore config
  .changeset/plenty-lies-grow.md
  nodemon.config.json
Labels: bug, config

#1092 fix: the `fuel-core` package cleanup and installation routine
  .changeset/many-dryers-flow.md
  packages/fuel-core/src/install.ts
Labels: bug

#1085 chore: upgrade `fuel-core` to `0.19.0`
  .changeset/nine-pets-drop.md
  .fuel-core/configs/chainConfig.json
  packages/contract/src/util.ts
  packages/fuel-core/VERSION
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/storage-test-contract.test.ts
  packages/merkle/src/sparse/sparseMerkleTree.test.ts
  packages/predicate/src/utils/getContractRoot.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/providers/fuel-core-schema.graphql
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/input.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/test/provider.test.ts
  packages/testcases/src/signTransaction.json
  packages/transactions/src/coders/input.test.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/transaction.test.ts
  packages/versions/src/lib/getSupportedVersions.ts
Labels: config

#1011 refactor: docs snippets utility functions
  .changeset/tame-cats-heal.md
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  apps/docs-snippets/src/guide/contracts/calls-with-different-wallets.test.ts
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/contracts/cost-estimation.test.ts
  apps/docs-snippets/src/guide/contracts/index.test.ts
  apps/docs-snippets/src/guide/contracts/inter-contract-calls.test.ts
  apps/docs-snippets/src/guide/contracts/logs.test.ts
  apps/docs-snippets/src/guide/contracts/managing-deployed-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/guide/contracts/read-only-calls.test.ts
  apps/docs-snippets/src/guide/contracts/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/predicates/index.test.ts
  apps/docs-snippets/src/guide/predicates/predicate-with-configurable.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs-snippets/src/guide/scripts/script-custom-transaction.test.ts
  apps/docs-snippets/src/guide/scripts/script-with-configurable.test.ts
  apps/docs-snippets/src/guide/types/arrays.test.ts
  apps/docs-snippets/src/guide/types/bits512.test.ts
  apps/docs-snippets/src/guide/types/enums.test.ts
  apps/docs-snippets/src/guide/types/options.test.ts
  apps/docs-snippets/src/guide/types/string.test.ts
  apps/docs-snippets/src/guide/types/tuples.test.ts
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs-snippets/src/guide/wallets/transferring-assets.test.ts
  apps/docs-snippets/src/utils.ts
  packages/utils/src/test-utils/getForcProject.test.ts
  packages/utils/src/test-utils/getForcProject.ts
Labels: refactor

#1126 docs: add docs around custom storage slots
  .changeset/quiet-eggs-fetch.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/storage-slots.md
  packages/fuel-gauge/src/storage-test-contract.test.ts
Labels: documentation

#1115 feat: implement typedoc in vitepress
  .changeset/pink-pens-turn.md
  apps/docs/.gitignore
  apps/docs/.typedoc/api-readme.md
  apps/docs/.vitepress/config.ts
  apps/docs/package.json
  apps/docs/typedoc.json
  packages/address/src/address.ts
  packages/address/src/utils.ts
  packages/address/tsdoc.json
  packages/address/typedoc.json
  packages/interfaces/src/index.ts
  packages/interfaces/tsdoc.json
  packages/interfaces/typedoc.json
  pnpm-lock.yaml
  tsdoc.base.json
  typedoc.base.json
Labels: documentation

#1137 feat: refactor predicate and contract root calculations
  .changeset/tall-boxes-fail.md
  packages/contract/package.json
  packages/contract/src/util.ts
  packages/predicate/package.json
  packages/predicate/src/predicate.ts
  packages/predicate/src/utils/getContractRoot.ts
  packages/predicate/src/utils/getPredicateRoot.ts
  packages/predicate/src/utils/index.ts
  packages/utils/src/index.ts
  packages/utils/src/utils/chunkAndPadBytes.test.ts
  packages/utils/src/utils/chunkAndPadBytes.ts
  pnpm-lock.yaml
Labels: refactor

#1140 refactor: rename `keystore` package to `crypto`
  .changeset/small-beds-drum.md
  internal/check-imports/package.json
  internal/check-imports/src/imports.ts
  internal/check-imports/src/references.ts
  packages/abi-coder/package.json
  packages/abi-coder/src/function-fragment.ts
  packages/address/package.json
  packages/address/src/utils.ts
  packages/contract/package.json
  packages/contract/src/contract-factory.ts
  packages/crypto/CHANGELOG.md
  packages/crypto/LICENSE
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/browser/aes-ctr.test.ts
  packages/crypto/src/browser/aes-ctr.ts
  packages/crypto/src/browser/crypto.ts
  packages/crypto/src/browser/randomBytes.ts
  packages/crypto/src/index.browser.ts
  packages/crypto/src/index.ts
  packages/crypto/src/node/aes-ctr.test.ts
  packages/crypto/src/node/aes-ctr.ts
  packages/crypto/src/node/randomBytes.ts
  packages/crypto/src/types.ts
  packages/crypto/tsconfig.dts.json
  packages/crypto/tsconfig.json
  packages/crypto/tsup.config.ts
  packages/fuels/package.json
  packages/fuels/src/index.ts
  packages/hasher/package.json
  packages/hasher/src/hasher.ts
  packages/mnemonic/package.json
  packages/mnemonic/src/mnemonic.test.ts
  packages/mnemonic/src/mnemonic.ts
  packages/providers/package.json
  packages/providers/test/memory-cache.test.ts
  packages/providers/test/provider.test.ts
  packages/signer/package.json
  packages/signer/src/signer.ts
  packages/wallet-manager/package.json
  packages/wallet-manager/src/wallet-manager.ts
  packages/wallet/package.json
  packages/wallet/src/test-utils/seedTestWallet.ts
  packages/wallet/src/wallet-unlocked.test.ts
  pnpm-lock.yaml
Labels: refactor

#1139 feat: add docs script to remove unwanted files
  .changeset/perfect-elephants-scream.md
  apps/docs/package.json
  apps/docs/scripts/typedoc-postbuild.ts
Labels: documentation

#1151 docs: add docs around more complex args for predicates
  .changeset/great-pens-vanish.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/predicates/predicate-with-more-complex-args.md
  packages/fuel-gauge/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/fixtures/forc-projects/predicate-multi-args/Forc.toml
  packages/fuel-gauge/fixtures/forc-projects/predicate-multi-args/src/main.sw
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
Labels: documentation
