Repository FuelLabs/fuels-ts, pull requests merged in 2023-02, with the labels that each got.

#772 fix: forc bin path on typegen test utility
  .changeset/three-dolphins-cheer.md
  packages/abi-typegen/test/utils/sway/createTempSwayProject.ts
Labels: bug

#786 fix: broken links in docs
  docs/_guide/index.md
  docs/_guide/providers/connection.md
Labels: bug, documentation

#794 feat: add status back to messages
  .changeset/hip-maps-collect.md
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/providers/src/message.ts
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/providers/src/resource.ts
Labels: New feature, package:providers

#797 fix: Update QUICKSTART.md
  docs/QUICKSTART.md
Labels: documentation

#787 test: increase coverage Account class
  .changeset/good-houses-switch.md
  packages/providers/src/provider.ts
  packages/wallet/src/account.test.ts
  packages/wallet/src/account.ts
  packages/wallet/src/wallet-unlocked.test.ts
Labels: tests

#679 docs: deprecate quickstart in favor of new quickstart in fuel book
  README.md
  docs/QUICKSTART.md
  docs/examples/my-fuel-dapp/chainConfig.json
  docs/examples/my-fuel-dapp/contract/src/main.sw
  docs/examples/my-fuel-dapp/frontend/package-lock.json
  docs/examples/my-fuel-dapp/frontend/package.json
  docs/examples/my-fuel-dapp/frontend/src/App.tsx
  docs/examples/my-fuel-dapp/frontend/src/contracts/ContractAbi.d.ts
  docs/examples/my-fuel-dapp/frontend/src/contracts/factories/ContractAbi__factory.ts
  docs/index.md
Labels: documentation
