Repository FuelLabs/fuels-ts, pull requests merged in 2023-05, with the labels that each got.

#949 test: refactor `NumberCoder` tests
  .changeset/wild-kiwis-approve.md
  packages/abi-coder/src/coders/number.test.ts
Labels: tests

#945 test: refactor `B512Coder` tests
  .changeset/young-radios-fly.md
  packages/abi-coder/src/coders/b512.test.ts
Labels: tests

#944 test: refactor `BooleanCoder` tests
  .changeset/moody-taxis-relate.md
  packages/abi-coder/src/coders/boolean.test.ts
Labels: tests

#943 test: refactor `ByteCoder` tests
  .changeset/forty-melons-sin.md
  packages/abi-coder/src/coders/byte.test.ts
Labels: tests

#939 test: refactor `TupleCoder` tests
  .changeset/calm-actors-attack.md
  packages/abi-coder/src/coders/tuple.test.ts
Labels: tests

#940 test: refactor `StructCoder` tests
  .changeset/many-bugs-explode.md
  packages/abi-coder/src/coders/struct.test.ts
Labels: tests

#937 test: refactor `ArrayCoder` tests
  .changeset/popular-comics-scream.md
  packages/abi-coder/src/coders/array.test.ts
Labels: tests

#966 docs: remove old docs contract code snippets regions
  .changeset/ten-toys-share.md
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/storage-test-contract.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/test-projects/coverage-contract/src/main.sw
Labels: documentation

#941 test: refactor `U64Coder` tests
  .changeset/good-otters-hug.md
  packages/abi-coder/src/coders/u64.test.ts
Labels: tests

#953 feat: allow users to fetch blocks through the `Provider` interface
  .changeset/cyan-vans-draw.md
  apps/docs/src/guide/providers/querying-the-chain.md
  packages/providers/src/provider.test.ts
  packages/providers/src/provider.ts
Labels: New feature, package:providers

#936 test: refactor `VecCoder` tests
  .changeset/friendly-windows-remember.md
  packages/abi-coder/src/coders/vec.test.ts
Labels: tests

#971 refactor: remove redundant return from `VecCoder.decode()`
  .changeset/hot-parrots-drive.md
  packages/abi-coder/src/coders/vec.ts
Labels: refactor

#969 docs: add section comments for devrel
  .changeset/small-jars-hammer.md
  apps/docs/src/guide/abi-typegen/generating-types-from-abi.md
  apps/docs/src/guide/contracts/call-parameters.md
  apps/docs/src/guide/contracts/multicalls.md
  apps/docs/src/guide/contracts/read-only-calls.md
  apps/docs/src/guide/contracts/transaction-parameters.md
  apps/docs/src/guide/index.md
  apps/docs/src/guide/wallets/checking-balances-and-coins.md
Labels: documentation

#974 docs: replace generic content for the index page of `Provider` docs with proper content
  .changeset/tame-horses-promise.md
  apps/docs/src/guide/providers/index.md
  packages/providers/src/provider.test.ts
Labels: documentation

#960 docs: add docs for getting contract balance
  .changeset/slow-lions-sleep.md
  apps/docs-snippets/contracts/Forc.toml
  apps/docs-snippets/contracts/index.ts
  apps/docs-snippets/contracts/transfer-to-address/Forc.toml
  apps/docs-snippets/contracts/transfer-to-address/src/main.sw
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/contract-balance.md
  packages/program/src/contract.ts
Labels: documentation

#972 test: refactor `StringCoder` tests
  .changeset/strange-sloths-fry.md
  packages/abi-coder/src/coders/string.test.ts
Labels: tests

#981 docs: create simple getting started
  .changeset/perfect-suits-design.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/getting-started.md
Labels: documentation

#994 docs: update testnet url
  .changeset/warm-toys-glow.md
  apps/docs/src/guide/providers/connecting-to-an-external-node.md
  packages/fuel-gauge/src/doc-examples.test.ts
Labels: documentation

#991 feat: support configurable constants contracts
  .changeset/rich-actors-pump.md
  apps/docs-snippets/contracts/Forc.toml
  apps/docs-snippets/contracts/echo-configurables/Forc.toml
  apps/docs-snippets/contracts/echo-configurables/src/main.sw
  apps/docs-snippets/contracts/index.ts
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/configurable-constants.md
  packages/abi-coder/src/interface.test.ts
  packages/abi-coder/src/interface.ts
  packages/abi-coder/src/json-abi.test.ts
  packages/abi-coder/src/json-abi.ts
  packages/abi-coder/test/fixtures/mocks.ts
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/configurable-contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/predicate.test.ts
  packages/fuel-gauge/test-projects/Forc.toml
  packages/fuel-gauge/test-projects/configurable-contract/Forc.toml
  packages/fuel-gauge/test-projects/configurable-contract/src/main.sw
  packages/predicate/src/predicate.test.ts
  packages/program/src/contract.test.ts
Labels: New feature

#938 test: refactor `EnumCoder` tests
  .changeset/gold-swans-hear.md
  packages/abi-coder/src/abi-coder.test.ts
  packages/abi-coder/src/coders/enum.test.ts
Labels: tests

#1004 refactor: change code snippets dir name `Contracts` to `Projects`
  .changeset/calm-snails-play.md
  apps/docs-snippets/contracts/index.ts
  apps/docs-snippets/package.json
  apps/docs-snippets/projects/Forc.toml
  apps/docs-snippets/projects/counter/Forc.toml
  apps/docs-snippets/projects/counter/src/main.sw
  apps/docs-snippets/projects/echo-configurables/Forc.toml
  apps/docs-snippets/projects/echo-configurables/src/main.sw
  apps/docs-snippets/projects/echo-values/Forc.toml
  apps/docs-snippets/projects/echo-values/src/main.sw
  apps/docs-snippets/projects/index.ts
  apps/docs-snippets/projects/log-values/Forc.toml
  apps/docs-snippets/projects/log-values/src/main.sw
  apps/docs-snippets/projects/return-context/Forc.toml
  apps/docs-snippets/projects/return-context/src/main.sw
  apps/docs-snippets/projects/simple-token-abi/Forc.toml
  apps/docs-snippets/projects/simple-token-abi/src/main.sw
  apps/docs-snippets/projects/simple-token/Forc.toml
  apps/docs-snippets/projects/simple-token/src/main.sw
  apps/docs-snippets/projects/token-depositor/Forc.toml
  apps/docs-snippets/projects/token-depositor/src/main.sw
  apps/docs-snippets/projects/transfer-to-address/Forc.toml
  apps/docs-snippets/projects/transfer-to-address/src/main.sw
  apps/docs-snippets/projects/whitelisted-address-predicate/Forc.toml
  apps/docs-snippets/projects/whitelisted-address-predicate/src/main.sw
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  apps/docs-snippets/src/guide/contracts/calls-with-different-wallets.test.ts
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/contracts/cost-estimation.test.ts
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/index.test.ts
  apps/docs-snippets/src/guide/contracts/inter-contract-calls.test.ts
  apps/docs-snippets/src/guide/contracts/logs.test.ts
  apps/docs-snippets/src/guide/contracts/managing-deployed-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/guide/contracts/read-only-calls.test.ts
  apps/docs-snippets/src/guide/contracts/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/predicates/predicates-with-configurable.test.ts
  apps/docs/src/guide/contracts/configurable-constants.md
  apps/docs/src/guide/contracts/contract-balance.md
  apps/docs/src/guide/contracts/inter-contract-calls.md
  apps/docs/src/guide/contracts/logs.md
  apps/docs/src/guide/contracts/the-fuelvm-binary-file.md
  apps/docs/src/guide/predicates/predicates-with-configurable-constants.md
Labels: refactor

#1006 test: refactor `OptionCoder` tests
  .changeset/clean-squids-burn.md
  packages/abi-coder/src/coders/option.test.ts
Labels: tests

#935 test: refactor coders tests
  .changeset/calm-actors-attack.md
  .changeset/clean-squids-burn.md
  .changeset/forty-melons-sin.md
  .changeset/friendly-windows-remember.md
  .changeset/gold-swans-hear.md
  .changeset/good-otters-hug.md
  .changeset/many-bugs-explode.md
  .changeset/moody-taxis-relate.md
  .changeset/popular-comics-scream.md
  .changeset/shy-knives-whisper.md
  .changeset/strange-sloths-fry.md
  .changeset/wild-kiwis-approve.md
  .changeset/young-radios-fly.md
  packages/abi-coder/src/coders/__snapshots__/coders.test.ts.snap
  packages/abi-coder/src/coders/abstract-coder.test.ts
  packages/abi-coder/src/coders/array.test.ts
  packages/abi-coder/src/coders/b256.test.ts
  packages/abi-coder/src/coders/b512.test.ts
  packages/abi-coder/src/coders/boolean.test.ts
  packages/abi-coder/src/coders/byte.test.ts
  packages/abi-coder/src/coders/coders.test.ts
  packages/abi-coder/src/coders/enum.test.ts
  packages/abi-coder/src/coders/number.test.ts
  packages/abi-coder/src/coders/option.test.ts
  packages/abi-coder/src/coders/string.test.ts
  packages/abi-coder/src/coders/struct.test.ts
  packages/abi-coder/src/coders/tuple.test.ts
  packages/abi-coder/src/coders/u64.test.ts
  packages/abi-coder/src/coders/vec.test.ts
  packages/abi-coder/test/utils/constants.ts
Labels: tests

#988 feat: `StringCoder` to throw for length value mismatch
  .changeset/eight-birds-trade.md
  packages/abi-coder/src/coders/string.test.ts
  packages/abi-coder/src/coders/string.ts
Labels: invalid, package:ABI

#1007 docs: update string type docs to account for value length mismatch in `StringCoder`
  .changeset/kind-jars-march.md
  apps/docs-snippets/src/guide/types/string.test.ts
  apps/docs/src/guide/types/string.md
Labels: documentation

#1003 feat: support configurable constants on Scripts
  .changeset/afraid-kings-breathe.md
  apps/docs-snippets/package.json
  apps/docs-snippets/projects/Forc.toml
  apps/docs-snippets/projects/index.ts
  apps/docs-snippets/projects/sum-script/Forc.toml
  apps/docs-snippets/projects/sum-script/src/main.sw
  apps/docs-snippets/projects/whitelisted-address-predicate/src/main.sw
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  apps/docs-snippets/src/guide/contracts/calls-with-different-wallets.test.ts
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/contracts/cost-estimation.test.ts
  apps/docs-snippets/src/guide/contracts/index.test.ts
  apps/docs-snippets/src/guide/contracts/inter-contract-calls.test.ts
  apps/docs-snippets/src/guide/contracts/logs.test.ts
  apps/docs-snippets/src/guide/contracts/managing-deployed-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/guide/contracts/read-only-calls.test.ts
  apps/docs-snippets/src/guide/contracts/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/predicates/predicate-with-configurable.test.ts
  apps/docs-snippets/src/guide/scripts/script-with-configurable.test.ts
  apps/docs-snippets/src/guide/types/arrays.test.ts
  apps/docs-snippets/src/guide/types/bits512.test.ts
  apps/docs-snippets/src/guide/types/conversion.test.ts
  apps/docs-snippets/src/guide/types/enums.test.ts
  apps/docs-snippets/src/guide/types/options.test.ts
  apps/docs-snippets/src/guide/types/string.test.ts
  apps/docs-snippets/src/guide/types/tuples.test.ts
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/predicates/predicate-with-configurable-constants.md
  apps/docs/src/guide/scripts/index.md
  apps/docs/src/guide/scripts/script-with-configurable-constants.md
  packages/fuel-gauge/src/script-with-configurable.test.ts
  packages/fuel-gauge/test-projects/Forc.toml
  packages/fuel-gauge/test-projects/script-with-configurable/Forc.toml
  packages/fuel-gauge/test-projects/script-with-configurable/src/main.sw
  packages/script/package.json
  packages/script/src/script.test.ts
  packages/script/src/script.ts
  packages/script/test/fixtures/mocks.ts
  pnpm-lock.yaml
Labels: New feature

#1016 refactor: standardise set configurable constants function naming
  .changeset/polite-maps-give.md
  packages/predicate/src/predicate.ts
Labels: refactor

#1010 ci: add check for markdown links
  .changeset/two-terms-type.md
  .github/workflows/md-lint.yaml
  .textlintrc.json
  package.json
  packages/abi-coder/README.md
  packages/abi-typegen/README.md
  packages/abi-typegen/package.json
  packages/abi-typegen/src/runTypegen.test.ts
  packages/abi-typegen/src/runTypegen.ts
  packages/address/README.md
  packages/asm/README.md
  packages/contract/README.md
  packages/hasher/README.md
  packages/hdwallet/README.md
  packages/interfaces/README.md
  packages/keystore/README.md
  packages/math/README.md
  packages/merkle-shared/README.md
  packages/merkle/README.md
  packages/merklesum/README.md
  packages/mnemonic/README.md
  packages/predicate/README.md
  packages/program/README.md
  packages/providers/README.md
  packages/signer/README.md
  packages/sparsemerkle/README.md
  packages/testcases/README.md
  packages/transactions/README.md
  packages/utils/README.md
  packages/versions/README.md
  packages/wallet-manager/README.md
  packages/wallet/README.md
  packages/wordlists/README.md
  pnpm-lock.yaml
  scripts/lint-md-links.ts
Labels: config

#995 feat: support `EvmAddress`
  .changeset/shiny-socks-juggle.md
  apps/docs-snippets/projects/Forc.toml
  apps/docs-snippets/projects/echo-evm-address/Forc.toml
  apps/docs-snippets/projects/echo-evm-address/src/main.sw
  apps/docs-snippets/projects/index.ts
  apps/docs-snippets/src/guide/types/evm-address.test.ts
  apps/docs-snippets/src/utils.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/types/evm-address.md
  packages/abi-typegen/src/abi/types/EvmAddressType.test.ts
  packages/abi-typegen/src/abi/types/EvmAddressType.ts
  packages/abi-typegen/src/abi/types/StructType.test.ts
  packages/abi-typegen/src/abi/types/StructType.ts
  packages/abi-typegen/src/utils/supportedTypes.test.ts
  packages/abi-typegen/src/utils/supportedTypes.ts
  packages/abi-typegen/test/fixtures/forc-projects/Forc.toml
  packages/abi-typegen/test/fixtures/forc-projects/evm-address/Forc.toml
  packages/abi-typegen/test/fixtures/forc-projects/evm-address/src/main.sw
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/forc-projects/index.ts
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/address/src/address.test.ts
  packages/address/src/address.ts
  packages/address/src/utils.ts
  packages/interfaces/src/index.ts
Labels: New feature, package:address
