Repository FuelLabs/fuels-ts, pull requests merged in 2023-10, with the labels that each got.

#1303 fix: make `nodeInfoCache` and `chainInfoCache` private (`Provider`)
  .changeset/wet-chefs-wave.md
  packages/providers/src/provider.ts
  packages/providers/test/provider.test.ts
Labels: dev-experience

#1305 fix: launchNode will create a GENESIS_KEY if not already set
  .changeset/brave-cats-greet.md
  packages/wallet/src/test-utils/launchNode.test.ts
  packages/wallet/src/test-utils/launchNode.ts
Labels: bug

#1312 docs: update/improve `Provider` docs
  .changeset/wild-days-yawn.md
  apps/docs/src/guide/providers/connection.md
  apps/docs/src/guide/providers/querying-the-chain.md
  packages/providers/test/provider.test.ts
Labels: documentation

#1315 refactor: migrate from `arrayify` to `getBytes`
  .changeset/rare-foxes-flash.md
  packages/abi-coder/src/coders/b256.ts
  packages/abi-coder/src/coders/b512.ts
  packages/abi-coder/src/coders/byte.ts
  packages/abi-coder/src/function-fragment.ts
  packages/abi-coder/src/interface.ts
  packages/abi-coder/src/utilities.ts
  packages/address/src/address.ts
  packages/address/src/utils.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/util.ts
  packages/crypto/src/browser/aes-ctr.ts
  packages/crypto/src/node/aes-ctr.ts
  packages/fuels/src/index.ts
  packages/hdwallet/src/hdwallet.ts
  packages/mnemonic/src/mnemonic.ts
  packages/mnemonic/src/utils.ts
  packages/predicate/src/predicate.ts
  packages/predicate/src/utils/getPredicateRoot.ts
  packages/program/src/contract-call-script.ts
  packages/program/src/script-request.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/input.ts
  packages/providers/src/transaction-request/script-transaction-request.ts
  packages/providers/src/transaction-request/scripts.ts
  packages/providers/src/transaction-request/storage-slot.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/src/transaction-request/witness.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/src/transaction-summary/assemble-transaction-summary.test.ts
  packages/providers/src/transaction-summary/get-transaction-summary.ts
  packages/providers/src/utils/receipts.test.ts
  packages/providers/src/utils/receipts.ts
  packages/providers/test/provider.test.ts
  packages/script/src/script.test.ts
  packages/script/src/script.ts
  packages/signer/src/signer.test.ts
  packages/signer/src/signer.ts
  packages/transactions/src/coders/byte-array.test.ts
  packages/transactions/src/coders/byte-array.ts
  packages/transactions/src/coders/input.test.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/output.test.ts
  packages/transactions/src/coders/receipt.test.ts
  packages/transactions/src/coders/receipt.ts
  packages/transactions/src/coders/storage-slot.test.ts
  packages/transactions/src/coders/transaction.test.ts
  packages/transactions/src/coders/tx-pointer.test.ts
  packages/transactions/src/coders/utxo-id.test.ts
  packages/transactions/src/coders/witness.test.ts
  packages/utils/src/utils/chunkAndPadBytes.test.ts
  packages/wallet/src/account.ts
  packages/wallet/src/utils.ts
Labels: refactor

#1318 refactor: purge the usage of the hardcoded constant `VM_TX_MEMORY`
  .changeset/moody-hats-grow.md
  packages/abi-coder/src/constants.ts
  packages/abi-coder/src/index.ts
  packages/predicate/src/predicate.ts
  packages/program/src/contract-call-script.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/script-request.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/src/transaction-summary/assemble-transaction-summary.test.ts
  packages/providers/src/transaction-summary/assemble-transaction-summary.ts
  packages/providers/src/transaction-summary/call.ts
  packages/providers/src/transaction-summary/get-transaction-summary.ts
  packages/providers/src/transaction-summary/operations.test.ts
  packages/providers/src/transaction-summary/operations.ts
  packages/providers/src/transaction-summary/types.ts
Labels: refactor

#1319 test: supress `console.warn` from tests logs
  .changeset/great-cherries-do.md
  packages/providers/test/provider.test.ts
Labels: tests

#1309 feat: improve `fromEvmAddress` developer experience
  .changeset/two-lions-relate.md
  apps/docs/src/guide/types/evm-address.md
  packages/address/src/address.test.ts
  packages/address/src/address.ts
  packages/address/src/utils.ts
  packages/errors/src/error-codes.ts
Labels: dev-experience

#1328 fix: transfer out receipt
  .changeset/chilly-parents-jog.md
  packages/providers/src/utils/receipts.test.ts
  packages/providers/src/utils/receipts.ts
  packages/providers/test/fixtures/receipts.ts
Labels: bug

#1326 test: fix flaky test
  .changeset/nervous-bottles-remember.md
  packages/fuel-gauge/src/multi-token-contract.test.ts
Labels: tests

#1352 fix: rearrange provider tx param error code checks
  .changeset/twenty-ways-pretend.md
  packages/providers/src/provider.ts
  packages/providers/test/provider.test.ts
Labels: bug

#1371 docs: improve examples with min gas price
  .changeset/nervous-coins-tickle.md
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/contracts/cost-estimation.test.ts
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/inter-contract-calls.test.ts
  apps/docs-snippets/src/guide/contracts/logs.test.ts
  apps/docs-snippets/src/guide/contracts/managing-deployed-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/guide/contracts/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/wallets/transferring-assets.test.ts
Labels: documentation

#1379 feat: Increase robustness of `FUEL_NETWORK_URL` config
  .changeset/strange-lions-warn.md
  packages/wallet/src/configs.test.ts
  packages/wallet/src/configs.ts
Labels: config, tests

#1381 fix: setting `gasLimit` to `0` when creating `CreateTransactionRequest` on `ContractFactory`
  .changeset/chatty-mirrors-return.md
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/contract-factory.test.ts
Labels: bug

#1369 docs: add page for starting a custom chain
  .changeset/silver-dragons-cross.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/testing/setting-up-a-custom-chain.md
  packages/wallet/src/test-utils/launchNode.test.ts
  packages/wallet/src/test-utils/launchNode.ts
Labels: documentation
