Repository FuelLabs/fuels-ts, pull requests merged in 2023-11, with the labels that each got.

#1395 fix: `transferToContract` for amounts higher than u16
  .changeset/forty-items-cross.md
  packages/fuel-gauge/src/contract.test.ts
  packages/wallet/src/utils.test.ts
  packages/wallet/src/utils.ts
Labels: bug

#1388 fix: provider connect method accept options
  .changeset/khaki-years-compare.md
  packages/providers/src/provider.ts
  packages/providers/test/provider.test.ts
Labels: New feature

#1405 chore: fix typos
  .changeset/few-wombats-vanish.md
  apps/docs/src/guide/types/conversion.md
  packages/fuels/CHANGELOG.md
  packages/mnemonic/CHANGELOG.md
  packages/program/src/functions/base-invocation-scope.ts
Labels: documentation

#1410 docs: fix broken heap type doc snippets
  .changeset/late-elephants-trade.md
  apps/docs/src/guide/types/bytes.md
  apps/docs/src/guide/types/raw-slice.md
  apps/docs/src/guide/types/std-string.md
Labels: documentation

#1400 fix!: ensure `getOperations` returns operation `Transfer Asset` for transfer to contract transactions
  .changeset/flat-brooms-accept.md
  packages/providers/src/transaction-summary/operations.test.ts
  packages/providers/src/transaction-summary/operations.ts
  packages/providers/src/transaction-summary/types.ts
  packages/providers/test/fixtures/transaction-summary.ts
Labels: bug

#1372 fix!: transaction funding
  .changeset/thirty-monkeys-hug.md
  apps/docs-snippets/src/guide/contracts/cost-estimation.test.ts
  apps/docs-snippets/src/utils.ts
  packages/contract/package.json
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/predicate/predicate-evaluations.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundPredicate.ts
  packages/interfaces/src/index.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/providers/src/coin-quantity.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-request/transaction-request.test.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/src/utils/merge-quantities.test.ts
  packages/providers/src/utils/merge-quantities.ts
  packages/providers/test/fixtures/inputs-and-outputs.ts
  packages/providers/test/provider.test.ts
  packages/script/src/script-invocation-scope.ts
  packages/wallet/src/account.test.ts
  packages/wallet/src/account.ts
  pnpm-lock.yaml
Labels: bug

#1467 feat: add `Predicate.getTransferTxId` helper
  .changeset/kind-glasses-brake.md
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  packages/predicate/package.json
  packages/predicate/src/predicate.ts
  packages/wallet/src/account.ts
  pnpm-lock.yaml
Labels: New feature, package:predicate
