Repository FuelLabs/fuels-ts, pull requests merged in 2023-08, with the labels that each got.

#1160 feat: Add a `deployContract` method to contract factories generated by typegen
  .changeset/khaki-shirts-glow.md
  apps/demo-typegen/src/demo.test.ts
  apps/docs/src/guide/abi-typegen/using-generated-types.md
  packages/abi-typegen/src/runTypegen.test.ts
  packages/abi-typegen/src/templates/contract/bytecode.hbs
  packages/abi-typegen/src/templates/contract/bytecode.test.ts
  packages/abi-typegen/src/templates/contract/bytecode.ts
  packages/abi-typegen/src/templates/contract/factory.hbs
  packages/abi-typegen/src/utils/assembleContracts.test.ts
  packages/abi-typegen/src/utils/assembleContracts.ts
  packages/abi-typegen/src/utils/collectBinFilePaths.test.ts
  packages/abi-typegen/src/utils/collectBinFilePaths.ts
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
Labels: New feature

#1171 feat: accept `DeployContractOptions` on `deployContract` of typegen contract factories
  .changeset/gold-readers-rhyme.md
  apps/demo-typegen/src/demo.test.ts
  apps/docs/src/guide/abi-typegen/using-generated-types.md
  packages/abi-typegen/src/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
  packages/contract/src/contract-factory.ts
  packages/contract/src/index.ts
Labels: New feature

#1165 feat: implement TypeDoc in `Script`
  .changeset/empty-insects-march.md
  apps/docs/scripts/typedoc-postbuild.ts
  apps/docs/typedoc.json
  packages/script/src/script.ts
  packages/script/src/scripts.ts
  packages/script/tsdoc.json
  packages/script/typedoc.json
Labels: documentation

#1167 feat: implement TypeDoc in `Contract`
  .changeset/shaggy-coins-fetch.md
  apps/docs/scripts/typedoc-postbuild.ts
  apps/docs/typedoc.json
  packages/contract/src/contract-factory.ts
  packages/contract/src/index.ts
  packages/contract/src/util.ts
  packages/contract/tsdoc.json
  packages/contract/typedoc.json
Labels: documentation

#1163 feat: implement TypeDoc in `Predicate`
  .changeset/rare-timers-learn.md
  apps/docs/scripts/typedoc-postbuild.ts
  apps/docs/typedoc.json
  packages/predicate/src/predicate.ts
  packages/predicate/src/utils/getPredicateRoot.ts
  packages/predicate/tsdoc.json
  packages/predicate/typedoc.json
Labels: documentation

#1174 feat: implement TypeDoc in `Program`
  .changeset/blue-rocks-fold.md
  apps/docs/scripts/typedoc-postbuild.ts
  apps/docs/typedoc.json
  packages/program/src/contract.ts
  packages/program/src/errors.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/functions/invocation-results.ts
  packages/program/src/functions/invocation-scope.ts
  packages/program/src/functions/multicall-scope.ts
  packages/program/src/revert/revert-error.ts
  packages/program/src/script-request.ts
  packages/program/src/types.ts
  packages/program/src/utils.ts
  packages/program/tsdoc.json
  packages/program/typedoc.json
Labels: documentation

#1041 feat: support encrypt and decrypt json wallets
  .changeset/poor-pumpkins-hope.md
  apps/docs-snippets/src/guide/wallets/encrypting-and-decrypting-json-wallets.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/wallets/encrypting-and-decrypting-json-wallets.md
  apps/docs/src/guide/wallets/encrypting-and-storing-wallets.md
  packages/crypto/package.json
  packages/crypto/src/browser/encryptJsonWalletData.ts
  packages/crypto/src/browser/index.ts
  packages/crypto/src/index.browser.ts
  packages/crypto/src/index.ts
  packages/crypto/src/node/encryptJsonWalletData.ts
  packages/crypto/src/node/index.ts
  packages/crypto/src/shared/index.ts
  packages/crypto/src/shared/keccak256.test.ts
  packages/crypto/src/shared/keccak256.ts
  packages/crypto/src/shared/scrypt.test.ts
  packages/crypto/src/shared/scrypt.ts
  packages/crypto/src/types.ts
  packages/crypto/test/encryptJsonWalletData.test.ts
  packages/wallet/package.json
  packages/wallet/src/base-unlocked-wallet.ts
  packages/wallet/src/keystore-wallet.test.ts
  packages/wallet/src/keystore-wallet.ts
  packages/wallet/src/wallet-unlocked.test.ts
  packages/wallet/src/wallet.test.ts
  packages/wallet/src/wallet.ts
  packages/wallet/src/wallets.ts
  pnpm-lock.yaml
Labels: New feature

#1180 feat: automate Typedoc link regeneration in API docs
  .changeset/silver-otters-switch.md
  apps/docs/scripts/typedoc-postbuild.ts
Labels: documentation

#1179 refactor: use `simulate` instead of `get` on `BaseInvocationScope` class
  .changeset/khaki-glasses-warn.md
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/index.test.ts
  apps/docs-snippets/src/guide/contracts/managing-deployed-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/read-only-calls.test.ts
  apps/docs-snippets/src/guide/contracts/simulate-transactions.test.ts
  apps/docs-snippets/src/guide/types/arrays.test.ts
  apps/docs-snippets/src/guide/types/bits512.test.ts
  apps/docs-snippets/src/guide/types/enums.test.ts
  apps/docs-snippets/src/guide/types/evm-address.test.ts
  apps/docs-snippets/src/guide/types/options.test.ts
  apps/docs-snippets/src/guide/types/string.test.ts
  apps/docs-snippets/src/guide/types/tuples.test.ts
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/read-only-calls.md
  apps/docs/src/guide/contracts/simulate-transactions.md
  packages/fuel-gauge/src/configurable-contract.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/storage-test-contract.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: refactor

#1178 feat: implement TypeDoc in `Provider`
  .changeset/eight-paws-bake.md
  apps/docs/scripts/typedoc-postbuild.ts
  apps/docs/typedoc.json
  packages/providers/src/coin-quantity.ts
  packages/providers/src/provider.ts
  packages/providers/src/resource.ts
  packages/providers/src/transaction-request/create-transaction-request.ts
  packages/providers/src/transaction-request/errors.ts
  packages/providers/src/transaction-request/input.ts
  packages/providers/src/transaction-request/output.ts
  packages/providers/src/transaction-request/script-transaction-request.ts
  packages/providers/src/transaction-request/scripts.ts
  packages/providers/src/transaction-request/transaction-request.ts
  packages/providers/src/transaction-request/utils.ts
  packages/providers/src/transaction-response/getDecodedLogs.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/src/transaction-summary/assemble-transaction-summary.ts
  packages/providers/src/transaction-summary/get-transaction-summary.ts
  packages/providers/src/transaction-summary/input.ts
  packages/providers/src/transaction-summary/operations.ts
  packages/providers/src/transaction-summary/output.ts
  packages/providers/src/transaction-summary/status.ts
  packages/providers/src/transaction-summary/types.ts
  packages/providers/src/utils/block-explorer.ts
  packages/providers/src/utils/fee.ts
  packages/providers/src/utils/json.ts
  packages/providers/src/utils/receipts.ts
  packages/providers/src/utils/sleep.ts
  packages/providers/src/utils/time.ts
  packages/providers/tsdoc.json
  packages/providers/typedoc.json
Labels: documentation

#1045 docs: wallet manager
  .changeset/cyan-trees-knock.md
  apps/docs-snippets/package.json
  apps/docs-snippets/src/guide/wallet-manager/getting-started-with-wallet-manager.test.ts
  apps/docs-snippets/src/guide/wallet-manager/locking-and-unlocking-wallet-manager.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/wallet-manager/getting-started-with-wallet-manager.md
  apps/docs/src/guide/wallet-manager/index.md
  apps/docs/src/guide/wallet-manager/locking-and-unlocking-wallet-manager.md
  pnpm-lock.yaml
Labels: documentation

#1197 refactor: split `calculateTransactionFee` into 2 helpers
  .changeset/green-badgers-roll.md
  packages/providers/src/provider.ts
  packages/providers/src/transaction-summary/assemble-transaction-summary.ts
  packages/providers/src/transaction-summary/get-transaction-summary.ts
  packages/providers/src/utils/fee.test.ts
  packages/providers/src/utils/fee.ts
Labels: refactor
