Repository FuelLabs/fuels-ts, pull requests merged in 2024-10, with the labels that each got.

#3234 ci: update workflows to include next branch
  .changeset/sour-actors-tease.md
  .github/workflows/codeql.yml
  .github/workflows/forc-version.yaml
Labels: chore

#3225 chore: disable `no-continue` eslint rule
  .changeset/thin-waves-care.md
  .eslintrc.js
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/contract/src/contract-factory.ts
  packages/merkle/src/sparse/sparseMerkleTree.ts
  packages/utils/src/utils/toUtf8String.ts
Labels: chore

#3235 fix: proxy deploy with storage
  .changeset/fluffy-bulldogs-lay.md
  packages/fuels/src/cli/commands/deploy/deployContract.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxy.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxyFactory.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/common.d.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/index.ts
  packages/fuels/test/features/deploy.test.ts
Labels: bug

#3238 docs: adjustments to new doc snippets infra
  .eslintignore
  .prettierrc
  apps/docs-snippets2/scripts/wrap-snippets.ts
  apps/docs/nodemon.config.json
Labels: docs

#3180 chore: deprecate unused operation names
  .changeset/dull-toys-dream.md
  packages/account/src/providers/transaction-summary/types.ts
Labels: chore

#3242 ci: re-introduce benchmarks on PRs
  .changeset/angry-buses-jam.md
  .github/workflows/bench.yml
Labels: chore

#3254 feat: implement predicates/scripts CLI deploy
  nodemon.config.json
  packages/contract/src/contract-factory.ts
  packages/fuels/src/cli/commands/deploy/deployScripts.ts
  packages/fuels/src/cli/commands/deploy/index.ts
  packages/fuels/src/cli/commands/deploy/saveScriptFiles.ts
  packages/fuels/src/cli/config/forcUtils.ts
  packages/fuels/src/cli/types.ts
Labels: feat

#3247 feat: add missing matcher
  packages/abi/src/matchers/sway-type-matchers.test.ts
  packages/abi/src/matchers/sway-type-matchers.ts
Labels: feat

#3251 feat: deploying scripts and predicates
  .changeset/sharp-radios-fry.md
  .knip.json
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  apps/docs-snippets/package.json
  apps/docs-snippets/src/guide/predicates/deploying-predicates.test.ts
  apps/docs-snippets/src/guide/scripts/deploying-scripts.test.ts
  internal/fuel-core/VERSION
  nodemon.config.json
  packages/account/package.json
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/provider.test.ts
  packages/contract/package.json
  packages/contract/src/contract-factory.ts
  packages/contract/src/loader/index.ts
  packages/contract/src/loader/predicate-script-loader-instructions.ts
  packages/fuel-gauge/src/blob-deploy.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-false-configurable/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-false-configurable/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-with-more-configurables/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-with-more-configurables/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-dummy/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-dummy/src/main.sw
  packages/fuels/src/cli/commands/build/generateTypes.ts
  packages/fuels/src/cli/commands/deploy/adjustOffsets.ts
  packages/fuels/src/cli/commands/deploy/deployContracts.ts
  packages/fuels/src/cli/commands/deploy/deployPredicates.ts
  packages/fuels/src/cli/commands/deploy/deployScripts.ts
  packages/fuels/src/cli/commands/deploy/index.test.ts
  packages/fuels/src/cli/commands/deploy/index.ts
  packages/fuels/src/cli/commands/deploy/savePredicateFiles.ts
  packages/fuels/src/cli/commands/deploy/saveScriptFiles.ts
  packages/fuels/src/cli/config/forcUtils.ts
  packages/fuels/src/cli/types.ts
  packages/program/package.json
  packages/versions/src/lib/getBuiltinVersions.ts
  pnpm-lock.yaml
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: feat

#3267 chore: upgrade `forc` and all toolchain versions to `testnet`
  internal/forc/VERSION
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3265 chore: `fuel-core@0.37.1`, `forc@0.65.1`, and `create-fuels` toolchains
  .changeset/afraid-pets-drive.md
  .gitignore
  internal/forc/VERSION
  internal/fuel-core/VERSION
  packages/account/src/providers/provider.test.ts
  packages/create-fuels/test/cli.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3266 docs: predicate and script deploys
  .changeset/thirty-parrots-sniff.md
  apps/docs-snippets/package.json
  apps/docs-snippets/scripts/pretest.sh
  apps/docs-snippets/src/guide/predicates/deploying-predicates.test.ts
  apps/docs-snippets/src/guide/scripts/deploying-scripts.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/predicates/deploying-predicates.md
  apps/docs/src/guide/scripts/deploying-scripts.md
Labels: docs

#3270 chore: add blob script deploy stress test
  .changeset/itchy-schools-bathe.md
  packages/fuel-gauge/src/blob-deploy.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-more-configurable/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-more-configurable/src/main.sw
Labels: chore

#3271 chore: update to `forc@0.65.2`
  .changeset/beige-bears-complain.md
  internal/forc/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#3272 chore: update `fuel-core` to `0.38.0`
  .changeset/strange-glasses-act.md
  apps/docs-snippets/src/guide/cookbook/resubmitting-failed-transactions.test.ts
  internal/fuel-core/VERSION
  packages/account/src/providers/provider.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxy.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxyFactory.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/common.d.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/index.ts
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#3274 fix: typegen factory template
  .changeset/twenty-islands-drum.md
  packages/abi-typegen/src/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
Labels: bug

#3284 chore: merge `chain` and `nodeInfo` queries into one
  .changeset/filthy-bacteria-multiply.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: chore

#3296 chore!: optimize balance queries
  .changeset/tame-gorillas-shave.md
  packages/account/src/providers/operations.graphql
Labels: chore

#3286 chore!: slim down `chainInfoFragment` and `GasCostsFragment`
  .changeset/rabid-rabbits-ribbit.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/create-transaction-request.ts
  packages/account/src/providers/transaction-request/upload-transaction-request.ts
  packages/account/test/fixtures/chain.ts
Labels: chore

#3304 feat: add pagination limit to `getTransactions`
  .changeset/thick-rocks-hammer.md
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs/src/guide/provider/querying-the-chain.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: feat, chore

#3300 fix: correct `bn` formatting bug with 0 units
  .changeset/famous-dots-sip.md
  packages/math/src/bn.test.ts
  packages/math/src/bn.ts
Labels: bug

#3278 fix: provider cache
  .changeset/mighty-impalas-hear.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/transaction-upgrade.test.ts
Labels: bug, chore

#3306 feat: bump transaction pagination limit to 60
  .changeset/fluffy-pears-search.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: feat

#3309 chore: optimize blockWithTransactions query
  .changeset/unlucky-laws-add.md
  packages/account/src/providers/operations.graphql
Labels: chore

#3307 feat: add feature to check if hex is an account
  .changeset/shiny-badgers-stare.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/check-user-account.test.ts
Labels: feat

#3308 feat: add checksum utils for address
  .changeset/hip-files-protect.md
  packages/address/src/address.test.ts
  packages/address/src/address.ts
  packages/interfaces/src/index.ts
Labels: feat

#3310 chore!: made Address `toString` and `valueOf` returns checksum
  .changeset/good-pants-chew.md
  apps/docs-snippets/src/guide/types/address.test.ts
  packages/address/src/address.test.ts
  packages/address/src/address.ts
Labels: chore

#3313 fix!: checksum method to remove `0x` before hashing
  .changeset/pink-walls-greet.md
  apps/docs-snippets/src/guide/types/address.test.ts
  packages/address/src/address.test.ts
  packages/address/src/address.ts
Labels: bug

#3318 fix: setup listeners current connector
  .changeset/four-chicken-think.md
  packages/account/src/connectors/fuel.ts
Labels: bug

#3320 fix: `parseUnits` bug with 0 units
  .changeset/tidy-scissors-sip.md
  packages/math/src/bn.test.ts
  packages/math/src/bn.ts
Labels: bug

#3329 chore: use `FuelError` instead of JS `Error`
  .changeset/ten-dryers-search.md
  packages/address/src/address.ts
Labels: chore

#3328 chore: validate tx max number of inputs
  .changeset/unlucky-buses-cheer.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: chore

#3327 chore: upgrading `fuel-core` to `0.39.0`
  .changeset/light-bulldogs-relate.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  internal/fuel-core/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#3319 feat: using gas modifier at `Provider.getTransactionCost`
  .changeset/yellow-toes-smell.md
  apps/docs-snippets/src/guide/scripts/script-with-configurable.test.ts
  apps/docs-snippets2/src/transactions/transaction-parameters.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/math/src/bn.test.ts
  packages/math/src/bn.ts
Labels: feat

#3324 feat: ensure that we fetch node info per estimation
  .changeset/silent-otters-accept.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: feat

#3337 chore: upgrading `forc` to `0.66.2`
  .changeset/tasty-hounds-know.md
  internal/forc/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#3332 chore: upgrading `fuel-core` to `0.40.0`
  .changeset/lucky-avocados-add.md
  apps/docs-snippets2/src/cookbook/combining-utxos.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cookbook/combining-utxos.md
  apps/docs/src/guide/errors/index.md
  internal/fuel-core/VERSION
  packages/account/src/account.test.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/utils/handle-gql-error-message.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/mapped-error-messages.test.ts
  packages/fuel-gauge/src/not-enough-coins.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#3342 chore: exclude `node_modules` in template tests
  .changeset/proud-donuts-stare.md
  templates/nextjs/vitest.config.mts
  templates/vite/vitest.config.mts
Labels: chore

#3339 fix: proxy contract versions not being updated correctly
  .changeset/thick-geckos-cheer.md
  scripts/changeset/changeset-version-with-docs.ts
Labels: bug

#3311 ci: add optimized graphql query e2e tests
  .changeset/selfish-weeks-agree.md
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore

#3335 feat: implement batch transfer to contracts
  .changeset/popular-seals-move.md
  apps/docs-snippets/src/guide/cookbook/transferring-assets.test.ts
  apps/docs/src/guide/wallets/wallet-transferring.md
  packages/account/src/account.ts
  packages/account/src/utils/formatTransferToContractScriptData.test.ts
  packages/account/src/utils/formatTransferToContractScriptData.ts
  packages/fuel-gauge/src/contract.test.ts
Labels: feat

#3354 fix: moved `create-fuels` deps for `fuels-ts`
  .changeset/breezy-experts-trade.md
  packages/create-fuels/package.json
  pnpm-lock.yaml
Labels: bug

#3343 docs: migrate `guide/transactions` snippets
  .changeset/smart-flowers-work.md
  apps/docs-snippets/src/guide/transactions/transaction-policies.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-response.test.ts
  apps/docs-snippets/src/guide/transactions/transactions.test.ts
  apps/docs-snippets2/src/transactions/transaction-policies/policies-from-response.ts
  apps/docs-snippets2/src/transactions/transaction-policies/setting-policies.ts
  apps/docs-snippets2/src/transactions/transaction-request/add-predicate.ts
  apps/docs-snippets2/src/transactions/transaction-request/add-witness.ts
  apps/docs-snippets2/src/transactions/transaction-request/create-request.ts
  apps/docs-snippets2/src/transactions/transaction-request/fund-request.ts
  apps/docs-snippets2/src/transactions/transaction-response/contract-call.ts
  apps/docs-snippets2/src/transactions/transaction-response/from-submitted-request.ts
  apps/docs-snippets2/src/transactions/transaction.ts
  apps/docs-snippets2/sway/Forc.toml
  apps/docs-snippets2/sway/simple-predicate/Forc.toml
  apps/docs-snippets2/sway/simple-predicate/src/main.sw
  apps/docs/src/guide/transactions/index.md
  apps/docs/src/guide/transactions/transaction-policies.md
  apps/docs/src/guide/transactions/transaction-request.md
  apps/docs/src/guide/transactions/transaction-response.md
Labels: docs

#3363 docs: migrate one half of the wallet snippets
  apps/docs-snippets/src/guide/wallets/instantiating-wallets.test.ts
  apps/docs-snippets/src/guide/wallets/private-keys.test.ts
  apps/docs-snippets/src/guide/wallets/signing.test.ts
  apps/docs-snippets/src/guide/wallets/wallet-transferring.test.ts
  apps/docs-snippets2/scripts/wrap-snippets.ts
  apps/docs-snippets2/src/wallets/instantiating/connect-existing-wallet.ts
  apps/docs-snippets2/src/wallets/instantiating/connect-new-wallet.ts
  apps/docs-snippets2/src/wallets/instantiating/from-bech32-address.ts
  apps/docs-snippets2/src/wallets/instantiating/from-hd-derived-key.ts
  apps/docs-snippets2/src/wallets/instantiating/from-json-wallet.ts
  apps/docs-snippets2/src/wallets/instantiating/from-mnemonic-phrase.ts
  apps/docs-snippets2/src/wallets/instantiating/from-private-key.ts
  apps/docs-snippets2/src/wallets/instantiating/from-seed.ts
  apps/docs-snippets2/src/wallets/instantiating/from-wallet.ts
  apps/docs-snippets2/src/wallets/instantiating/generate.ts
  apps/docs-snippets2/src/wallets/instantiating/launch-test-node-wallets.ts
  apps/docs-snippets2/src/wallets/instantiating/signer.ts
  apps/docs-snippets2/src/wallets/instantiating/unlock-from-private-key.ts
  apps/docs-snippets2/src/wallets/signing/fund-transaction.ts
  apps/docs-snippets2/src/wallets/signing/sign-message.ts
  apps/docs-snippets2/src/wallets/signing/sign-transaction.ts
  apps/docs-snippets2/src/wallets/transfers/batch-transfer.ts
  apps/docs/src/guide/testing/setting-up-test-wallets.md
  apps/docs/src/guide/wallets/instantiating-wallets.md
  apps/docs/src/guide/wallets/private-keys.md
  apps/docs/src/guide/wallets/signing.md
  apps/docs/src/guide/wallets/wallet-transferring.md
Labels: docs

#3357 docs: migrated `provider` docs snippets
  .changeset/hip-fans-scream.md
  apps/docs-snippets/src/guide/provider/pagination.test.ts
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs-snippets2/src/provider/functionality/get-balances.ts
  apps/docs-snippets2/src/provider/functionality/get-base-asset-id.ts
  apps/docs-snippets2/src/provider/functionality/get-blocks.ts
  apps/docs-snippets2/src/provider/functionality/get-coins-from-account.ts
  apps/docs-snippets2/src/provider/functionality/get-coins-from-provider.ts
  apps/docs-snippets2/src/provider/functionality/get-message-proof-block-height.ts
  apps/docs-snippets2/src/provider/functionality/get-message-proof-block-id.ts
  apps/docs-snippets2/src/provider/functionality/get-messages-by-nonce.ts
  apps/docs-snippets2/src/provider/functionality/get-messages.ts
  apps/docs-snippets2/src/provider/functionality/get-resources-to-spend-from-account.ts
  apps/docs-snippets2/src/provider/functionality/get-resources-to-spend-from-provider.ts
  apps/docs-snippets2/src/provider/functionality/get-transactions.ts
  apps/docs-snippets2/src/provider/pagination.ts
  apps/docs-snippets2/src/provider/provider-instantiation.ts
  apps/docs-snippets2/src/provider/provider-operations.ts
  apps/docs-snippets2/src/provider/provider-options.ts
  apps/docs/src/guide/cookbook/graphql-integration.md
  apps/docs/src/guide/provider/index.md
  apps/docs/src/guide/provider/pagination.md
  apps/docs/src/guide/provider/provider-options.md
  apps/docs/src/guide/provider/querying-the-chain.md
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
Labels: docs
