Repository FuelLabs/fuels-ts, pull requests merged in 2024-07, with the labels that each got.

#2674 ci: introduce github credentials for committing changesets
  .changeset/fifty-worms-sleep.md
  .github/dependabot.yml
  .github/workflows/pr-validate-changesets.yaml
Labels: chore

#2671 docs: update transaction parameters doc page
  .changeset/lucky-games-carry.md
  apps/docs-snippets/src/guide/transactions/transaction-parameters.test.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/transactions/transaction-parameters.md
  apps/docs/src/guide/transactions/transaction-policies.md
Labels: docs, p1

#2598 docs: add `Provider` doc section for `cacheUtxo`
  .changeset/sour-forks-ring.md
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs/src/guide/provider/provider-options.md
Labels: docs, p1

#2685 chore: support `forc@0.61.1`
  .changeset/tidy-spiders-wonder.md
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/test/fixtures/abi/encode-and-decode.jsonc
  apps/docs-snippets/test/fixtures/forc-projects/echo-values/src/main.sw
  internal/forc/VERSION
  packages/abi-typegen/src/abi/types/StrSliceType.ts
  packages/abi-typegen/src/abi/types/StrSlicesType.test.ts
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/fuel-gauge/src/raw-slice.test.ts
  packages/fuel-gauge/src/str-slice.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-str-slice/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-str-slice/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-raw-slice/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-str-slice/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-str-slice/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/str-slice/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/str-slice/src/main.sw
  packages/interfaces/src/index.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
Labels: chore

#2558 fix!: stop piping into `process.stdout/stderr` and use `console.log`
  .changeset/flat-ways-act.md
  packages/abi-typegen/src/cli.test.ts
  packages/abi-typegen/src/cli.ts
  packages/abi-typegen/src/runTypegen.test.ts
  packages/abi-typegen/src/runTypegen.ts
  packages/account/src/test-utils/launchNode.test.ts
  packages/account/src/test-utils/launchNode.ts
  packages/create-fuels/src/utils/logger.test.ts
  packages/create-fuels/src/utils/logger.ts
  packages/errors/src/error-codes.ts
  packages/errors/src/test-utils/expect-to-throw-fuel-error.ts
  packages/fuels/src/bin.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.test.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.ts
  packages/fuels/src/cli/commands/init/index.ts
  packages/fuels/src/cli/utils/logger.test.ts
  packages/fuels/src/cli/utils/logger.ts
  packages/fuels/src/setup-launch-node-server.ts
  packages/fuels/test/features/init.test.ts
  scripts/verify-forc-version.ts
Labels: bug

#2690 chore: triggerable `devnet` e2e tests
  .changeset/slimy-moons-draw.md
  .github/workflows/test.yaml
Labels: chore

#2693 chore: upgrading `forc` to `0.61.2`
  .changeset/tame-dodos-eat.md
  internal/forc/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
Labels: chore

#2697 chore: adding missing comma
  scripts/changeset/get-full-changelog.mts
Labels: chore

#2682 ci: `dependabot` grouping
  .github/dependabot.yml
Labels: chore

#2652 chore!: remove `InvocationResult` from `program` package
  .changeset/silent-tomatoes-warn.md
  apps/docs-snippets/src/guide/cookbook/custom-transactions-contract-calls.test.ts
  apps/docs-snippets/src/guide/encoding/encode-and-decode.test.ts
  apps/docs/src/guide/contracts/logs.md
  packages/fuel-gauge/src/contract.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/functions/invocation-results.ts
  packages/program/src/index.ts
  packages/program/src/response.ts
  packages/program/src/types.ts
  packages/program/src/utils.ts
Labels: chore, p0

#2706 fix: export `launchTestNode` interfaces
  .changeset/gorgeous-donuts-stare.md
  packages/contract/src/test-utils/launch-test-node.ts
Labels: bug

#2710 fix: dependabot creates multiple changesets
  .github/workflows/pr-validate-changesets.yaml
Labels: bug

#2717 chore: upgrading `fuel-core` to `0.31.0`
  .changeset/ninety-candles-perform.md
  internal/fuel-core/VERSION
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/provider.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
Labels: chore

#2597 feat!: made `deployContract` a non-blocking call
  .changeset/tender-eyes-think.md
  apps/create-fuels-counter-guide/src/pages/index.tsx
  apps/demo-bun-fuels/src/bun.test.ts
  apps/demo-fuels/src/index.test.ts
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/inter-contract-calls.test.ts
  apps/docs-snippets/src/guide/contracts/managing-deployed-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/guide/cookbook/custom-transactions-contract-calls.test.ts
  apps/docs-snippets/src/guide/cookbook/deposit-and-withdraw.test.ts
  apps/docs-snippets/src/guide/cookbook/transferring-assets.test.ts
  apps/docs-snippets/src/guide/scripts/script-custom-transaction.test.ts
  apps/docs-snippets/src/utils.ts
  apps/docs/src/guide/contracts/deploying-contracts.md
  packages/abi-typegen/src/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/index.ts
  packages/contract/src/test-utils/launch-test-node.ts
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/fuel-gauge/src/configurable-contract.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/setupContract.ts
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/storage-test-contract.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/src/utils.ts
  packages/fuels/src/cli/commands/deploy/deployContract.ts
Labels: feat, p0

#2408 feat!: implement pagination for `Account` methods
  .changeset/three-shoes-drum.md
  apps/docs-snippets/src/guide/introduction/getting-started.test.ts
  apps/docs-snippets/src/guide/provider/pagination.test.ts
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs-snippets/src/guide/testing/launching-a-test-node.test.ts
  apps/docs-snippets/src/guide/wallets/checking-balances-and-coins.test.ts
  apps/docs-snippets/src/guide/wallets/test-wallets.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/provider/pagination.md
  apps/docs/src/guide/provider/querying-the-chain.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
Labels: feat, p1

#2692 feat!: implement non-blocking contract call
  .changeset/spicy-trains-provide.md
  apps/create-fuels-counter-guide/src/app/page.tsx
  apps/demo-bun-fuels/src/bun.test.ts
  apps/demo-fuels/src/index.test.ts
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/src/guide/contracts/add-transfer.test.ts
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/inter-contract-calls.test.ts
  apps/docs-snippets/src/guide/contracts/interacting-with-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/is-function-readonly.test.ts
  apps/docs-snippets/src/guide/contracts/logs.test.ts
  apps/docs-snippets/src/guide/contracts/minted-token-asset-id.test.ts
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/guide/contracts/variable-outputs.test.ts
  apps/docs-snippets/src/guide/cookbook/deposit-and-withdraw.test.ts
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/scripts/script-with-configurable.test.ts
  apps/docs-snippets/src/guide/testing/launching-a-test-node.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-response.test.ts
  apps/docs-snippets/src/guide/types/numbers.test.ts
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs-snippets/src/guide/utilities/unit-conversion.test.ts
  apps/docs/src/guide/contracts/methods.md
  packages/contract/src/test-utils/launch-test-node.test.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/fuel-gauge/src/bytecode-sway-lib.test.ts
  packages/fuel-gauge/src/bytes.test.ts
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/e2e-script.test.ts
  packages/fuel-gauge/src/edge-cases.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/generic-types-contract.test.ts
  packages/fuel-gauge/src/multi-token-contract.test.ts
  packages/fuel-gauge/src/options.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/raw-slice.test.ts
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/script-main-args.test.ts
  packages/fuel-gauge/src/script-with-configurable.test.ts
  packages/fuel-gauge/src/script-with-vectors.test.ts
  packages/fuel-gauge/src/std-lib-string.test.ts
  packages/fuel-gauge/src/storage-test-contract.test.ts
  packages/fuel-gauge/src/str-slice.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/src/vector-types.test.ts
  packages/fuel-gauge/src/vectors.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  templates/nextjs/src/app/page.tsx
  templates/nextjs/src/app/script/page.tsx
Labels: feat, p0

#2739 chore: fix repetitive words
  .changeset/hip-bats-flow.md
  apps/docs/src/guide/fuels-cli/generating-types.md
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/providers/provider.ts
Labels: chore

#2749 feat: utilize the Next.js `Link` component
  .changeset/soft-jars-wait.md
  templates/nextjs/src/components/Link.tsx
Labels: feat

#2737 chore: added code of conduct
  .changeset/long-lamps-pump.md
  CODE_OF_CONDUCT.md
Labels: chore

#2743 chore: mimic `JsonAbi` interface from `abi-coder` in `abi-typegen`
  .changeset/strange-buses-smell.md
  packages/abi-typegen/src/abi/Abi.test.ts
  packages/abi-typegen/src/abi/Abi.ts
  packages/abi-typegen/src/abi/configurable/Configurable.test.ts
  packages/abi-typegen/src/abi/configurable/Configurable.ts
  packages/abi-typegen/src/abi/functions/Function.ts
  packages/abi-typegen/src/abi/types/AType.ts
  packages/abi-typegen/src/abi/types/ArrayType.test.ts
  packages/abi-typegen/src/abi/types/EmptyType.ts
  packages/abi-typegen/src/abi/types/EnumType.test.ts
  packages/abi-typegen/src/abi/types/EnumType.ts
  packages/abi-typegen/src/abi/types/EvmAddressType.test.ts
  packages/abi-typegen/src/abi/types/OptionType.test.ts
  packages/abi-typegen/src/abi/types/ResultType.test.ts
  packages/abi-typegen/src/abi/types/StructType.test.ts
  packages/abi-typegen/src/abi/types/StructType.ts
  packages/abi-typegen/src/abi/types/TupleType.test.ts
  packages/abi-typegen/src/abi/types/U8Type.ts
  packages/abi-typegen/src/index.ts
  packages/abi-typegen/src/types/interfaces/IConfigurable.ts
  packages/abi-typegen/src/types/interfaces/IFunction.ts
  packages/abi-typegen/src/types/interfaces/IRawAbi.ts
  packages/abi-typegen/src/types/interfaces/IRawAbiConfigurable.ts
  packages/abi-typegen/src/types/interfaces/IRawAbiFunction.ts
  packages/abi-typegen/src/types/interfaces/IRawAbiLoggedTypes.ts
  packages/abi-typegen/src/types/interfaces/IRawAbiMessagesType.ts
  packages/abi-typegen/src/types/interfaces/IRawAbiType.ts
  packages/abi-typegen/src/types/interfaces/IType.ts
  packages/abi-typegen/src/types/interfaces/JsonAbi.ts
  packages/abi-typegen/src/utils/extractStructName.test.ts
  packages/abi-typegen/src/utils/extractStructName.ts
  packages/abi-typegen/src/utils/findType.test.ts
  packages/abi-typegen/src/utils/makeConfigurable.ts
  packages/abi-typegen/src/utils/makeFunction.test.ts
  packages/abi-typegen/src/utils/makeFunction.ts
  packages/abi-typegen/src/utils/makeType.test.ts
  packages/abi-typegen/src/utils/makeType.ts
  packages/abi-typegen/src/utils/parseConfigurables.ts
  packages/abi-typegen/src/utils/parseFunctions.test.ts
  packages/abi-typegen/src/utils/parseFunctions.ts
  packages/abi-typegen/src/utils/parseTypeArguments.test.ts
  packages/abi-typegen/src/utils/parseTypeArguments.ts
  packages/abi-typegen/src/utils/parseTypes.test.ts
  packages/abi-typegen/src/utils/parseTypes.ts
  packages/abi-typegen/test/fixtures/forc-projects/index.ts
  packages/abi-typegen/test/utils/getNewAbiTypegen.ts
Labels: chore

#2718 fix!: `launchNode.cleanup` not killing node in last test of test group
  .changeset/breezy-tables-jam.md
  .knip.json
  packages/account/package.json
  packages/account/src/test-utils/launchNode-singular-test.test.ts
  packages/account/src/test-utils/launchNode.test.ts
  packages/account/src/test-utils/launchNode.ts
  packages/fuels/package.json
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.ts
  pnpm-lock.yaml
Labels: bug

#2752 chore: replace `create-fuels` hardcoded values with constants
  .changeset/rotten-forks-share.md
  apps/create-fuels-counter-guide/src/app/page.tsx
  apps/create-fuels-counter-guide/src/hooks/useFaucet.tsx
  apps/create-fuels-counter-guide/src/lib.ts
  templates/nextjs/src/app/page.tsx
  templates/nextjs/src/hooks/useFaucet.tsx
  templates/nextjs/src/lib.ts
Labels: chore

#2756 fix: `launchTestNode` multiple contracts type inference
  .changeset/soft-cycles-do.md
  packages/contract/src/test-utils/launch-test-node.ts
  packages/fuel-gauge/src/launch-test-node-types.test.ts
Labels: bug

#2757 chore: fix connectors doc
  apps/docs/src/guide/wallets/connectors.md
Labels: chore

#2762 feat: add minified `fuels` distribution
  .changeset/shiny-paws-chew.md
  packages/fuels/package.json
  pnpm-lock.yaml
Labels: feat

#2770 chore: added missing imports
  .changeset/tall-foxes-applaud.md
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
Labels: chore

#2779 fix: `create-fuels` install dependencies by default
  .changeset/rare-ducks-sort.md
  packages/create-fuels/src/cli.ts
  packages/create-fuels/src/lib/setupProgram.test.ts
  packages/create-fuels/src/lib/setupProgram.ts
Labels: bug

#2780 chore: removed GitHub pages deployment
  .changeset/sweet-schools-jump.md
  .github/workflows/release.yaml
  apps/docs/.vitepress/config.ts
Labels: chore

#2759 fix: verification of `fuel-core` node killing
  .changeset/neat-bikes-melt.md
  packages/account/src/test-utils/launchNode-singular-test.test.ts
  packages/account/src/test-utils/launchNode.test.ts
Labels: bug

#2789 chore: improve `fuel-gauge` tests
  packages/fuel-gauge/src/await-execution.test.ts
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/is-function-readonly.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/fuel-gauge/src/options.test.ts
  packages/fuel-gauge/src/payable-annotation.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
Labels: chore

#2794 chore: upgrading `forc` to `0.62.0`
  .changeset/red-pumpkins-love.md
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/test/fixtures/abi/encode-and-decode.jsonc
  internal/forc/VERSION
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
Labels: chore

#2772 docs: add more comments around the `create-fuels` template app
  .changeset/slow-moles-hang.md
  apps/create-fuels-counter-guide/fuels.config.ts
  apps/create-fuels-counter-guide/src/app/faucet/page.tsx
  apps/create-fuels-counter-guide/src/app/layout.tsx
  apps/create-fuels-counter-guide/src/app/page.tsx
  apps/create-fuels-counter-guide/src/app/predicate/page.tsx
  apps/create-fuels-counter-guide/src/app/script/page.tsx
  apps/create-fuels-counter-guide/src/components/Layout.tsx
  apps/create-fuels-counter-guide/src/hooks/useActiveWallet.tsx
  apps/create-fuels-counter-guide/src/hooks/useBrowserWallet.tsx
  apps/create-fuels-counter-guide/src/hooks/useBurnerWallet.tsx
  apps/create-fuels-counter-guide/src/hooks/useFaucet.tsx
  apps/create-fuels-counter-guide/src/lib.ts
  apps/create-fuels-counter-guide/sway-programs/contract/src/main.sw
  apps/create-fuels-counter-guide/sway-programs/predicate/src/main.sw
  apps/create-fuels-counter-guide/sway-programs/script/src/main.sw
  templates/nextjs/fuels.config.ts
  templates/nextjs/src/app/faucet/page.tsx
  templates/nextjs/src/app/layout.tsx
  templates/nextjs/src/app/page.tsx
  templates/nextjs/src/app/predicate/page.tsx
  templates/nextjs/src/app/script/page.tsx
  templates/nextjs/src/components/Layout.tsx
  templates/nextjs/src/hooks/useActiveWallet.tsx
  templates/nextjs/src/hooks/useBrowserWallet.tsx
  templates/nextjs/src/hooks/useBurnerWallet.tsx
  templates/nextjs/src/hooks/useFaucet.tsx
  templates/nextjs/src/lib.ts
  templates/nextjs/sway-programs/contract/src/main.sw
  templates/nextjs/sway-programs/predicate/src/main.sw
  templates/nextjs/sway-programs/script/src/main.sw
Labels: docs

#2799 chore: stabilise testing for create fuels templating
  packages/create-fuels/src/bin.ts
  packages/create-fuels/src/cli.ts
  packages/create-fuels/src/lib/rewriteTemplateFiles.test.ts
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/test/utils/bootstrapProject.ts
  scripts/tests-find.sh
Labels: chore

#2755 feat: add testing to `create-fuels`
  .changeset/shaggy-houses-remember.md
  apps/docs-snippets/src/guide/contracts/interacting-with-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs-snippets/src/guide/cookbook/custom-transactions-contract-calls.test.ts
  apps/docs-snippets/src/guide/create-fuels/decrement_counter.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-response.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/counter/src/main.sw
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  packages/create-fuels/src/bin.ts
  packages/create-fuels/src/cli.ts
  packages/create-fuels/src/lib/rewriteTemplateFiles.test.ts
  packages/create-fuels/src/lib/rewriteTemplateFiles.ts
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/test/utils/bootstrapProject.ts
  pnpm-lock.yaml
  scripts/tests-find.sh
  templates/nextjs/package.json
  templates/nextjs/test/contract.test.ts
  templates/nextjs/test/predicate.test.ts
  templates/nextjs/test/script.test.ts
  templates/nextjs/vitest.config.mts
Labels: feat

#2800 fix: build error for `demo-wallet-sdk-react`
  .changeset/cyan-chicken-jam.md
  apps/demo-wallet-sdk-react/package.json
  apps/demo-wallet-sdk-react/pages/_app.tsx
  pnpm-lock.yaml
Labels: bug

#2796 feat!: deploy contract validation
  .changeset/tall-planes-nail.md
  apps/docs/src/guide/contracts/deploying-contracts.md
  apps/docs/src/guide/errors/index.md
  apps/docs/src/guide/fuels-cli/commands.md
  packages/account/src/providers/transaction-request/transaction-request.test.ts
  packages/account/src/providers/transaction-request/utils.ts
  packages/account/src/providers/transaction-summary/operations.test.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/util.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/transactions/src/coders/transaction.ts
  packages/transactions/src/coders/upgrade-purpose.ts
Labels: feat

#2814 fix: allow setting min gas price in `launchNode` args
  .changeset/mighty-crews-vanish.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/test-utils/launchNode.ts
Labels: bug

#2803 chore: adding line breaks to PR template comments
  .github/pull_request_template.md
Labels: chore

#2643 chore!: refactored the `getTransactionCost` method
  .changeset/short-sheep-divide.md
  apps/docs-snippets/src/guide/cookbook/custom-transactions-contract-calls.test.ts
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/encoding/encode-and-decode.test.ts
  apps/docs-snippets/src/guide/predicates/interacting-with-predicates.test.ts
  apps/docs-snippets/src/guide/scripts/script-custom-transaction.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-response.test.ts
  apps/docs-snippets/src/guide/wallets/signing.test.ts
  apps/docs-snippets/src/utils.ts
  apps/docs/src/guide/contracts/cost-estimation.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/test-utils/seedTestWallet.ts
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundPredicate.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/interfaces/src/index.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/script/src/script.test.ts
Labels: chore

#2738 chore: improve issue templates
  .changeset/honest-onions-vanish.md
  .github/ISSUE_TEMPLATE/1-bug.yaml
  .github/ISSUE_TEMPLATE/2-feature.yaml
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
Labels: chore

#2716 docs: re-introduce a section from provider docs
  .changeset/three-moles-drop.md
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs/src/guide/provider/querying-the-chain.md
Labels: docs

#2815 fix: make properties of configurables optional in typegen
  .changeset/tasty-fireants-switch.md
  packages/abi-typegen/src/templates/contract/dts.hbs
  packages/abi-typegen/src/templates/predicate/factory.hbs
  packages/abi-typegen/src/templates/script/factory.hbs
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/dts.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/script-with-configurable.test.ts
Labels: bug

#2820 chore!: remove `awaitExecution` functionality
  .changeset/cyan-doors-tickle.md
  apps/docs-snippets/src/utils.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.ts
  packages/account/src/test-utils/seedTestWallet.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/await-execution.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundPredicate.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: chore

#2798 chore: handle `create fuels` template scenarios for insufficient funds
  .changeset/clever-bananas-search.md
  apps/create-fuels-counter-guide/src/app/page.tsx
  apps/create-fuels-counter-guide/src/app/predicate/page.tsx
  apps/create-fuels-counter-guide/src/app/script/page.tsx
  apps/create-fuels-counter-guide/src/lib.ts
  templates/nextjs/src/app/page.tsx
  templates/nextjs/src/app/predicate/page.tsx
  templates/nextjs/src/app/script/page.tsx
  templates/nextjs/src/lib.ts
Labels: chore

#2830 chore: ensure test cases wait for TX to complete
  .changeset/silver-nails-add.md
  apps/create-fuels-counter-guide/src/app/predicate/page.tsx
  apps/docs-snippets/src/guide/cookbook/transferring-assets.test.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: chore, p2

#2786 docs: added connector documentation
  .changeset/small-chicken-hear.md
  apps/docs-snippets/src/guide/wallets/connectors.test.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/errors/index.md
  apps/docs/src/guide/wallets/connectors.md
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/fuel.ts
  packages/account/src/connectors/types/connector-metadata.ts
  packages/fuels/src/cli/types.ts
Labels: docs

#2840 docs: fix `getMintedAssetId` example
  .changeset/pink-walls-roll.md
  apps/docs-snippets/src/guide/contracts/minted-token-asset-id.test.ts
Labels: docs

#2843 fix: export interfaces in typegen
  .changeset/three-candles-appear.md
  packages/abi-typegen/src/templates/contract/dts.hbs
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/dts.hbs
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
Labels: bug

#2861 fix: ignore unreachable PRs when formatting changelogs
  .changeset/twenty-donuts-sin.md
  scripts/changeset/get-full-changelog.mts
Labels: bug

#2841 fix: integration test
  .changeset/short-pens-leave.md
  .github/workflows/test.yaml
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  apps/docs/src/guide/creating-a-fuel-dapp/options.md
  packages/create-fuels/package.json
  packages/create-fuels/test/integration.test.ts
  scripts/tests-ui.sh
Labels: bug

#2859 fix: typegen generic configurables
  .changeset/strange-moose-eat.md
  packages/abi-typegen/src/abi/Abi.test.ts
  packages/abi-typegen/src/abi/Abi.ts
  packages/abi-typegen/src/abi/configurable/Configurable.test.ts
  packages/abi-typegen/src/abi/configurable/Configurable.ts
  packages/abi-typegen/src/abi/functions/Function.ts
  packages/abi-typegen/src/templates/contract/dts.hbs
  packages/abi-typegen/src/templates/contract/dts.ts
  packages/abi-typegen/src/templates/predicate/factory.hbs
  packages/abi-typegen/src/templates/predicate/factory.ts
  packages/abi-typegen/src/templates/script/factory.hbs
  packages/abi-typegen/src/templates/script/factory.ts
  packages/abi-typegen/src/templates/utils/formatConfigurables.test.ts
  packages/abi-typegen/src/templates/utils/formatConfigurables.ts
  packages/abi-typegen/src/types/interfaces/IConfigurable.ts
  packages/abi-typegen/src/utils/getTypeDeclaration.ts
  packages/abi-typegen/src/utils/makeConfigurable.test.ts
  packages/abi-typegen/src/utils/makeConfigurable.ts
  packages/abi-typegen/src/utils/parseConfigurables.test.ts
  packages/abi-typegen/src/utils/parseConfigurables.ts
  packages/abi-typegen/test/fixtures/forc-projects/minimal-with-configurable/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/dts.hbs
Labels: bug

#2777 feat!: improve `()` and `Option<T>` type handling
  .changeset/tender-birds-tap.md
  apps/docs-snippets/src/guide/types/options.test.ts
  packages/abi-coder/src/FunctionFragment.ts
  packages/abi-coder/src/encoding/coders/EnumCoder.ts
  packages/abi-coder/src/encoding/coders/VoidCoder.test.ts
  packages/abi-coder/src/encoding/coders/VoidCoder.ts
  packages/abi-coder/src/encoding/strategies/getCoderV1.ts
  packages/abi-coder/src/utils/constants.ts
  packages/abi-coder/src/utils/getFunctionInputs.test.ts
  packages/abi-coder/src/utils/getFunctionInputs.ts
  packages/abi-coder/src/utils/json-abi.test.ts
  packages/abi-coder/src/utils/json-abi.ts
  packages/abi-coder/src/utils/padValuesWithUndefined.test.ts
  packages/abi-coder/src/utils/padValuesWithUndefined.ts
  packages/abi-typegen/src/abi/functions/Function.test.ts
  packages/abi-typegen/src/abi/functions/Function.ts
  packages/abi-typegen/src/abi/types/EmptyType.test.ts
  packages/abi-typegen/src/abi/types/EmptyType.ts
  packages/abi-typegen/src/templates/contract/dts.test.ts
  packages/abi-typegen/src/utils/getFunctionInputs.test.ts
  packages/abi-typegen/src/utils/getFunctionInputs.ts
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/options.test.ts
  packages/fuel-gauge/src/predicate/predicate-input-data.test.ts
  packages/fuel-gauge/src/script-with-options.test.ts
  packages/fuel-gauge/src/void.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/options/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-options/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-options/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/void/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/void/src/main.sw
Labels: feat

#2868 chore: fix changeset
  .changeset/tender-birds-tap.md
Labels: chore

#2782 fix: return correct operations from coin and message inputs
  .changeset/thin-pumpkins-sell.md
  packages/account/src/providers/transaction-summary/input.test.ts
  packages/account/src/providers/transaction-summary/input.ts
  packages/account/src/providers/transaction-summary/operations.test.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/account/src/test-utils/wallet-config.test.ts
  packages/account/src/test-utils/wallet-config.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: bug

#2870 fix: option coder decoding incorrect value
  packages/abi-coder/src/encoding/coders/OptionCoder.test.ts
  packages/abi-coder/src/encoding/coders/OptionCoder.ts
  packages/abi-coder/src/encoding/strategies/getCoderV1.ts
  packages/abi-coder/src/utils/constants.ts
Labels: bug

#2871 chore: normalizing workflow timeouts
  .changeset/rude-grapes-carry.md
  .github/workflows/test.yaml
Labels: chore

#2869 chore: added option coder tests
  .changeset/silver-wombats-remember.md
  packages/abi-coder/src/encoding/coders/EnumCoder.test.ts
  packages/abi-coder/src/encoding/coders/OptionCoder.test.ts
  packages/abi-coder/src/encoding/coders/OptionCoder.ts
  packages/fuel-gauge/src/options.test.ts
Labels: chore
