Repository FuelLabs/fuels-ts, pull requests merged in 2024-11, with the labels that each got.

#3368 docs: misc snippets
  .changeset/funny-pants-rule.md
  apps/docs-snippets/src/guide/types/conversion.test.ts
  apps/docs-snippets/src/guide/types/date-time.test.ts
  apps/docs-snippets/src/guide/utilities/unit-conversion.test.ts
  apps/docs-snippets/src/guide/utilities/using-assets.test.ts
  apps/docs-snippets2/src/utilities/address-conversion/asset-id.ts
  apps/docs-snippets2/src/utilities/address-conversion/b256-to-bech32-utilities.ts
  apps/docs-snippets2/src/utilities/address-conversion/b256-to-bech32.ts
  apps/docs-snippets2/src/utilities/address-conversion/bech32-to-b256-utilities.ts
  apps/docs-snippets2/src/utilities/address-conversion/bech32-to-b256.ts
  apps/docs-snippets2/src/utilities/address-conversion/contract.ts
  apps/docs-snippets2/src/utilities/address-conversion/wallet.ts
  apps/docs-snippets2/src/utilities/date-conversion/date-object.ts
  apps/docs-snippets2/src/utilities/date-conversion/instantiation.ts
  apps/docs-snippets2/src/utilities/date-conversion/tai64.ts
  apps/docs-snippets2/src/utilities/date-conversion/unix-milliseconds.ts
  apps/docs-snippets2/src/utilities/date-conversion/unix-seconds.ts
  apps/docs-snippets2/src/utilities/using-assets.ts
  apps/docs/src/guide/utilities/address-conversion.md
  apps/docs/src/guide/utilities/date-conversion.md
  apps/docs/src/guide/utilities/using-assets.md
Labels: docs

#3371 chore: upgrading `forc` to `0.66.4`
  .changeset/small-ways-sleep.md
  apps/docs-snippets/test/fixtures/abi/encode-and-decode.jsonc
  internal/forc/VERSION
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/main.hbs
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#3366 docs: half of contract snippets
  .changeset/gorgeous-bikes-swim.md
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  apps/docs-snippets/src/guide/contracts/configurable-constants.test.ts
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/contracts/cost-estimation.test.ts
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/index.test.ts
  apps/docs-snippets/src/guide/contracts/inter-contract-calls.test.ts
  apps/docs-snippets/src/guide/contracts/logs.test.ts
  apps/docs-snippets/src/guide/contracts/managing-deployed-contracts.test.ts
  apps/docs-snippets2/fuels.config.ts
  apps/docs-snippets2/scripts/pretest.sh
  apps/docs-snippets2/src/contracts/call-parameters/forward.ts
  apps/docs-snippets2/src/contracts/call-parameters/gas-fee.ts
  apps/docs-snippets2/src/contracts/call-parameters/setting-both-parameters.ts
  apps/docs-snippets2/src/contracts/configurable-constants.ts
  apps/docs-snippets2/src/contracts/contract-balance.ts
  apps/docs-snippets2/src/contracts/cost-estimation.ts
  apps/docs-snippets2/src/contracts/deploying-contracts/deployment.ts
  apps/docs-snippets2/src/contracts/deploying-contracts/get-max-size.ts
  apps/docs-snippets2/src/contracts/inter-contract-calls.ts
  apps/docs-snippets2/src/contracts/introduction.ts
  apps/docs-snippets2/src/contracts/logs.ts
  apps/docs-snippets2/src/contracts/managing-deployed-contracts.ts
  apps/docs-snippets2/sway/Forc.toml
  apps/docs-snippets2/sway/echo-configurables/Forc.toml
  apps/docs-snippets2/sway/echo-configurables/src/main.sw
  apps/docs-snippets2/sway/log-values/Forc.toml
  apps/docs-snippets2/sway/log-values/src/main.sw
  apps/docs-snippets2/sway/my-contract/.gitignore
  apps/docs-snippets2/sway/my-contract/Forc.toml
  apps/docs-snippets2/sway/my-contract/src/main.sw
  apps/docs-snippets2/sway/return-context/Forc.toml
  apps/docs-snippets2/sway/return-context/src/main.sw
  apps/docs-snippets2/sway/simple-token-abi/Forc.toml
  apps/docs-snippets2/sway/simple-token-abi/src/main.sw
  apps/docs-snippets2/sway/simple-token/Forc.toml
  apps/docs-snippets2/sway/simple-token/src/main.sw
  apps/docs-snippets2/sway/token-depositor/Forc.toml
  apps/docs-snippets2/sway/token-depositor/src/main.sw
  apps/docs-snippets2/sway/transfer-to-address/Forc.toml
  apps/docs-snippets2/sway/transfer-to-address/src/main.sw
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/contracts/call-parameters.md
  apps/docs/src/guide/contracts/configurable-constants.md
  apps/docs/src/guide/contracts/contract-balance.md
  apps/docs/src/guide/contracts/cost-estimation.md
  apps/docs/src/guide/contracts/dependency-estimation.md
  apps/docs/src/guide/contracts/deploying-contracts.md
  apps/docs/src/guide/contracts/index.md
  apps/docs/src/guide/contracts/inter-contract-calls.md
  apps/docs/src/guide/contracts/logs.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  packages/account/src/providers/provider.ts
  packages/program/src/contract.ts
  scripts/forc-format.sh
Labels: docs

#3367 docs: migrate `guide/cookbook` snippets
  .changeset/seven-poets-matter.md
  apps/docs-snippets/src/guide/cookbook/custom-transactions-contract-calls.test.ts
  apps/docs-snippets/src/guide/cookbook/deposit-and-withdraw.test.ts
  apps/docs-snippets/src/guide/cookbook/generate-fake-resources.test.ts
  apps/docs-snippets/src/guide/cookbook/resubmitting-failed-transactions.test.ts
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/cookbook/transferring-assets.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets2/src/cookbook/custom-contract-calls.ts
  apps/docs-snippets2/src/cookbook/deposit-and-withdraw/deposit.ts
  apps/docs-snippets2/src/cookbook/deposit-and-withdraw/withdraw.ts
  apps/docs-snippets2/src/cookbook/fake-resources.ts
  apps/docs-snippets2/src/cookbook/resubmitting-failed-transactions/right-resubmission.ts
  apps/docs-snippets2/src/cookbook/resubmitting-failed-transactions/submitting.ts
  apps/docs-snippets2/src/cookbook/resubmitting-failed-transactions/wrong-resubmission.ts
  apps/docs-snippets2/src/cookbook/signing-transactions/predicate.ts
  apps/docs-snippets2/src/cookbook/signing-transactions/script.ts
  apps/docs-snippets2/src/cookbook/wallet-transferring/between-accounts.ts
  apps/docs-snippets2/src/cookbook/wallet-transferring/create-transfer-2.ts
  apps/docs-snippets2/src/cookbook/wallet-transferring/create-transfer.ts
  apps/docs-snippets2/src/cookbook/wallet-transferring/transferring-to-contracts.ts
  apps/docs-snippets2/src/cookbook/wallet-transferring/transferring-to-multiple-contracts.ts
  apps/docs-snippets2/sway/Forc.toml
  apps/docs-snippets2/sway/liquidity-pool/Forc.toml
  apps/docs-snippets2/sway/liquidity-pool/src/main.sw
  apps/docs-snippets2/sway/predicate-signing/Forc.toml
  apps/docs-snippets2/sway/predicate-signing/src/main.sw
  apps/docs-snippets2/sway/return-script/Forc.toml
  apps/docs-snippets2/sway/return-script/src/main.sw
  apps/docs-snippets2/sway/script-signing/Forc.toml
  apps/docs-snippets2/sway/script-signing/src/main.sw
  apps/docs/src/guide/cookbook/custom-transactions-from-contract-calls.md
  apps/docs/src/guide/cookbook/deposit-and-withdraw.md
  apps/docs/src/guide/cookbook/generate-fake-resources.md
  apps/docs/src/guide/cookbook/resubmitting-failed-transactions.md
  apps/docs/src/guide/cookbook/transactions-with-multiple-signers.md
  apps/docs/src/guide/wallets/wallet-transferring.md
Labels: docs

#3336 chore!: optimize `getTransactions` query
  .changeset/nervous-impalas-serve.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
Labels: chore

#3298 fix!: remove unnecessary nonce from message gql queries
  .changeset/chatty-camels-wave.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/account/test/fixtures/messageProof.ts
Labels: bug

#3301 chore!: optimize coin gql queries
  .changeset/young-steaks-brake.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
Labels: bug, chore

#3379 chore!: remove `blockId` in transaction list responses
  .changeset/smart-olives-attend.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.test.ts
  packages/account/src/providers/transaction-summary/status.ts
  packages/account/src/providers/transaction-summary/types.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: feat, chore, Breaking Change

#3388 fix: bump proxy contract versions
  .changeset/thirty-waves-grin.md
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxy.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxyFactory.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/common.d.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/index.ts
Labels: bug

#3387 chore!: mandate `abi` in `Predicate` constructor
  .changeset/many-rings-joke.md
  packages/account/src/predicate/predicate.ts
  packages/account/test/predicate-functions.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
Labels: chore, Breaking Change

#3393 chore: use typegen'd outputs in some fuel-gauge tests
  .changeset/orange-panthers-lay.md
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
Labels: chore

#3383 feat!: `onDeploy` fuels config supports all Sway program types
  .changeset/khaki-trees-wink.md
  apps/demo-fuels/fuels.config.full.ts
  packages/fuels/src/cli/commands/deploy/index.test.ts
  packages/fuels/src/cli/commands/deploy/index.ts
  packages/fuels/src/cli/commands/dev/index.test.ts
  packages/fuels/src/cli/commands/withConfig.test.ts
  packages/fuels/src/cli/types.ts
  packages/fuels/test/features/build.test.ts
  packages/fuels/test/features/dev.test.ts
Labels: feat

#3389 chore!: refactor predicate and script deployment
  .changeset/little-moons-drive.md
  apps/docs-snippets2/src/predicates/deploying-predicates.ts
  apps/docs-snippets2/src/scripts/deploying-scripts.ts
  packages/account/src/index.ts
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/transaction-request/blob-transaction-request.ts
  packages/account/src/utils/deployScriptOrPredicate.ts
  packages/account/src/utils/predicate-script-loader-instructions.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/loader/index.ts
  packages/fuel-gauge/src/blob-deploy.test.ts
  packages/fuel-gauge/src/check-user-account.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-dummy/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-dummy/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-configurable/src/main.sw
  packages/fuels/src/cli/commands/deploy/adjustOffsets.ts
  packages/fuels/src/cli/commands/deploy/deployPredicates.ts
  packages/fuels/src/cli/commands/deploy/deployScripts.ts
  packages/script/src/script.ts
Labels: chore

#3397 docs: final snippets
  .changeset/grumpy-crabs-exist.md
  apps/demo-fuels/fuels.config.full.ts
  apps/docs-snippets2/src/scripts/initialising-scripts.ts
  apps/docs-snippets2/src/scripts/script-with-main-args.ts
  apps/docs-snippets2/sway/Forc.toml
  apps/docs-snippets2/sway/call-test-script/Forc.toml
  apps/docs-snippets2/sway/call-test-script/src/main.sw
  apps/docs-snippets2/sway/script-main-args/Forc.toml
  apps/docs-snippets2/sway/script-main-args/src/main.sw
  apps/docs/src/guide/scripts/instantiating-a-script.md
  apps/docs/src/guide/scripts/running-scripts.md
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/fuel-gauge/src/script-main-args.test.ts
  packages/script/src/script.test.ts
Labels: docs, chore

#3400 chore!: limit TX pagination number for `getTransactionsSummaries`
  .changeset/odd-bears-drive.md
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/providers/utils/validate-pagination-args.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: chore

#3384 chore: added noImplicitOverride option to config
  .changeset/large-points-arrive.md
  apps/docs-snippets2/src/wallets/connectors.ts
  apps/docs-snippets2/src/wallets/fuel-instantiation-options.ts
  packages/abi-coder/src/encoding/coders/EnumCoder.ts
  packages/abi-coder/src/encoding/coders/OptionCoder.ts
  packages/abi-coder/src/encoding/coders/StructCoder.ts
  packages/abi-typegen/src/abi/types/AssetIdType.ts
  packages/abi-typegen/src/abi/types/B256Type.ts
  packages/abi-typegen/src/abi/types/B512Type.ts
  packages/abi-typegen/src/abi/types/BytesType.ts
  packages/abi-typegen/src/abi/types/RawUntypedPtr.ts
  packages/abi-typegen/src/abi/types/RawUntypedSlice.ts
  packages/abi-typegen/src/abi/types/U16Type.ts
  packages/abi-typegen/src/abi/types/U256Type.ts
  packages/abi-typegen/src/abi/types/U32Type.ts
  packages/abi-typegen/src/abi/types/U64Type.ts
  packages/abi-typegen/src/abi/types/VectorType.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/transaction-request/blob-transaction-request.ts
  packages/account/src/providers/transaction-request/create-transaction-request.ts
  packages/account/src/providers/transaction-request/errors.ts
  packages/account/src/providers/transaction-request/script-transaction-request.ts
  packages/account/src/providers/transaction-request/transaction-request.test.ts
  packages/account/src/providers/transaction-request/upgrade-transaction-request.ts
  packages/account/src/providers/transaction-request/upload-transaction-request.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/address/src/address.ts
  packages/math/src/bn.ts
  packages/program/src/functions/multicall-scope.ts
  packages/script/src/script-invocation-scope.ts
  tsconfig.base.json
Labels: chore

#3398 feat: better typegen contract factory integration with `launchTestNode`
  .changeset/twenty-needles-buy.md
  apps/docs-snippets2/src/testing/launching-a-test-node.ts
  packages/contract/src/test-utils/launch-test-node.test.ts
  packages/contract/src/test-utils/launch-test-node.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
Labels: feat

#3409 docs: contributing guide update
  CONTRIBUTING.md
Labels: docs

#3381 chore: move type:check to lint hook
  .changeset/polite-seas-taste.md
  apps/docs-snippets/package.json
  apps/docs-snippets/scripts/pretest.sh
  internal/benchmarks/package.json
  package.json
  packages/create-fuels/package.json
  packages/fuel-gauge/package.json
  packages/fuels/package.json
  turbo.json
Labels: chore, good first issue

#3411 chore: deprecate bech32 addresses
  .changeset/late-pugs-carry.md
  CONTRIBUTING.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/types/address.md
  apps/docs/src/guide/types/bech32.md
  apps/docs/src/guide/utilities/address-conversion.md
  packages/address/README.md
  packages/address/src/address.ts
  packages/address/src/utils.ts
  packages/errors/src/error-codes.ts
  packages/interfaces/src/index.ts
Labels: chore

#3349 chore: add full abi coder tests
  .changeset/long-ducks-jump.md
  packages/fuel-gauge/src/abi/abi-coder.test.ts
  packages/fuel-gauge/src/abi/constants.ts
  packages/fuel-gauge/src/abi/vitest.matcher.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/data_structures.sw
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/equality.sw
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/utils.sw
  packages/fuel-gauge/test/fixtures/forc-projects/abi-library/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/abi-library/src/lib.sw
Labels: chore

#3416 chore: remove legacy API docs
  .changeset/calm-buttons-help.md
  .github/workflows/release.yaml
  apps/docs/.gitignore
  apps/docs/.typedoc/api-readme.md
  apps/docs/.vitepress/config.ts
  apps/docs/package.json
  apps/docs/scripts/typedoc-postbuild.ts
  apps/docs/src/guide/contracts/contract-balance.md
  apps/docs/src/guide/contracts/cost-estimation.md
  apps/docs/src/guide/contracts/dependency-estimation.md
  apps/docs/src/guide/contracts/deploying-contracts.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/contracts/using-different-wallets.md
  apps/docs/src/guide/cookbook/custom-transactions-from-contract-calls.md
  apps/docs/src/guide/cookbook/custom-transactions.md
  apps/docs/src/guide/errors/index.md
  apps/docs/src/guide/predicates/instantiating-a-predicate.md
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  apps/docs/src/guide/provider/index.md
  apps/docs/src/guide/provider/provider-options.md
  apps/docs/src/guide/testing/launching-a-test-node.md
  apps/docs/src/guide/testing/test-node-options.md
  apps/docs/src/guide/types/address.md
  apps/docs/src/guide/types/bech32.md
  apps/docs/src/guide/types/bits256.md
  apps/docs/src/guide/utilities/address-conversion.md
  apps/docs/src/guide/utilities/using-assets.md
  apps/docs/src/guide/wallets/checking-balances.md
  apps/docs/src/guide/wallets/connectors.md
  apps/docs/src/guide/wallets/encrypting-and-decrypting.md
  apps/docs/src/guide/wallets/index.md
  apps/docs/src/guide/wallets/instantiating-wallets.md
  apps/docs/src/guide/wallets/locking-and-unlocking.md
  apps/docs/typedoc.json
  pnpm-lock.yaml
Labels: chore
