Repository FuelLabs/fuels-ts, pull requests merged in 2024-02, with the labels that each got.

#1692 chore: stop removing `fuel-ts/utils` node modules on unit test
  .changeset/honest-parrots-wait.md
  packages/abi-coder/src/coders/boolean.test.ts
  packages/abi-typegen/test/utils/mockVersions.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.test.ts
  packages/fuels/src/cli/commands/init/shouldUseBuiltinForc.test.ts
  packages/fuels/src/cli/commands/init/shouldUseBuiltinFuelCore.test.ts
  packages/providers/package.json
  packages/providers/test/provider.test.ts
  packages/utils/package.json
  packages/utils/src/cli-utils/findBinPath.test.ts
  packages/wallet/src/account.test.ts
  packages/wallet/src/utils.test.ts
  packages/wallet/src/wallet-unlocked.test.ts
  pnpm-lock.yaml
Labels: chore

#1707 chore: upgrading `forc` to `0.49.2`
  .changeset/witty-hounds-work.md
  .github/actions/ci-setup/action.yaml
  apps/docs-snippets/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/script-transfer-to-contract/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/transfer-to-address/src/main.sw
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/forc/VERSION
  packages/forc/lib/install.js
  packages/forc/lib/shared.js
  packages/fuel-core/lib/install.js
  packages/fuel-core/lib/shared.js
  packages/fuel-gauge/test/fixtures/forc-projects/advanced-logging/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/call-test-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/configurable-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/multi-token-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-vector-types/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/revert-error/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_abi/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-script/src/main.sw
  packages/fuels/test/features/build.test.ts
  packages/fuels/test/features/deploy.test.ts
  packages/script/test/fixtures/forc-projects/call-test-script/src/main.sw
  packages/transactions/src/configs.ts
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#1677 docs: rename 'connect to testnet' section
  .changeset/forty-geckos-tell.md
  apps/docs/.vitepress/config.ts
Labels: docs

#1712 chore: adjusting types and reducing castings
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/providers/src/transaction-summary/receipt.ts
  packages/providers/src/utils/receipts.ts
  packages/providers/test/fixtures/receipts.ts
Labels: chore

#1704 fix: don't compare bn with integer
  .changeset/grumpy-countries-perform.md
  packages/providers/src/coin-quantity.ts
  packages/providers/src/coin-quantityfy.test.ts
Labels: chore

#1715 chore: remove `bytecode` and `salt` from Receipt fragment
  .changeset/sixty-steaks-wonder.md
  packages/providers/src/operations.graphql
  packages/providers/src/transaction-summary/receipt.ts
  packages/providers/src/utils/receipts.ts
  packages/providers/test/fixtures/receipts.ts
Labels: chore

#1702 fix: remove problematic validation on `estimateTxDependencies`
  .changeset/yellow-pets-marry.md
  packages/providers/src/provider.ts
Labels: bug

#1713 chore: filter out TX props on `estimatePredicates` query
  .changeset/clean-windows-melt.md
  .eslintrc.js
  packages/abi-coder/src/coders/struct.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuels/src/cli/commands/deploy/deployContract.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.ts
  packages/predicate/src/predicate.ts
  packages/providers/src/operations.graphql
  packages/providers/src/provider.ts
  packages/providers/src/utils/json.ts
Labels: chore

#1721 chore: fix generated restore cache in CI
  .changeset/silly-rockets-learn.md
  .github/actions/ci-setup/action.yaml
Labels: bug, chore

#1727 chore: bump nodemon from v2 to v3
  .changeset/short-dragons-share.md
  apps/docs/package.json
  package.json
  pnpm-lock.yaml
Labels: chore

#1724 docs: add `CDNJS` example
  .changeset/thin-bobcats-pay.md
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/getting-started.md
Labels: docs, feat

#1723 chore!: remove `Provider` from `WalletManager` types
  .changeset/swift-chefs-battle.md
  apps/docs-snippets/src/guide/wallet-manager/getting-started-with-wallet-manager.test.ts
  apps/docs-snippets/src/guide/wallet-manager/locking-and-unlocking-wallet-manager.test.ts
  packages/wallet-manager/src/types.ts
  packages/wallet-manager/src/vaults/mnemonic-vault.test.ts
  packages/wallet-manager/src/vaults/mnemonic-vault.ts
  packages/wallet-manager/src/vaults/privatekey-vault.test.ts
  packages/wallet-manager/src/vaults/privatekey-vault.ts
  packages/wallet-manager/src/wallet-manager.test.ts
  packages/wallet/src/wallet-unlocked.test.ts
  packages/wallet/src/wallets.ts
Labels: chore

#1737 fix: resolve transpilation issue with `BN`
  .changeset/cyan-mice-suffer.md
  apps/demo-react-cra/src/App.tsx
  packages/math/src/bn.ts
Labels: bug

#1740 chore: add gitignore for create-fuels/templates
  .changeset/kind-masks-beg.md
  packages/create-fuels/.gitignore
Labels: chore

#1742 docs: fix doc link
  .changeset/real-peas-care.md
  apps/docs/src/guide/testing/index.md
Labels: docs

#1744 chore!: upgrade `forc` to `v0.50.0`
  .changeset/empty-swans-perform.md
  .gitignore
  apps/demo-typegen/.gitignore
  apps/demo-typegen/package.json
  apps/demo-typegen/src/demo.test.ts
  apps/demo-typegen/turbo.json
  apps/docs-snippets/package.json
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs-snippets/test/fixtures/forc-projects/token-depositor/src/main.sw
  apps/docs/nodemon.config.json
  nodemon.config.json
  packages/abi-coder/package.json
  packages/abi-coder/test/interface.test.ts
  packages/abi-typegen/package.json
  packages/abi-typegen/test/fixtures/forc-projects/index.ts
  packages/contract/.gitignore
  packages/forc/VERSION
  packages/fuel-gauge/package.json
  packages/fuel-gauge/scripts/process-predicates.ts
  packages/fuel-gauge/src/experimental-logging.test.ts
  packages/fuel-gauge/src/small-bytes.test.ts
  packages/fuel-gauge/src/utils.ts
  packages/fuel-gauge/test/fixtures/index.ts
  packages/program/.gitignore
  packages/script/.gitignore
  packages/script/package.json
  packages/script/test/fixtures/index.ts
  packages/utils/package.json
  packages/utils/src/test-utils/getForcProject.test.ts
  packages/utils/src/test-utils/getForcProject.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  turbo.json
Labels: chore, mainnet

#1731 chore: remove additional dryrun call
  .changeset/modern-adults-sin.md
  apps/demo-typegen/src/demo.test.ts
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: chore

#1691 feat: add more program options to `create-fuels` CLI
  .changeset/unlucky-eggs-design.md
  packages/create-fuels/package.json
  packages/create-fuels/src/bin.ts
  packages/create-fuels/src/cli.ts
  packages/create-fuels/test/cli.test.ts
  pnpm-lock.yaml
  templates/nextjs/.eslintrc.json
  templates/nextjs/env
  templates/nextjs/fuels.config.ts
  templates/nextjs/package.json
  templates/nextjs/src/components/Button.tsx
  templates/nextjs/src/components/FuelLogo.tsx
  templates/nextjs/src/components/Input.tsx
  templates/nextjs/src/components/Link.tsx
  templates/nextjs/src/pages/_app.tsx
  templates/nextjs/src/pages/_document.tsx
  templates/nextjs/src/pages/index.tsx
  templates/nextjs/src/pages/predicate.tsx
  templates/nextjs/src/pages/script.tsx
  templates/nextjs/sway-contracts/.gitignore
  templates/nextjs/sway-programs/Forc.toml
  templates/nextjs/sway-programs/contract/.gitignore
  templates/nextjs/sway-programs/contract/Forc.toml
  templates/nextjs/sway-programs/contract/src/main.sw
  templates/nextjs/sway-programs/predicate/.gitignore
  templates/nextjs/sway-programs/predicate/Forc.toml
  templates/nextjs/sway-programs/predicate/src/main.sw
  templates/nextjs/sway-programs/script/.gitignore
  templates/nextjs/sway-programs/script/Forc.toml
  templates/nextjs/sway-programs/script/src/main.sw
  templates/nextjs/tailwind.config.ts
Labels: feat

#1752 chore: remove turbo cache in CI
  .changeset/sour-numbers-live.md
  .github/actions/ci-setup/action.yaml
  .github/actions/test-setup/action.yaml
Labels: chore

#1750 fix: `fundWithFakeUtxos` for contract calls
  .changeset/soft-zoos-arrive.md
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: bug

#1756 chore: upgrading `fuel-core` to `0.22.1`
  .changeset/tiny-kangaroos-protect.md
  packages/account/src/providers/provider.test.ts
  packages/fuel-core/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#1762 chore: fix `fuel-core` binary generate when using a github version
  .changeset/brave-carrots-stare.md
  packages/fuel-core/lib/install.js
  packages/fuel-core/lib/shared.js
Labels: chore

#1761 fix: `build:schema` script for `account` package
  .changeset/big-chicken-swim.md
  packages/account/package.json
Labels: bug

#1759 chore: remove fe-review workflow
  .changeset/hot-kangaroos-bathe.md
  .github/workflows/fe-conditional-review.yaml
  .github/workflows/re-run-fe-conditional-review.yaml
Labels: chore

#1699 feat: wallet connector
  .changeset/tasty-falcons-sing.md
  .eslintrc.js
  package.json
  packages/abi-coder/src/coders/v0/struct.ts
  packages/abi-coder/src/coders/v1/struct.ts
  packages/account/package.json
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/fuel.ts
  packages/account/src/connectors/index.ts
  packages/account/src/connectors/types/asset.ts
  packages/account/src/connectors/types/connector-metadata.ts
  packages/account/src/connectors/types/connector-types.ts
  packages/account/src/connectors/types/constants.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/src/connectors/types/events.ts
  packages/account/src/connectors/types/index.ts
  packages/account/src/connectors/types/local-storage.ts
  packages/account/src/connectors/types/message.ts
  packages/account/src/connectors/types/target-object.ts
  packages/account/src/connectors/utils/cache.ts
  packages/account/src/connectors/utils/dispatch-fuel-connector-event.ts
  packages/account/src/connectors/utils/index.ts
  packages/account/src/connectors/utils/promises.ts
  packages/account/src/index.ts
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/json.ts
  packages/account/test/fixtures/generate-accounts.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/account/test/fixtures/promise-callback.ts
  packages/account/test/fuel-wallet-connector.browser.test.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/errors/src/error-codes.ts
  packages/fuels/src/cli/commands/deploy/deployContract.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.ts
  packages/program/src/functions/base-invocation-scope.ts
  pnpm-lock.yaml
  tsdoc.base.json
  vite.browser.config.mts
Labels: feat

#1772 chore: upgrade version of webdriverio
  package.json
  pnpm-lock.yaml
Labels: bug

#1773 fix: flaky test `tweaking-the-blockchain.test.ts`
  .changeset/lovely-jokes-try.md
  apps/docs-snippets/src/guide/testing/tweaking-the-blockchain.test.ts
Labels: bug

#1747 feat: migrate over @fuels/assets package into the TS SDK
  .changeset/loud-rocks-walk.md
  .eslintignore
  .github/workflows/release.yaml
  .prettierignore
  packages/account/.gitignore
  packages/account/src/providers/assets/images/eth.svg
  packages/account/src/providers/assets/index.ts
  packages/account/src/providers/assets/types.ts
  packages/account/src/providers/assets/utils/index.ts
  packages/account/src/providers/assets/utils/network.test.ts
  packages/account/src/providers/assets/utils/network.ts
  packages/account/src/providers/assets/utils/resolveIconPaths.test.ts
  packages/account/src/providers/assets/utils/resolveIconPaths.ts
  packages/account/src/providers/assets/utils/url.test.ts
  packages/account/src/providers/assets/utils/url.ts
  packages/account/src/providers/chains.ts
  packages/account/src/providers/index.ts
  packages/account/tsup.config.ts
Labels: feat

#1767 feat: reduce number of dry run calls
  .changeset/shy-jars-arrive.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/interfaces/src/index.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: feat, mainnet

#1765 chore: exporting `InvocationCallResult`
  .changeset/dull-dolls-tap.md
  packages/abi-coder/src/index.ts
  packages/account/src/connectors/fuel.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/errors/src/error-codes.ts
  packages/program/src/index.ts
Labels: chore

#1783 fix: support encoding/decoding of larger contract bytecodes
  .changeset/curvy-owls-think.md
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/transaction.ts
  packages/transactions/src/coders/witness.ts
Labels: bug

#1789 chore: deleting obsolete workflow
  .changeset/wet-knives-reflect.md
  .github/workflows/rc-release.yaml
Labels: chore

#1791 chore: remove `testcases` directory
  .changeset/silent-hounds-walk.md
  packages/testcases/tsdoc.json
Labels: chore

#1792 chore: remove connectors unused types
  .changeset/tame-eels-repair.md
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/types/asset.ts
  packages/account/src/connectors/types/constants.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/src/connectors/types/events.ts
  packages/account/src/connectors/types/index.ts
  packages/account/src/connectors/types/message.ts
  packages/account/test/fixtures/mocked-connector.ts
Labels: chore

#1788 feat: adding new `forcBuildFlags` property to `fuels` config
  .changeset/hot-onions-burn.md
  apps/demo-fuels/fuels.config.full.ts
  apps/docs/src/guide/cli/commands.md
  apps/docs/src/guide/cli/config-file.md
  packages/fuels/src/cli/commands/build/buildSwayProgram.ts
  packages/fuels/src/cli/commands/build/generateTypes.ts
  packages/fuels/src/cli/commands/deploy/index.ts
  packages/fuels/src/cli/config/forcUtils.ts
  packages/fuels/src/cli/config/loadConfig.ts
  packages/fuels/src/cli/types.ts
  packages/fuels/test/features/build.test.ts
  packages/fuels/test/fixtures/fuels.config.ts
Labels: feat

#1801 docs: fix variable output page
  .changeset/sweet-rings-reply.md
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/token/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/token/src/main.sw
  apps/docs/src/guide/contracts/variable-outputs.md
Labels: docs

#1793 fix: subscriptions not closing after done
  .changeset/eighty-pumpkins-juggle.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/edge-cases.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: bug

#1805 chore: avoid reassigning inputs and outputs at `BaseInvocationScope`
  .changeset/heavy-trainers-serve.md
  packages/account/src/account.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: chore

#1627 feat: Added new date wrapper
  .changeset/afraid-avocados-compare.md
  apps/docs-snippets/src/guide/testing/tweaking-the-blockchain.test.ts
  apps/docs-snippets/src/guide/types/date-time.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/types/date-time.md
  packages/account/codegen.json
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.ts
  packages/account/src/providers/transaction-summary/date.test.ts
  packages/account/src/providers/transaction-summary/date.ts
  packages/account/src/providers/transaction-summary/index.ts
  packages/account/src/providers/transaction-summary/status.ts
  packages/account/src/providers/utils/index.ts
  packages/account/src/providers/utils/time.test.ts
  packages/account/src/providers/utils/time.ts
  packages/utils/src/index.ts
  packages/utils/src/utils/date-time.test.ts
  packages/utils/src/utils/date-time.ts
  vite.base.config.mts
Labels: feat

#1810 feat: implement `addTransfer` at `BaseInvocationScope`
  .changeset/witty-seals-travel.md
  apps/docs-snippets/src/guide/contracts/add-transfer.test.ts
  apps/docs-snippets/src/guide/scripts/script-custom-transaction.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/add-transfer.md
  packages/account/src/account.test.ts
  packages/account/src/providers/transaction-request/transaction-request.test.ts
  packages/account/src/providers/transaction-summary/input.test.ts
  packages/account/src/providers/transaction-summary/operations.test.ts
  packages/account/src/providers/utils/merge-quantities.test.ts
  packages/account/test/fixtures/inputs-and-outputs.ts
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/setupContract.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/src/utils.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/utils/src/test-utils.ts
  packages/utils/src/test-utils/constants.ts
Labels: feat

#1809 docs: document building custom transactions from an invocation scope
  .changeset/clever-ravens-pump.md
  apps/docs-snippets/src/guide/cookbook/custom-transactions-contract-calls.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cookbook/custom-transactions-from-contract-calls.md
  apps/docs/src/guide/cookbook/transfer-all-assets.md
Labels: docs

#1816 fix: missing class name fix for items utility class
  .changeset/little-timers-melt.md
  templates/nextjs/src/pages/index.tsx
Labels: chore

#1799 feat!: add support for the `u256` type
  .changeset/silly-hats-end.md
  apps/docs/src/guide/types/numbers.md
  packages/abi-coder/src/encoding/coders/v0/BigNumberCoder.test.ts
  packages/abi-coder/src/encoding/coders/v0/BigNumberCoder.ts
  packages/abi-coder/src/encoding/coders/v0/ByteCoder.ts
  packages/abi-coder/src/encoding/coders/v0/EnumCoder.test.ts
  packages/abi-coder/src/encoding/coders/v0/EnumCoder.ts
  packages/abi-coder/src/encoding/coders/v0/RawSliceCoder.ts
  packages/abi-coder/src/encoding/coders/v0/StdStringCoder.ts
  packages/abi-coder/src/encoding/coders/v0/StructCoder.test.ts
  packages/abi-coder/src/encoding/coders/v0/TupleCoder.test.ts
  packages/abi-coder/src/encoding/coders/v0/VecCoder.ts
  packages/abi-coder/src/encoding/coders/v1/ByteCoder.ts
  packages/abi-coder/src/encoding/coders/v1/EnumCoder.test.ts
  packages/abi-coder/src/encoding/coders/v1/EnumCoder.ts
  packages/abi-coder/src/encoding/coders/v1/RawSliceCoder.ts
  packages/abi-coder/src/encoding/coders/v1/StdStringCoder.ts
  packages/abi-coder/src/encoding/coders/v1/StrSliceCoder.ts
  packages/abi-coder/src/encoding/coders/v1/StructCoder.test.ts
  packages/abi-coder/src/encoding/coders/v1/TupleCoder.test.ts
  packages/abi-coder/src/encoding/coders/v1/VecCoder.ts
  packages/abi-coder/src/encoding/strategies/getCoderV0.ts
  packages/abi-coder/src/encoding/strategies/getCoderV1.ts
  packages/abi-coder/src/index.ts
  packages/abi-coder/src/utils/constants.ts
  packages/abi-coder/src/utils/utilities.ts
  packages/abi-coder/test/utils/constants.ts
  packages/abi-typegen/src/abi/types/U256Type.test.ts
  packages/abi-typegen/src/abi/types/U256Type.ts
  packages/abi-typegen/src/utils/supportedTypes.test.ts
  packages/abi-typegen/src/utils/supportedTypes.ts
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/account/src/providers/transaction-response/getDecodedLogs.ts
  packages/account/src/utils/formatTransferToContractScriptData.test.ts
  packages/account/src/utils/formatTransferToContractScriptData.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/experimental-logging.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects-experimental/logging/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
  packages/program/src/contract-call-script.ts
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/output.ts
  packages/transactions/src/coders/policy.ts
  packages/transactions/src/coders/receipt.ts
  packages/transactions/src/coders/transaction.ts
Labels: feat

#1818 chore: add update witness tests
  .changeset/pink-geese-return.md
  packages/account/src/providers/transaction-request/transaction-request.test.ts
Labels: chore

#1825 fix: re-enable auto-install of dependencies when `create-fuels` is run
  .changeset/brown-dingos-grow.md
  packages/create-fuels/src/bin.ts
Labels: bug
