Repository FuelLabs/fuels-ts, pull requests merged in 2024-12, with the labels that each got.

#3430 chore: fix markdown lint check
  .changeset/khaki-berries-divide.md
  .github/workflows/code-lint.yaml
  .knip.json
  .textlintrc.json
  apps/docs-api/index.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/types/address.md
  link-check.config.json
  package.json
  pnpm-lock.yaml
  scripts/lint-md-links.ts
Labels: bug, chore

#3439 chore: recipes build clean ups
  .changeset/red-trainers-mix.md
  .prettierignore
  nodemon.config.json
  packages/recipes/CHANGELOG.md
  packages/recipes/package.json
  packages/recipes/src/types/Src14OwnedProxy.ts
Labels: chore

#3438 fix: enable `fuel-core` node cleanup to work in Bun
  .changeset/wise-ladybugs-nail.md
  packages/account/package.json
  packages/account/src/test-utils/launchNode.test.ts
  packages/account/src/test-utils/launchNode.ts
  pnpm-lock.yaml
  tsconfig.test.json
Labels: bug

#3442 chore: upgrade `graphql-request@6.1.0`
  .changeset/khaki-teachers-study.md
  packages/account/package.json
  packages/account/src/providers/provider.ts
  pnpm-lock.yaml
Labels: chore

#3440 docs: improve `cookbook/transaction-request`
  .changeset/spicy-mails-sort.md
  apps/docs/scripts/launcher-snippet.ts
  apps/docs/scripts/wrap-snippets.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/add-output-coin.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/add-predicate.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/add-witness.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/estimate-and-fund.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/fetch-coins.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/fetch-resources.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/fund-request.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/input-contract.ts
  apps/docs/src/guide/transactions/transaction-request.md
  apps/docs/sway/Forc.toml
  apps/docs/sway/script-call-contract/Forc.toml
  apps/docs/sway/script-call-contract/src/counter.sw
  apps/docs/sway/script-call-contract/src/main.sw
Labels: docs

#3451 chore: silence recipes format logs
  .changeset/afraid-ligers-work.md
  packages/recipes/package.json
Labels: chore

#3452 docs: fix api links
  apps/docs/src/guide/contracts/contract-balance.md
  apps/docs/src/guide/contracts/cost-estimation.md
  apps/docs/src/guide/contracts/dependency-estimation.md
  apps/docs/src/guide/contracts/deploying-contracts.md
  apps/docs/src/guide/contracts/minted-token-asset-id.md
  apps/docs/src/guide/predicates/methods.md
  apps/docs/src/guide/provider/provider-options.md
  apps/docs/src/guide/testing/launching-a-test-node.md
  apps/docs/src/guide/utilities/using-assets.md
  apps/docs/src/guide/wallets/checking-balances.md
  apps/docs/src/guide/wallets/connectors.md
Labels: docs

#3459 chore: fix link
  .changeset/old-maps-fold.md
  apps/docs/README.md
  apps/docs/src/guide/transactions/transaction-request.md
Labels: docs, chore

#3453 chore: minimising logs in test output
  .changeset/moody-terms-shake.md
  packages/abi-typegen/src/cli.test.ts
  packages/abi-typegen/src/runTypegen.test.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/test-utils/launchNode.test.ts
  packages/account/src/test-utils/launchNode.ts
  packages/create-fuels/src/utils/logger.test.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.test.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.test.ts
  packages/fuels/src/cli/utils/checkForAndDisplayUpdates.test.ts
  packages/fuels/src/cli/utils/logger.test.ts
  packages/fuels/test/features/build.test.ts
  packages/fuels/test/features/init.test.ts
  packages/fuels/test/utils/runCommands.ts
  packages/utils/src/utils/toUtf8String.test.ts
  packages/versions/src/lib/checkFuelCoreVersionCompatibility.test.ts
Labels: chore

#3461 chore: avoid re-estimate `gasPrice` at `estimateTxDependencies`
  .changeset/mean-sheep-occur.md
  packages/account/src/account.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/fee.test.ts
Labels: chore

#3441 chore: build recipes before building package
  .changeset/twelve-keys-greet.md
  packages/recipes/package.json
Labels: chore

#3425 chore: integrate vitest matchers globally
  .changeset/rare-hornets-rush.md
  packages/fuel-gauge/src/abi/abi-coder.test.ts
  packages/fuel-gauge/src/abi/vitest.matcher.ts
  packages/utils/src/test-utils.ts
  packages/utils/src/test-utils/vitest.matchers.ts
  vitest.setup-files.ts
  vitest.shared.config.mts
Labels: chore, good first issue, cla:signed

#3465 chore: release deprecation script
  .changeset/lucky-flies-search.md
  .github/workflows/release-deprecate.yaml
  .github/workflows/release-unpublish.yaml
  package.json
  scripts/release-deprecate.ts
  scripts/release-unpublish.js
Labels: chore

#3468 chore: updated forc version to `0.66.5`
  .changeset/proud-spoons-allow.md
  internal/forc/VERSION
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/main.hbs
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/src/main.sw
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#3477 fix: Vitest matcher integration
  .changeset/popular-wasps-tie.md
  packages/utils/package.json
  packages/utils/src/test-utils/vitest.matchers.ts
  pnpm-lock.yaml
  vitest.setup-files.ts
Labels: bug

#3506 chore: removing benchmarks and codspeed
  .github/workflows/bench-devnet.yaml
  .github/workflows/bench.yml
  internal/benchmarks/.gitignore
  internal/benchmarks/CHANGELOG.md
  internal/benchmarks/README.md
  internal/benchmarks/fuels.config.ts
  internal/benchmarks/package.json
  internal/benchmarks/src/config.ts
  internal/benchmarks/src/contract-interaction.bench.ts
  internal/benchmarks/src/cost-estimation.bench.ts
  internal/benchmarks/src/transaction-results.bench.ts
  internal/benchmarks/src/wallet.bench.ts
  internal/benchmarks/test/fixtures/forc-projects/Forc.toml
  internal/benchmarks/test/fixtures/forc-projects/call-test-contract/Forc.toml
  internal/benchmarks/test/fixtures/forc-projects/call-test-contract/src/main.sw
  internal/benchmarks/test/fixtures/forc-projects/counter-contract/Forc.toml
  internal/benchmarks/test/fixtures/forc-projects/counter-contract/src/main.sw
  internal/benchmarks/test/fixtures/forc-projects/large-contract/Forc.toml
  internal/benchmarks/test/fixtures/forc-projects/large-contract/src/main.sw
  internal/benchmarks/tsconfig.json
  internal/benchmarks/tsdoc.json
  package.json
  pnpm-lock.yaml
  vitest.shared.config.mts
Labels: chore
