Repository FuelLabs/fuels-ts, pull requests merged in 2024-01, with the labels that each got.

#1599 chore: update and add docs links in scaffolding CLI
  .changeset/stale-jokes-clap.md
  packages/create-fuels/src/cli.ts
  templates/nextjs/src/pages/index.tsx
Labels: chore

#1604 chore: automatically trigger CI changeset workflow #465
  .changeset/tasty-pumas-carry.md
  .github/workflows/release.yaml
Labels: chore

#1605 chore: update testnet url to `beta-5`
  .changeset/dirty-emus-applaud.md
  .github/workflows/test.yaml
  CONTRIBUTING.md
  apps/docs/src/getting-started.md
  apps/docs/src/guide/providers/connecting-to-an-external-node.md
  apps/docs/src/index.md
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore

#1606 fix: ignore block explorer `beta-5` link on contributing
  .changeset/olive-horses-dress.md
  CONTRIBUTING.md
Labels: bug

#1603 fix: getResourcesToSpend should default to 1 when amount < 1
  .changeset/long-ways-rule.md
  packages/providers/src/coin-quantity.ts
  packages/providers/src/coin-quantityfy.test.ts
  packages/wallet/src/account.test.ts
Labels: bug

#1594 feat: replaced `semver` dependency with custom implementation
  packages/versions/package.json
  packages/versions/src/lib/checkFuelCoreVersionCompatibility.ts
  packages/versions/src/lib/compareSystemVersions.ts
  packages/versions/src/lib/semver.test.ts
  packages/versions/src/lib/semver.ts
  pnpm-lock.yaml
Labels: feat

#1601 feat: replace `elliptic` with `@noble/curves`
  .changeset/warm-poems-swim.md
  packages/signer/package.json
  packages/signer/src/index.ts
  packages/signer/src/signer.test.ts
  packages/signer/src/signer.ts
  pnpm-lock.yaml
Labels: feat

#1610 chore: refactor build for `CDNJS` Integration
  .changeset/pretty-goats-matter.md
  packages/fuels/package.json
  packages/fuels/vite.config.ts
  pnpm-lock.yaml
Labels: chore

#1614 chore: fix CI failing due to missing tag in test
  packages/providers/src/coin-quantityfy.test.ts
Labels: bug

#1426 feat: improve ABI Coders `decode` validation
  .changeset/giant-pumpkins-refuse.md
  packages/abi-coder/src/coders/abstract-coder.ts
  packages/abi-coder/src/coders/array.test.ts
  packages/abi-coder/src/coders/array.ts
  packages/abi-coder/src/coders/b256.test.ts
  packages/abi-coder/src/coders/b256.ts
  packages/abi-coder/src/coders/b512.test.ts
  packages/abi-coder/src/coders/b512.ts
  packages/abi-coder/src/coders/boolean.test.ts
  packages/abi-coder/src/coders/boolean.ts
  packages/abi-coder/src/coders/byte.test.ts
  packages/abi-coder/src/coders/byte.ts
  packages/abi-coder/src/coders/enum.test.ts
  packages/abi-coder/src/coders/enum.ts
  packages/abi-coder/src/coders/number.test.ts
  packages/abi-coder/src/coders/number.ts
  packages/abi-coder/src/coders/option.test.ts
  packages/abi-coder/src/coders/option.ts
  packages/abi-coder/src/coders/raw-slice.test.ts
  packages/abi-coder/src/coders/raw-slice.ts
  packages/abi-coder/src/coders/stdString.test.ts
  packages/abi-coder/src/coders/stdString.ts
  packages/abi-coder/src/coders/string.test.ts
  packages/abi-coder/src/coders/string.ts
  packages/abi-coder/src/coders/struct.test.ts
  packages/abi-coder/src/coders/struct.ts
  packages/abi-coder/src/coders/tuple.test.ts
  packages/abi-coder/src/coders/tuple.ts
  packages/abi-coder/src/coders/u64.test.ts
  packages/abi-coder/src/coders/u64.ts
  packages/abi-coder/src/coders/vec.test.ts
  packages/abi-coder/src/coders/vec.ts
  packages/abi-coder/src/constants.ts
  packages/providers/src/transaction-summary/assemble-transaction-summary.test.ts
Labels: feat

#1620 chore: Removing malformed changeset
  .changeset/cuddly-days-wink.md
  .changeset/rare-steaks-exercise.md
Labels: chore

#1621 chore: removing unnecessary await
  .changeset/fast-rules-occur.md
  .changeset/rare-steaks-exercise.md
  packages/forc/lib/install.js
Labels: chore

#1623 chore: swapping secrets appropriately
  .github/workflows/release.yaml
Labels: chore

#1624 chore: removing unnecessary await
  .changeset/angry-balloons-cover.md
  .changeset/brown-zebras-remember.md
  .changeset/clean-fans-wait.md
  .changeset/cold-worms-heal.md
  .changeset/curly-poems-glow.md
  .changeset/long-ways-rule.md
  .changeset/moody-walls-admire.md
  .changeset/nice-flowers-invent.md
  .changeset/orange-mangos-yell.md
  .changeset/pretty-goats-matter.md
  .changeset/six-shoes-impress.md
  .changeset/six-singers-sit.md
  .changeset/sour-apples-prove.md
  .changeset/stale-flowers-cheer.md
  .changeset/stale-jokes-clap.md
  .changeset/swift-dancers-cheat.md
  .changeset/violet-mice-rest.md
  .changeset/wicked-pens-mix.md
  packages/fuel-core/lib/install.js
Labels: chore

#1632 chore: renaming private package and ignoring it in changesets
  .changeset/config.json
  .changeset/two-lamps-give.md
  templates/nextjs/package.json
Labels: chore

#1635 fix: contract created operation with input message
  .changeset/spotty-berries-cry.md
  packages/providers/src/transaction-summary/input.ts
  packages/providers/src/transaction-summary/operations.test.ts
  packages/providers/src/transaction-summary/operations.ts
Labels: bug

#1618 fix: validation and documentation for unsupported Windows platform
  .changeset/sharp-cycles-reflect.md
  README.md
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/index.md
  packages/create-fuels/package.json
  packages/forc/lib/install.js
  packages/forc/lib/shared.js
  packages/forc/package.json
  packages/fuel-core/lib/install.js
  packages/fuel-core/lib/shared.js
  packages/fuel-core/package.json
  pnpm-lock.yaml
Labels: bug, docs

#1637 chore: pinpoint vitest to 1.0.4
  .changeset/early-humans-count.md
  package.json
  pnpm-lock.yaml
Labels: chore

#1640 chore: remove `ethers` dependency from `utils`
  .changeset/tasty-pets-run.md
  package.json
  packages/utils/package.json
  packages/utils/src/test-utils/getForcProject.test.ts
  packages/utils/src/test-utils/getForcProject.ts
  packages/utils/src/utils/arrayify.ts
  packages/utils/src/utils/chunkAndPadBytes.test.ts
  packages/utils/src/utils/concat.test.ts
  packages/utils/src/utils/concat.ts
  packages/utils/src/utils/hexlify.ts
  pnpm-lock.yaml
  vite.env.ts
Labels: chore

#1619 fix: `getOperation` for `Transfer Asset`
  .changeset/wet-dots-marry.md
  packages/providers/src/transaction-summary/operations.test.ts
  packages/providers/src/transaction-summary/operations.ts
Labels: bug

#1645 chore: `throw` on lint warnings
  .changeset/rude-actors-appear.md
  package.json
Labels: chore

#1648 fix: generate RC PR comment on `pull_request` event only
  .changeset/spicy-ducks-invent.md
  .github/workflows/rc-release.yaml
Labels: bug

#1652 chore: output `tsc` errors in build script
  .changeset/twenty-onions-enjoy.md
  scripts/postbuild.ts
Labels: chore

#1653 feat: export `getPredicateRoot` from `predicate` package
  .changeset/plenty-seals-pay.md
  packages/predicate/src/index.ts
  packages/predicate/src/utils/getPredicateRoot.test.ts
Labels: feat

#1656 chore: update typegen demo `.gitignore`
  .changeset/happy-ducks-change.md
  apps/demo-typegen/.gitignore
Labels: chore

#1657 fix: fix failing `rc` comment
  .changeset/eight-ladybugs-cheer.md
  .github/workflows/rc-release.yaml
Labels: chore

#1658 chore: add missing test group
  .changeset/perfect-kangaroos-speak.md
  packages/predicate/src/utils/getPredicateRoot.test.ts
Labels: chore

#1659 chore: fix string replace in `rc` ci
  .changeset/honest-schools-complain.md
  .github/workflows/rc-release.yaml
Labels: chore

#1661 chore: adding extra reporters
  .changeset/bright-elephants-shop.md
  vite.base.config.mts
Labels: chore

#1660 chore: manually trigger `rc` CI
  .changeset/soft-wombats-smell.md
  .github/workflows/rc-release.yaml
Labels: chore

#1662 fix: auto-retry fetch calls, take #2
  apps/docs/src/guide/providers/retrying-calls.md
  packages/providers/src/call-retrier.ts
  packages/providers/src/provider.ts
  packages/providers/src/utils/auto-retry-fetch.test.ts
  packages/providers/src/utils/auto-retry-fetch.ts
  packages/providers/test/auto-retry-fetch.test.ts
  packages/providers/test/retry.test.ts
Labels: bug

#1649 chore: implement turbo CI cache
  .changeset/gold-pandas-double.md
  .github/actions/ci-setup/action.yaml
  .github/actions/test-setup/action.yaml
  package.json
Labels: chore

#1615 feat: use `submitAndAwait` graphql endpoint
  .changeset/fresh-terms-yell.md
  apps/docs-snippets/src/utils.ts
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/await-execution.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundPredicate.ts
  packages/interfaces/src/index.ts
  packages/predicate/src/predicate.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/providers/src/provider.ts
  packages/providers/src/transaction-response/transaction-response.ts
  packages/wallet/src/account.ts
  packages/wallet/src/base-unlocked-wallet.ts
  packages/wallet/src/test-utils/seedTestWallet.ts
Labels: feat

#1654 fix: flaky retry test
  apps/docs/src/guide/providers/retrying-calls.md
  packages/providers/src/call-retrier.ts
  packages/providers/src/provider.ts
  packages/providers/src/utils/auto-retry-fetch.test.ts
  packages/providers/src/utils/auto-retry-fetch.ts
  packages/providers/test/auto-retry-fetch.test.ts
  packages/providers/test/retry.test.ts
Labels: bug

#1566 feat: create a wallet without a provider
  .changeset/happy-days-repeat.md
  apps/docs/src/guide/wallets/access.md
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/program/src/contract.test.ts
  packages/wallet/src/account.test.ts
  packages/wallet/src/account.ts
  packages/wallet/src/base-unlocked-wallet.ts
  packages/wallet/src/types/GenerateOptions.ts
  packages/wallet/src/wallet-unlocked.test.ts
  packages/wallet/src/wallet.test.ts
  packages/wallet/src/wallet.ts
  packages/wallet/src/wallets.ts
Labels: feat

#1602 chore!: Share single chainConfig and review node-related utilities
  .changeset/tender-tips-whisper.md
  .gitignore
  apps/docs/src/guide/testing/setting-up-a-custom-chain.md
  packages/fuel-gauge/src/await-execution.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuels/src/cli.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.test.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.test.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.ts
  packages/fuels/src/cli/commands/dev/defaultChainConfig.ts
  packages/fuels/src/cli/commands/dev/index.ts
  packages/fuels/src/cli/commands/dev/startFuelCore.test.ts
  packages/fuels/src/cli/commands/dev/startFuelCore.ts
  packages/fuels/src/cli/config/loadConfig.ts
  packages/fuels/src/cli/utils/findBinPath.ts
  packages/fuels/test/fixtures/project/.fuels/chainConfig.json
  packages/fuels/test/utils/mockAutoStartFuelCore.ts
  packages/utils/src/index.ts
  packages/utils/src/utils/chainConfig.json
  packages/utils/src/utils/defaultChainConfig.ts
  packages/wallet/package.json
  packages/wallet/src/test-utils/defaultChainConfig.ts
  packages/wallet/src/test-utils/launchNode.test.ts
  packages/wallet/src/test-utils/launchNode.ts
  packages/wallet/src/test-utils/launchNodeAndGetWallets.test.ts
  pnpm-lock.yaml
  scripts/run-node.sh
  vite.base.config.mts
Labels: chore

#1667 fix: bin installation from git
  .changeset/beige-actors-march.md
  packages/forc/lib/bin.js
  packages/forc/lib/index.js
  packages/forc/lib/install.js
  packages/forc/lib/shared.js
  packages/forc/package.json
  packages/fuel-core/lib/bin.js
  packages/fuel-core/lib/index.js
  packages/fuel-core/lib/install.js
  packages/fuel-core/lib/shared.js
  packages/fuel-core/package.json
  pnpm-lock.yaml
Labels: bug

#1670 chore: upgrading `forc` to `0.49.1`
  .changeset/kind-toes-promise.md
  apps/docs-snippets/test/fixtures/forc-projects/script-transfer-to-contract/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/transfer-to-address/src/main.sw
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/forc/VERSION
  packages/fuel-gauge/test/fixtures/forc-projects/advanced-logging-other-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/advanced-logging/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/call-test-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/configurable-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/multi-token-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-vector-types/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/revert-error/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-main-args/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-main-two-args/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-vector/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_abi/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-script/src/main.sw
  packages/script/test/fixtures/forc-projects/call-test-script/src/main.sw
  packages/versions/src/lib/getBuiltinVersions.ts
  scripts/forc-check.sh
  scripts/forc-format.sh
Labels: chore

#1676 chore: use new temporary coverage artifact
  .changeset/thick-windows-tease.md
  .github/workflows/test.yaml
  packages/fuels/test/features/deploy.test.ts
  vite.base.config.mts
Labels: chore

#1680 chore: downgrading `forc` back to `0.48.1`
  .changeset/lucky-donkeys-smile.md
  apps/docs-snippets/test/fixtures/forc-projects/script-transfer-to-contract/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/transfer-to-address/src/main.sw
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/forc/VERSION
  packages/fuel-gauge/test/fixtures/forc-projects/advanced-logging-other-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/advanced-logging/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/call-test-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/configurable-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/multi-token-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-vector-types/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/revert-error/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-main-args/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-main-two-args/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-vector/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_abi/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-script/src/main.sw
  packages/script/test/fixtures/forc-projects/call-test-script/src/main.sw
  packages/versions/src/lib/getBuiltinVersions.ts
  scripts/forc-check.sh
  scripts/forc-format.sh
Labels: chore

#1682 fix: `forc` scripts
  .changeset/eighty-months-march.md
  scripts/forc-check.sh
  scripts/forc-format.sh
Labels: bug

#1679 fix: internalizing `findBinPath` utility
  .changeset/gorgeous-tips-walk.md
  packages/fuels/package.json
  packages/fuels/src/cli.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.test.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.ts
  packages/utils/package.json
  packages/utils/src/cli-utils.ts
  packages/utils/src/cli-utils/findBinPath.test.ts
  packages/utils/src/cli-utils/findBinPath.ts
  packages/utils/tsup.config.ts
  packages/wallet/package.json
  packages/wallet/src/test-utils/launchNode.ts
  pnpm-lock.yaml
Labels: bug

#1650 chore: add workflow for FE conditional review
  .github/workflows/fe-conditional-review.yaml
  .github/workflows/re-run-fe-conditional-review.yaml
Labels: chore

#1668 refactor: Vitepress `codeInContextPlugin`
  .changeset/thick-sheep-sneeze.md
  apps/docs/.vitepress/plugins/codeInContextPlugin.test.ts
  apps/docs/.vitepress/plugins/codeInContextPlugin.ts
Labels: docs, chore

#1693 chore: avoid running workflows on chanset PR
  .changeset/real-beans-run.md
  .github/workflows/fe-conditional-review.yaml
  .github/workflows/re-run-fe-conditional-review.yaml
Labels: chore

#1665 docs: validate imports added to code snippets
  .changeset/plenty-apricots-admire.md
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/cookbook/transferring-assets.test.ts
  apps/docs-snippets/src/guide/predicates/index.test.ts
  apps/docs-snippets/src/guide/scripts/script-custom-transaction.test.ts
  apps/docs-snippets/src/guide/types/asset-id.test.ts
  apps/docs-snippets/src/guide/types/bits256.test.ts
  apps/docs-snippets/src/guide/types/bits512.test.ts
  apps/docs-snippets/src/guide/types/bytes.test.ts
  apps/docs-snippets/src/guide/types/bytes32.test.ts
  apps/docs-snippets/src/guide/types/conversion.test.ts
  apps/docs-snippets/src/guide/types/evm-address.test.ts
  apps/docs-snippets/src/guide/types/raw-slice.test.ts
  apps/docs-snippets/src/guide/types/std-string.test.ts
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs-snippets/src/guide/wallets/encrypting-and-decrypting-json-wallets.test.ts
  apps/docs/.vitepress/plugins/snippetPlugin.ts
  apps/docs/.vitepress/plugins/utils/extractImports.test.ts
  apps/docs/.vitepress/plugins/utils/extractImports.ts
  apps/docs/.vitepress/theme/index.ts
  apps/docs/tsconfig.json
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/script/src/script.test.ts
  packages/wallet/src/wallet-unlocked.test.ts
Labels: docs

#1689 chore: re-enable correct coverage reporting
  .changeset/cold-swans-float.md
  .github/workflows/test.yaml
Labels: chore

#1688 docs: upgrade `Vitepress`
  .changeset/afraid-rockets-draw.md
  apps/docs/.vitepress/theme/styles/custom.css
  apps/docs/package.json
  apps/docs/scripts/typedoc-postbuild.ts
  pnpm-lock.yaml
Labels: docs

#1694 chore: add generated file cache to CI
  .changeset/lovely-spiders-guess.md
  .github/actions/ci-setup/action.yaml
  .github/actions/test-setup/action.yaml
Labels: chore
