Repository FuelLabs/fuels-ts, pull requests merged in 2024-08, with the labels that each got.

#2873 chore: stop skipping decoding for vectors in `Interface.test.ts`
  .changeset/small-lamps-study.md
  packages/abi-coder/test/Interface.test.ts
Labels: chore

#2876 chore!: alter predicate signature
  apps/create-fuels-counter-guide/src/app/predicate/page.tsx
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/predicates/interacting-with-predicates.test.ts
  apps/docs-snippets/src/guide/predicates/predicate-with-configurable.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  packages/abi-typegen/src/templates/predicate/main.hbs
  packages/abi-typegen/src/templates/predicate/main.ts
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/main.hbs
  packages/account/src/predicate/predicate.ts
  packages/account/test/predicate-functions.test.ts
  packages/fuel-gauge/src/bytes.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-evaluations.test.ts
  packages/fuel-gauge/src/predicate/predicate-general.test.ts
  packages/fuel-gauge/src/predicate/predicate-input-data.test.ts
  packages/fuel-gauge/src/predicate/predicate-populate-witness.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/raw-slice.test.ts
  packages/fuel-gauge/src/std-lib-string.test.ts
  packages/fuel-gauge/src/str-slice.test.ts
  packages/fuel-gauge/src/vector-types.test.ts
  templates/nextjs/src/app/predicate/page.tsx
  templates/nextjs/test/predicate.test.ts
Labels: chore

#2862 chore!: internalize old `JsonAbi` format
  apps/docs-snippets/src/guide/encoding/encode-and-decode.test.ts
  apps/docs-snippets/test/fixtures/abi/encode-and-decode.jsonc
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/encoding/encode-and-decode.md
  packages/abi-coder/src/AbiCoder.ts
  packages/abi-coder/src/FunctionFragment.ts
  packages/abi-coder/src/Interface.ts
  packages/abi-coder/src/ResolvedAbiType.ts
  packages/abi-coder/src/index.ts
  packages/abi-coder/src/types/JsonAbi.ts
  packages/abi-coder/src/types/JsonAbiNew.ts
  packages/abi-coder/src/utils/getFunctionInputs.ts
  packages/abi-coder/src/utils/json-abi.test.ts
  packages/abi-coder/src/utils/json-abi.ts
  packages/abi-coder/src/utils/transpile-abi.ts
  packages/abi-coder/test/Interface.test.ts
  packages/abi-typegen/package.json
  packages/abi-typegen/src/abi/Abi.ts
  packages/abi-typegen/src/abi/configurable/Configurable.test.ts
  packages/abi-typegen/src/abi/functions/Function.test.ts
  packages/abi-typegen/src/abi/types/ArrayType.test.ts
  packages/abi-typegen/src/abi/types/EnumType.test.ts
  packages/abi-typegen/src/abi/types/EvmAddressType.test.ts
  packages/abi-typegen/src/abi/types/OptionType.test.ts
  packages/abi-typegen/src/abi/types/ResultType.test.ts
  packages/abi-typegen/src/abi/types/StructType.test.ts
  packages/abi-typegen/src/abi/types/TupleType.test.ts
  packages/abi-typegen/src/runTypegen.ts
  packages/abi-typegen/src/templates/contract/dts.test.ts
  packages/abi-typegen/src/types/interfaces/JsonAbi.ts
  packages/abi-typegen/src/types/interfaces/JsonAbiNew.ts
  packages/abi-typegen/src/utils/parseTypeArguments.test.ts
  packages/abi-typegen/src/utils/transpile-abi.ts
  packages/abi-typegen/test/fixtures/forc-projects/index.ts
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script/factory.hbs
  packages/account/test/fixtures/predicate-abi.ts
  packages/account/test/fixtures/transaction-summary.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/program/src/contract.test.ts
  packages/script/src/script.test.ts
  packages/script/test/mocks.ts
  packages/utils/src/index.ts
  packages/utils/src/test-utils/getForcProject.ts
  packages/utils/src/utils/transpileAbi.ts
Labels: chore

#2864 docs: custom transactions with predicates
  .changeset/long-deers-behave.md
  apps/docs-snippets/src/guide/predicates/predicate-custom-transactions.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/predicates/custom-transactions.md
Labels: docs

#2890 chore: add missing reasons to `PANIC_REASONS` constant
  .changeset/six-eagles-march.md
  packages/account/src/providers/utils/extract-tx-error.test.ts
  packages/transactions/src/configs.ts
Labels: chore

#2891 chore: default TestMessage to be spendable
  .changeset/rude-goats-smile.md
  packages/account/src/test-utils/setup-test-provider-and-wallets.test.ts
  packages/account/src/test-utils/test-message.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: chore

#2822 chore: handle exceeding maximum inputs when funding a transaction
  .changeset/honest-fishes-mix.md
  apps/docs/src/guide/errors/index.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/errors/src/error-codes.ts
Labels: chore

#2851 chore: add infra to support multiple `create fuels` templates
  .changeset/wet-elephants-impress.md
  apps/docs/src/guide/creating-a-fuel-dapp/options.md
  packages/create-fuels/src/bin.ts
  packages/create-fuels/src/cli.ts
  packages/create-fuels/src/lib/doesTemplateExist.test.ts
  packages/create-fuels/src/lib/doesTemplateExist.ts
  packages/create-fuels/src/lib/setupProgram.test.ts
  packages/create-fuels/src/lib/setupProgram.ts
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/test/integration.test.ts
  packages/create-fuels/test/utils/generateArgs.ts
Labels: chore

#2844 feat: Add migrations and disclosures auto trigger
  .github/workflows/release.yaml
Labels: feat

#2665 chore: implement a helper createAssetId function
  .changeset/free-birds-soar.md
  apps/docs-snippets/src/guide/contracts/minted-token-asset-id.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/echo-asset-id/src/main.sw
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/contracts/minted-token-asset-id.md
  packages/transactions/src/coders/receipt.ts
Labels: feat, chore

#2897 feat: improve typegen bytecode compression
  .changeset/ten-otters-report.md
  packages/abi-typegen/src/templates/contract/factory.hbs
  packages/abi-typegen/src/templates/contract/factory.test.ts
  packages/abi-typegen/src/templates/contract/factory.ts
  packages/abi-typegen/src/templates/predicate/main.hbs
  packages/abi-typegen/src/templates/predicate/main.test.ts
  packages/abi-typegen/src/templates/predicate/main.ts
  packages/abi-typegen/src/templates/script/main.hbs
  packages/abi-typegen/src/templates/script/main.test.ts
  packages/abi-typegen/src/templates/script/main.ts
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/main.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/script/main.hbs
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/utils/bytecode.test.ts
  packages/utils/src/utils/bytecode.ts
  pnpm-lock.yaml
Labels: feat

#2887 ci: update retry and timeout on Transaction `SqueezedOut` test
  .changeset/real-crabs-listen.md
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: chore

#2899 chore: add validation for TX max outputs exceeded
  .changeset/stupid-planets-joke.md
  apps/docs/src/guide/errors/index.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/errors/src/error-codes.ts
Labels: chore

#2872 feat!: consider message on resources cache
  .changeset/cuddly-lobsters-warn.md
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs/src/guide/provider/provider-options.md
  packages/account/src/providers/memory-cache.test.ts
  packages/account/src/providers/memory-cache.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/resource-cache.test.ts
  packages/account/src/providers/resource-cache.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/test-utils/launchNodeAndGetWallets.test.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
Labels: bug, feat

#2903 feat: add randomUUID into `fuel-ts/crypto`
  .changeset/wet-camels-tell.md
  packages/account/package.json
  packages/account/src/test-utils/launchNode.ts
  packages/account/src/wallet/keystore-wallet.ts
  packages/contract/src/test-utils/launch-test-node.test.ts
  packages/crypto/src/browser/index.ts
  packages/crypto/src/browser/randomUUID.ts
  packages/crypto/src/index.browser.ts
  packages/crypto/src/index.ts
  packages/crypto/src/node/index.ts
  packages/crypto/src/node/randomUUID.ts
  packages/crypto/src/types.ts
  packages/crypto/test/randomUUID.test.ts
  packages/crypto/tsconfig.json
  pnpm-lock.yaml
Labels: feat

#2635 docs: re-introduce testing wallets docs
  .changeset/good-hotels-hunt.md
  apps/docs-snippets/src/guide/wallets/instantiating-wallets.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/testing/setting-up-test-wallets.md
Labels: docs

#2896 fix: transaction revert error
  .changeset/hungry-cups-rest.md
  packages/account/src/providers/transaction-response/transaction-response.ts
Labels: bug

#2888 fix: typegen reporting the correct versions
  .changeset/good-knives-juggle.md
  packages/abi-typegen/src/AbiTypeGen.ts
  packages/abi-typegen/src/cli.ts
  packages/abi-typegen/src/runTypegen.ts
  packages/abi-typegen/src/templates/common/_header.hbs
  packages/abi-typegen/src/templates/common/common.test.ts
  packages/abi-typegen/src/templates/common/common.ts
  packages/abi-typegen/src/templates/common/index.test.ts
  packages/abi-typegen/src/templates/common/index.ts
  packages/abi-typegen/src/templates/contract/factory.test.ts
  packages/abi-typegen/src/templates/contract/factory.ts
  packages/abi-typegen/src/templates/contract/main.test.ts
  packages/abi-typegen/src/templates/contract/main.ts
  packages/abi-typegen/src/templates/predicate/main.test.ts
  packages/abi-typegen/src/templates/predicate/main.ts
  packages/abi-typegen/src/templates/renderHbsTemplate.test.ts
  packages/abi-typegen/src/templates/renderHbsTemplate.ts
  packages/abi-typegen/src/templates/script/main.test.ts
  packages/abi-typegen/src/templates/script/main.ts
  packages/abi-typegen/src/utils/assembleContracts.test.ts
  packages/abi-typegen/src/utils/assembleContracts.ts
  packages/abi-typegen/src/utils/assemblePredicates.test.ts
  packages/abi-typegen/src/utils/assemblePredicates.ts
  packages/abi-typegen/src/utils/assembleScripts.test.ts
  packages/abi-typegen/src/utils/assembleScripts.ts
  packages/abi-typegen/test/utils/getNewAbiTypegen.ts
  packages/abi-typegen/test/utils/mockVersions.ts
  packages/fuels/src/cli/commands/build/generateTypes.ts
  packages/versions/src/cli.ts
  packages/versions/src/index.ts
  packages/versions/src/lib/getBinaryVersions.test.ts
  packages/versions/src/lib/getBinaryVersions.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  packages/versions/src/lib/types.ts
Labels: bug

#2905 chore!: renamed `AssetId` to `TestAssetId`
  .changeset/yellow-eagles-breathe.md
  apps/docs-snippets/src/guide/testing/launching-a-test-node.test.ts
  apps/docs/src/guide/testing/test-node-options.md
  packages/account/src/test-util.test.ts
  packages/account/src/test-utils.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.test.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.ts
  packages/account/src/test-utils/test-asset-id.ts
  packages/account/src/test-utils/wallet-config.test.ts
  packages/account/src/test-utils/wallet-config.ts
  packages/fuel-gauge/src/doc-examples.test.ts
Labels: chore

#2839 chore: refactor helpers related to transaction operations
  .changeset/angry-sloths-grin.md
  packages/account/src/providers/transaction-summary/call.ts
  packages/account/src/providers/transaction-summary/operations.ts
Labels: chore

#2909 chore: revising build scripts
  .github/actions/test-setup/action.yaml
  .github/workflows/pr-release.yaml
  .github/workflows/release.yaml
  package.json
Labels: chore

#2804 chore: renaming `changesets` PR title
  .github/workflows/release.yaml
Labels: chore

#2910 chore: updating pull request tasklist
  .github/pull_request_template.md
Labels: chore

#2918 chore: update dev build script
  package.json
Labels: chore

#2926 fix: `Account.createTransfer` return type
  .changeset/quiet-grapes-move.md
  packages/account/src/account.ts
Labels: bug

#2935 chore: revert build script changes
  .github/actions/test-setup/action.yaml
  .github/workflows/pr-release.yaml
  .github/workflows/release.yaml
  package.json
Labels: chore

#2929 feat!: non-blocking blob deployment
  .changeset/forty-apes-tell.md
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs/src/guide/contracts/deploying-contracts.md
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/contract-factory.test.ts
Labels: feat

#2937 chore: add contract test util typedoc entry point
  .changeset/big-dragons-sell.md
  apps/docs/scripts/typedoc-postbuild.ts
  packages/contract/typedoc.json
Labels: docs, chore

#2915 chore!: deprecate `FUEL_NETWORK_URL` and `LOCAL_NETWORK_URL`
  .changeset/nervous-shirts-know.md
  .env.example
  CONTRIBUTING.md
  apps/docs-snippets/src/guide/introduction/getting-started.test.ts
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  internal/check-imports/src/references.ts
  packages/account/src/configs.test.ts
  packages/account/src/configs.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.test.ts
  packages/fuels/src/cli/config/loadConfig.ts
  packages/fuels/test/fixtures/fuels.config.ts
  packages/fuels/test/utils/mockAutoStartFuelCore.ts
Labels: chore

#2944 chore: stop using `setupFiles` in tests
  .changeset/funny-pumas-bathe.md
  vitest.env.ts
  vitest.global-setup.ts
  vitest.shared.config.mts
Labels: chore

#2943 fix: flakey connectors on re render
  packages/account/src/connectors/fuel.ts
Labels: bug

#2963 fix!: assembly process for account transfer operation
  .changeset/pretty-dolls-shave.md
  packages/account/src/providers/transaction-summary/input.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/account/src/providers/transaction-summary/types.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: bug

#2964 chore!: wrap subscriptions in promise
  .changeset/smart-seals-care.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/fuel-gauge/src/edge-cases.test.ts
Labels: chore

#2962 feat!: read malleable fields from transaction status on subscription
  .changeset/famous-pans-press.md
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs/src/guide/transactions/transaction-response.md
  packages/account/src/account.test.ts
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/providers/transaction-summary/types.ts
  packages/fuel-gauge/src/await-execution.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/transactions/src/coders/tx-pointer.test.ts
  packages/transactions/src/coders/tx-pointer.ts
  packages/utils/src/index.ts
Labels: feat

#2979 docs: `launchTestNode` docs API links
  .changeset/clean-flies-jump.md
  apps/docs/src/guide/testing/launching-a-test-node.md
  apps/docs/src/guide/testing/test-node-options.md
Labels: docs

#2925 chore: improve node incompatibility warning
  .changeset/many-paws-exercise.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: chore

#2981 fix: gas price estimation test flakiness
  .changeset/new-numbers-talk.md
  packages/account/src/test-utils/launchNode.ts
Labels: bug

#2982 fix: avoid re-add fake resources at `Account.getTransactionCost`
  .changeset/grumpy-fishes-obey.md
  packages/account/src/account.ts
Labels: bug

#2987 fix: PRs tagged as breaking must have minor changes
  .changeset/eleven-ties-bathe.md
  .github/workflows/pr-validate-changesets.yaml
Labels: bug, chore

#2985 fix: made bytecode compression browser compatible
  .changeset/eighty-ducks-burn.md
  packages/utils/src/utils/bytecode.ts
Labels: bug

#3005 chore: make `nextjs` the default `create fuels` template
  .changeset/great-boxes-scream.md
  packages/create-fuels/src/lib/setupProgram.ts
Labels: chore

#2992 fix: integration tests fail silently
  .changeset/green-donuts-lick.md
  playwright.config.ts
  scripts/tests-ui.sh
Labels: bug, chore

#2976 chore: group all dependabot upgrades
  .github/dependabot.yml
Labels: chore

#3012 chore: upgrade connectors
  .changeset/config.json
  .changeset/long-boxes-sniff.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-wallet-sdk-react/.eslintrc.json
  apps/demo-wallet-sdk-react/README.md
  apps/demo-wallet-sdk-react/package.json
  apps/demo-wallet-sdk-react/pages/_app.tsx
  apps/demo-wallet-sdk-react/pages/_document.tsx
  apps/demo-wallet-sdk-react/postcss.config.js
  apps/demo-wallet-sdk-react/postcss.config.mjs
  apps/demo-wallet-sdk-react/src/app/favicon.ico
  apps/demo-wallet-sdk-react/src/app/globals.css
  apps/demo-wallet-sdk-react/src/app/layout.tsx
  apps/demo-wallet-sdk-react/src/app/page.tsx
  apps/demo-wallet-sdk-react/tailwind.config.ts
  apps/demo-wallet-sdk-react/tsconfig.json
  apps/docs/src/guide/cookbook/wallet-sdk-and-react-hooks.md
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: chore

#2930 fix: avoid potential race-condition in fuel connectors init
  .changeset/cold-masks-rest.md
  apps/docs-snippets/src/guide/wallets/connectors.test.ts
  apps/docs/src/guide/wallets/connectors.md
  packages/account/src/connectors/fuel.ts
  packages/account/test/fuel-wallet-connector.browser.test.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: bug

#3015 chore: unskip transferring-assets test given `fuel-core v0.33.0` fix
  .changeset/neat-vans-fly.md
  apps/docs-snippets/src/guide/cookbook/transferring-assets.test.ts
Labels: chore

#3026 chore: remove TS errors from some tests
  .changeset/fast-walls-report.md
  apps/docs-snippets/src/guide/predicates/interacting-with-predicates.test.ts
  apps/docs-snippets/src/guide/types/conversion.test.ts
  apps/docs-snippets/src/guide/wallets/checking-balances.test.ts
  packages/abi-coder/src/utils/getFunctionInputs.test.ts
  packages/abi-coder/src/utils/json-abi.test.ts
  packages/abi-coder/test/Interface.test.ts
  packages/abi-typegen/src/utils/makeFunction.test.ts
  packages/abi-typegen/src/utils/parseFunctions.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/generic-types-contract.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/raw-slice.test.ts
  packages/fuel-gauge/src/script-with-configurable.test.ts
  packages/fuel-gauge/src/script-with-vectors.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/src/vector-types.test.ts
  packages/fuel-gauge/src/vectors.test.ts
  packages/fuel-gauge/src/void.test.ts
Labels: chore

#3020 chore: made `chainConfig` files match testnet configuration
  .changeset/thin-beans-act.md
  .fuel-core/configs/chainConfig.json
  packages/account/src/providers/provider.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/utils/src/utils/defaultSnapshots/chainConfig.json
  packages/utils/src/utils/types.ts
Labels: chore

#2999 chore: upgrade `fuel-core@0.34.0`
  .changeset/gorgeous-adults-divide.md
  internal/fuel-core/VERSION
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/provider.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
  templates/vite/sway-programs/fuel-toolchain.toml
Labels: chore

#3035 fix: integration test
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: bug

#3041 fix: added missing dependencies for templates
  .changeset/strong-pears-walk.md
Labels: bug, chore

#3040 fix: consistent typegen outputs
  .changeset/fast-ties-crash.md
  packages/utils/src/utils/bytecode.test.ts
  packages/utils/src/utils/bytecode.ts
Labels: bug, chore

#3036 feat: embed testnet faucet in `create-fuels` template
  .changeset/stupid-books-pull.md
  templates/nextjs/src/app/faucet/page.tsx
  templates/nextjs/src/components/Layout.tsx
  templates/vite/src/components/Layout.tsx
  templates/vite/src/routes/faucet.lazy.tsx
Labels: feat

#3013 feat: add missing connectors to `create fuels` template
  .changeset/new-rivers-rescue.md
  pnpm-lock.yaml
  templates/nextjs/src/app/layout.tsx
  templates/vite/src/routes/__root.tsx
Labels: feat

#3056 chore: increase test timeout to reduce flakiness
  .changeset/wet-hairs-beg.md
  packages/account/src/test-utils/launchNode.test.ts
Labels: chore

#3011 feat: make `create-fuels` template app responsive
  .changeset/tall-hairs-sit.md
  templates/nextjs/public/close.svg
  templates/nextjs/public/hamburger.svg
  templates/nextjs/src/components/Layout.tsx
  templates/nextjs/src/components/Navbar.tsx
  templates/vite/public/close.svg
  templates/vite/public/hamburger.svg
  templates/vite/src/components/Layout.tsx
  templates/vite/src/components/Navbar.tsx
Labels: feat

#3045 chore: deployed the `create fuels` template
  .changeset/lazy-teachers-impress.md
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  apps/docs/src/guide/creating-a-fuel-dapp/working-with-predicates.md
Labels: chore

#3064 fix: `UtxoIdCoder` output index to be `u16`
  .changeset/thin-shrimps-remain.md
  packages/transactions/src/coders/utxo-id.test.ts
  packages/transactions/src/coders/utxo-id.ts
Labels: bug

#3003 feat: added support for unknown txn types
  .changeset/honest-toes-pump.md
  packages/account/src/account.ts
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/account/test/fixtures/transaction-summary.ts
  packages/transactions/src/coders/transaction.ts
Labels: feat

#3050 docs: handling UTXO error in transaction re-submissions
  apps/docs-snippets/src/guide/cookbook/resubmitting-failed-transactions.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cookbook/resubmitting-failed-transactions.md
Labels: docs
