Repository FuelLabs/fuels-ts, pull requests merged in 2024-03, with the labels that each got.

#1678 docs: add wallet-sdk-react example
  .changeset/quick-swans-lie.md
  apps/demo-wallet-sdk-react/.gitignore
  apps/demo-wallet-sdk-react/README.md
  apps/demo-wallet-sdk-react/next.config.mjs
  apps/demo-wallet-sdk-react/package.json
  apps/demo-wallet-sdk-react/pages/_app.tsx
  apps/demo-wallet-sdk-react/pages/_document.tsx
  apps/demo-wallet-sdk-react/pages/index.tsx
  apps/demo-wallet-sdk-react/postcss.config.js
  apps/demo-wallet-sdk-react/public/favicon.ico
  apps/demo-wallet-sdk-react/public/next.svg
  apps/demo-wallet-sdk-react/public/vercel.svg
  apps/demo-wallet-sdk-react/styles/globals.css
  apps/demo-wallet-sdk-react/tailwind.config.ts
  apps/demo-wallet-sdk-react/tsconfig.json
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cookbook/wallet-sdk-and-react-hooks.md
  pnpm-lock.yaml
  scripts/lint-md-links.ts
Labels: docs

#1827 fix: disallow transferring amounts <=0
  .changeset/perfect-feet-approve.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/contract.test.ts
Labels: bug

#1786 chore: replace `ethers` implementations of `sha256`, `scrypt` and `keccak`
  .changeset/orange-lions-drop.md
  packages/abi-coder/package.json
  packages/abi-coder/src/FunctionFragment.ts
  packages/abi-coder/src/encoding/coders/AbstractCoder.ts
  packages/account/src/hdwallet/hdwallet.ts
  packages/account/src/mnemonic/mnemonic.ts
  packages/account/src/mnemonic/utils.ts
  packages/account/src/providers/transaction-request/hash-transaction.ts
  packages/account/src/signer/signer.test.ts
  packages/address/package.json
  packages/address/src/address.ts
  packages/contract/package.json
  packages/contract/src/util.ts
  packages/crypto/package.json
  packages/crypto/src/browser/aes-ctr.ts
  packages/crypto/src/shared/keccak256.test.ts
  packages/crypto/src/shared/keccak256.ts
  packages/crypto/src/shared/scrypt.test.ts
  packages/crypto/src/shared/scrypt.ts
  packages/hasher/package.json
  packages/hasher/src/hasher.test.ts
  packages/hasher/src/hasher.ts
  packages/merkle/package.json
  packages/merkle/src/binary/binaryMerkleTree.ts
  packages/merkle/src/common/cryptography.ts
  packages/merkle/src/common/index.ts
  packages/merkle/src/sparse/proofs.ts
  packages/merkle/src/sparse/sparseMerkleTree.test.ts
  packages/merkle/src/sparse/sparseMerkleTree.ts
  packages/merkle/src/sparse/treeHasher.ts
  packages/merkle/src/sum/sumMerkleTree.ts
  packages/transactions/package.json
  packages/transactions/src/coders/input.ts
  packages/transactions/src/coders/receipt.test.ts
  packages/transactions/src/coders/receipt.ts
  pnpm-lock.yaml
Labels: chore

#1837 chore: remove rc list
  .changeset/slimy-waves-live.md
  .github/rc-list.md
Labels: chore

#1838 chore: add petertonysmith94 as codeowner
  .changeset/short-numbers-confess.md
  .github/CODEOWNERS
Labels: chore

#1822 feat: make requests extendable by adding `requestMiddleware` to provider options
  .changeset/tasty-buses-allow.md
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs/src/guide/providers/index.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/auto-retry-fetch.test.ts
Labels: feat

#1839 chore: add try catch when parsing stream response
  .changeset/brave-phones-relax.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/provider.test.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: chore

#1847 fix: release ci failing when there are only empty changesets
  .changeset/nine-tomatoes-learn.md
  scripts/changeset-version-with-docs.ts
Labels: bug

#1848 fix: changeset PR update not running workflows
  .changeset/spotty-cheetahs-arrive.md
  .github/workflows/release.yaml
Labels: bug

#1858 chore: update wallet for e2e tests
  .changeset/olive-ties-yawn.md
  .github/workflows/test.yaml
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore

#1855 feat: warn when running against unofficial `fuel-core` nodes
  .changeset/hungry-peas-argue.md
  packages/versions/src/lib/checkFuelCoreVersionCompatibility.test.ts
  packages/versions/src/lib/checkFuelCoreVersionCompatibility.ts
Labels: feat

#1826 feat!: accept predicate input data on the `Predicate` constructor
  .changeset/many-timers-tease.md
  apps/docs-snippets/src/guide/predicates/index.test.ts
  apps/docs-snippets/src/guide/predicates/predicate-with-configurable.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  packages/abi-typegen/src/templates/predicate/factory.hbs
  packages/abi-typegen/src/templates/predicate/factory.ts
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/factory.hbs
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/test/predicate-functions.test.ts
  packages/fuel-gauge/src/bytes.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-evaluations.test.ts
  packages/fuel-gauge/src/predicate/predicate-input-data.test.ts
  packages/fuel-gauge/src/predicate/predicate-invalidations.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/raw-slice.test.ts
  packages/fuel-gauge/src/std-lib-string.test.ts
  packages/fuel-gauge/src/vector-types.test.ts
  templates/nextjs/src/pages/predicate.tsx
Labels: feat

#1854 feat: better error message when `fuels` cli fails deployment on unavailable node
  .changeset/dry-experts-hug.md
  packages/errors/src/error-codes.ts
  packages/fuels/src/cli/commands/deploy/createWallet.test.ts
  packages/fuels/src/cli/commands/deploy/createWallet.ts
Labels: feat

#1861 chore: upgrade fuels on demo wallet sdk react
  .changeset/fresh-numbers-divide.md
  apps/demo-wallet-sdk-react/package.json
  pnpm-lock.yaml
Labels: chore

#1868 docs: update `simulate-transaction` page
  .changeset/dry-experts-hug.md
  .changeset/fresh-numbers-divide.md
  apps/demo-wallet-sdk-react/package.json
  apps/docs-snippets/src/guide/contracts/simulate-transactions.test.ts
  apps/docs/src/guide/contracts/simulate-transactions.md
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuels/src/cli/commands/deploy/createWallet.test.ts
  packages/fuels/src/cli/commands/deploy/createWallet.ts
  pnpm-lock.yaml
Labels: docs

#1870 docs: add native param types page
  .changeset/thick-points-return.md
  apps/docs-snippets/src/guide/types/contract-types.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs-snippets/test/fixtures/forc-projects/input-output-types/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/input-output-types/src/main.sw
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/types/native-parameters.md
Labels: docs

#1864 feat: add local faucet for the `create-fuels` app
  .changeset/new-years-bathe.md
  packages/create-fuels/README.md
  packages/create-fuels/src/cli.ts
  pnpm-lock.yaml
  templates/nextjs/README.md
  templates/nextjs/fuels.config.ts
  templates/nextjs/package.json
  templates/nextjs/public/copy.svg
  templates/nextjs/src/components/BurnerWallet.tsx
  templates/nextjs/src/components/Input.tsx
  templates/nextjs/src/components/Layout.tsx
  templates/nextjs/src/lib.ts
  templates/nextjs/src/pages/_app.tsx
  templates/nextjs/src/pages/faucet.tsx
  templates/nextjs/src/pages/index.tsx
  templates/nextjs/src/pages/predicate.tsx
  templates/nextjs/src/pages/script.tsx
Labels: feat

#1860 feat: implement `get` method on `BaseInvocationScope`
  .changeset/small-falcons-fetch.md
  apps/demo-fuels/src/index.test.ts
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/src/guide/contracts/interacting-with-contracts.test.ts
  apps/docs-snippets/src/guide/contracts/simulate-transactions.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/interacting-with-contracts.md
  apps/docs/src/guide/contracts/simulate-transactions.md
  packages/account/src/providers/provider.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: feat, mainnet

#1888 fix: increase timeout of `TransactionResponse` test
  .changeset/strange-penguins-deliver.md
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: chore

#1872 feat: improve changelog template
  .changeset/config.json
  .github/workflows/pr-lint.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
  scripts/changelog.js
  scripts/changeset/changeset-next.ts
  scripts/changeset/changeset-version-with-docs.ts
  scripts/changeset/get-full-changelog.mts
  scripts/changeset/update-changelog.mts
Labels: feat, mainnet

#1902 fix: typo in `pr-lint.yaml`
  .github/workflows/pr-lint.yaml
Labels: bug

#1883 fix: command `fuels version` not working
  .changeset/perfect-seas-push.md
  packages/versions/scripts/rewriteVersions.ts
  packages/versions/src/cli.test.ts
  packages/versions/src/cli.ts
  packages/versions/src/lib/getSystemVersions.test.ts
  packages/versions/src/lib/getSystemVersions.ts
  vite.base.config.mts
Labels: bug

#1908 fix: broken coverage report and changeset PR title
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Labels: bug

#1909 fix: uncomment coverage code
  .github/workflows/test.yaml
Labels: bug

#1901 chore: testing patch of older releases
  .changeset/strong-fireants-tickle.md
  .github/workflows/pr-lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  package.json
  packages/fuels/src/cli.ts
  scripts/changeset/changeset-next.ts
  scripts/changeset/changeset-version-with-docs.ts
  scripts/changeset/get-full-changelog.mts
  scripts/changeset/update-changelog.mts
Labels: chore

#1910 fix: changelogs not showing up on changesets PR
  .github/workflows/release.yaml
  scripts/changeset/update-changelog.mts
Labels: bug

#1912 feat: testing release mechanism out
  .changeset/nice-melons-beg.md
  packages/fuels/src/cli.ts
Labels: chore

#1920 test release 0.76.2 patch
  .changeset/late-readers-scream.md
  packages/fuels/src/cli.ts
Labels: chore

#1905 ci: update wallet
  .github/workflows/breaking-change-pr-release.yaml
Labels: chore

#1878 chore: add PR auto release routine
  .changeset/thick-spoons-sin.md
  .github/workflows/breaking-change-pr-release.yaml
Labels: chore, mainnet

#1928 chore: fix breaking change PR release workflow
  .github/workflows/breaking-change-pr-release.yaml
Labels: chore

#1930 chore: fix `backstick` error on breaking change workflow
  .github/workflows/breaking-change-pr-release.yaml
Labels: chore

#1815 feat!: improve signing DX
  .changeset/tough-parrots-occur.md
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs-snippets/test/fixtures/forc-projects/predicate-signing/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/predicate-signing/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/script-signing/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/script-signing/src/main.sw
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cookbook/transactions-with-multiple-signers.md
  apps/docs/src/guide/wallets/signing.md
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/transaction-request.test.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: feat

#1933 chore: test release
  .changeset/stupid-radios-hang.md
  packages/fuels/src/cli.ts
Labels: chore

#1866 docs: error code documentation page
  .changeset/thin-beers-live.md
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/errors/error-codes.md
  apps/docs/src/guide/errors/index.md
Labels: docs

#1935 feat!: improve signing DX
  .changeset/tough-parrots-occur.md
Labels: chore

#1939 fix: fetch just-published tag
  scripts/changeset/update-changelog.mts
Labels: bug

#1873 feat: add browser wallet support to the create-fuels template app
  .changeset/soft-pens-arrive.md
  pnpm-lock.yaml
  templates/nextjs/gitignore
  templates/nextjs/package.json
  templates/nextjs/public/fuel.ico
  templates/nextjs/src/components/BurnerWallet.tsx
  templates/nextjs/src/components/Layout.tsx
  templates/nextjs/src/components/WalletDisplay.tsx
  templates/nextjs/src/hooks/useActiveWallet.tsx
  templates/nextjs/src/hooks/useBrowserWallet.tsx
  templates/nextjs/src/hooks/useBurnerWallet.tsx
  templates/nextjs/src/hooks/useFaucet.tsx
  templates/nextjs/src/lib.ts
  templates/nextjs/src/pages/_app.tsx
  templates/nextjs/src/pages/faucet.tsx
  templates/nextjs/src/pages/index.tsx
  templates/nextjs/src/pages/predicate.tsx
  templates/nextjs/src/pages/script.tsx
Labels: feat

#1840 feat: log out custom require messages for error enums when tx reverts
  .changeset/lazy-toys-visit.md
  apps/docs-snippets/src/guide/errors/debugging-revert-errors.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs-snippets/test/fixtures/forc-projects/revert-errors-script/.gitignore
  apps/docs-snippets/test/fixtures/forc-projects/revert-errors-script/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/revert-errors-script/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/revert-errors/.gitignore
  apps/docs-snippets/test/fixtures/forc-projects/revert-errors/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/revert-errors/src/main.sw
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/errors/debugging-revert-errors.md
  apps/docs/src/guide/errors/index.md
  packages/program/src/errors.ts
  packages/program/src/revert/revert-error-codes.ts
  packages/program/src/revert/revert-error.ts
Labels: feat

#1943 fix: changelog updating failing on missing changeset PR
  scripts/changeset/update-changelog.mts
Labels: bug

#1940 feat: decode logs from TXs submitted outside `BaseInvocationScope`
  .changeset/tame-beans-type.md
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/script-transaction-request.ts
  packages/account/src/providers/transaction-request/types.ts
  packages/account/src/providers/transaction-response/getDecodedLogs.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/functions/invocation-results.ts
  packages/program/src/types.ts
  packages/program/src/utils.ts
Labels: feat, mainnet

#1964 chore!: reset base `forc` version to `0.49.3` except for experimental builds
  .changeset/tall-bees-move.md
Labels: chore

#1967 chore: handling `EADDRNOTAVAIL` errors on top of `ECONNREFUSED`
  .changeset/nasty-clocks-share.md
  packages/fuels/src/cli/commands/deploy/createWallet.ts
Labels: chore

#1969 chore: adding missing environment variable for workflow
  .changeset/sharp-buses-bake.md
  .github/workflows/test.yaml
Labels: chore

#1962 docs!: fix wrong info at variable outputs page
  .changeset/empty-buses-film.md
  apps/docs-snippets/src/guide/contracts/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/contracts/variable-outputs.test.ts
  apps/docs-snippets/src/guide/cookbook/deposit-and-withdraw.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs-snippets/test/fixtures/forc-projects/token/src/main.sw
  apps/docs/src/guide/contracts/variable-outputs.md
  packages/transactions/src/coders/receipt.ts
Labels: docs

#1974 chore: test patching old releases
  .changeset/config.json
  .changeset/olive-dragons-sort.md
  packages/fuels/src/cli.ts
Labels: chore

#1970 docs: re-added missing pages from contract documentation
  .changeset/thick-pugs-marry.md
  apps/docs/.vitepress/config.ts
  apps/docs/homeless/index.md
  apps/docs/src/guide/contracts/contract-balance.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
Labels: docs

#1972 chore: changelog touchups
  .changeset/strong-apples-sell.md
  .github/workflows/release.yaml
  scripts/changeset/get-full-changelog.mts
  scripts/changeset/update-changelog.mts
Labels: chore

#1959 docs: transferring between wallets
  .changeset/tricky-laws-itch.md
  apps/docs-snippets/src/guide/wallets/checking-balances.test.ts
  apps/docs-snippets/src/guide/wallets/wallet-transferring.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/wallets/checking-balances.md
  apps/docs/src/guide/wallets/wallet-transferring.md
Labels: docs

#1949 docs: upgrade testnet documentation
  .changeset/witty-timers-drop.md
  apps/docs-snippets/src/guide/introduction/getting-started.test.ts
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs/src/guide/index.md
  apps/docs/src/guide/introduction/getting-started.md
  apps/docs/src/guide/providers/index.md
  packages/account/src/configs.test.ts
  packages/account/src/configs.ts
  packages/account/src/providers/provider.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
Labels: docs

#1947 docs: add page `instantiating-wallets`
  .changeset/quiet-peaches-appear.md
  apps/docs-snippets/src/guide/wallets/instantiating-wallets.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/wallets/instantiating-wallets.md
Labels: docs

#1973 chore: get latest PR for changeset
  scripts/changeset/get-full-changelog.mts
Labels: chore

#1957 docs: refine local node configuration and connection
  .changeset/new-tips-thank.md
  apps/docs-snippets/src/guide/introduction/getting-started.test.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/introduction/getting-started.md
  packages/fuel-gauge/src/doc-examples.test.ts
Labels: docs
