Repository FuelLabs/fuels-ts, pull requests merged in 2024-09, with the labels that each got.

#3079 feat: support basic auth
  .changeset/swift-tools-hunt.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: feat

#3047 feat: validate blob IDs against chain in chunk deploys
  .changeset/gorgeous-laws-search.md
  packages/account/src/providers/provider.ts
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/contract-factory.test.ts
Labels: feat

#3083 chore: deprecate `BaseTransactionRequest.fundWithFakeUtxos`
  .changeset/gentle-files-pay.md
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/contract/src/contract-factory.ts
Labels: chore

#3075 chore: removed redundant crypto functionality
  .changeset/wise-deers-press.md
  apps/docs/src/guide/errors/index.md
  packages/crypto/src/node/hmac.ts
  packages/crypto/src/node/pbkdf2.ts
  packages/crypto/src/shared/ripemd160.ts
  packages/crypto/test/hmac.node.test.ts
  packages/crypto/test/pbkdf2.node.test.ts
  packages/errors/src/error-codes.ts
Labels: chore

#3046 chore: adding type checking
  .changeset/odd-seahorses-learn.md
  apps/docs-snippets/package.json
  apps/docs-snippets/src/guide/types/arrays.test.ts
  apps/docs-snippets/src/guide/types/contract-types.test.ts
  apps/docs-snippets/src/guide/types/enums.test.ts
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs-snippets/src/guide/wallets/connectors.test.ts
  apps/docs-snippets/src/jsonc.d.ts
  package.json
  packages/abi-coder/src/encoding/coders/NumberCoder.test.ts
  packages/abi-coder/src/encoding/strategies/getCoderForEncoding.test.ts
  packages/abi-typegen/src/utils/parseTypeArguments.test.ts
  packages/abi-typegen/tsconfig.json
  packages/contract/tsconfig.json
  packages/create-fuels/package.json
  packages/fuel-gauge/package.json
  packages/fuel-gauge/src/bytecode-sway-lib.test.ts
  packages/fuel-gauge/src/vectors.test.ts
  packages/fuel-gauge/test/fixtures/abi/predicate.ts
  packages/fuel-gauge/test/fixtures/bytecode/predicate.ts
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/src/main.sw
  packages/fuel-gauge/tsconfig.json
  packages/fuels/package.json
  packages/logger/test/index.test.ts
  packages/logger/test/utils.test.ts
  packages/logger/tsconfig.json
  packages/utils/tsconfig.json
  packages/versions/src/cli.test.ts
  tsconfig.test.json
Labels: chore

#3091 fix: faucet link in `create-fuels` navbar
  .changeset/clever-papayas-hang.md
  templates/nextjs/src/components/Navbar.tsx
  templates/vite/src/components/Navbar.tsx
Labels: bug

#3048 feat: make vite the default `create-fuels` template
  .changeset/odd-coats-tease.md
  apps/create-fuels-counter-guide/.env.example
  apps/create-fuels-counter-guide/.eslintignore
  apps/create-fuels-counter-guide/.eslintrc.json
  apps/create-fuels-counter-guide/.gitignore
  apps/create-fuels-counter-guide/README.md
  apps/create-fuels-counter-guide/eslint.config.js
  apps/create-fuels-counter-guide/fuels.config.ts
  apps/create-fuels-counter-guide/index.html
  apps/create-fuels-counter-guide/next.config.js
  apps/create-fuels-counter-guide/package.json
  apps/create-fuels-counter-guide/postcss.config.js
  apps/create-fuels-counter-guide/src/app/layout.tsx
  apps/create-fuels-counter-guide/src/components/Layout.tsx
  apps/create-fuels-counter-guide/src/components/Link.tsx
  apps/create-fuels-counter-guide/src/components/WalletDisplay.tsx
  apps/create-fuels-counter-guide/src/hooks/useActiveWallet.tsx
  apps/create-fuels-counter-guide/src/hooks/useBrowserWallet.tsx
  apps/create-fuels-counter-guide/src/hooks/useBurnerWallet.tsx
  apps/create-fuels-counter-guide/src/hooks/useFaucet.tsx
  apps/create-fuels-counter-guide/src/index.css
  apps/create-fuels-counter-guide/src/lib.ts
  apps/create-fuels-counter-guide/src/main.tsx
  apps/create-fuels-counter-guide/src/routeTree.gen.ts
  apps/create-fuels-counter-guide/src/routes/__root.tsx
  apps/create-fuels-counter-guide/src/routes/faucet.lazy.tsx
  apps/create-fuels-counter-guide/src/routes/index.lazy.tsx
  apps/create-fuels-counter-guide/src/routes/predicate.lazy.tsx
  apps/create-fuels-counter-guide/src/routes/script.lazy.tsx
  apps/create-fuels-counter-guide/src/sway-api/contract-ids.json
  apps/create-fuels-counter-guide/src/vite-env.d.ts
  apps/create-fuels-counter-guide/sway-programs/fuel-toolchain.toml
  apps/create-fuels-counter-guide/tailwind.config.js
  apps/create-fuels-counter-guide/tsconfig.app.json
  apps/create-fuels-counter-guide/tsconfig.json
  apps/create-fuels-counter-guide/tsconfig.node.json
  apps/create-fuels-counter-guide/vercel.json
  apps/create-fuels-counter-guide/vite.config.ts
  apps/create-fuels-counter-guide/vitest.config.mts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/creating-a-fuel-dapp/deploying-a-dapp-to-testnet.md
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  apps/docs/src/guide/creating-a-fuel-dapp/options.md
  apps/docs/src/guide/creating-a-fuel-dapp/working-with-predicates.md
  packages/create-fuels/src/lib/rewriteTemplateFiles.test.ts
  packages/create-fuels/src/lib/setupProgram.ts
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/test/utils/bootstrapProject.ts
  packages/create-fuels/test/utils/templateFiles.ts
  playwright-tests/create-fuels.test.ts
  pnpm-lock.yaml
  scripts/tests-ui.sh
  templates/vite/package.json
Labels: feat, chore

#3052 chore: upgrade `fuel-core@0.35.0`
  .changeset/moody-masks-live.md
  internal/fuel-core/VERSION
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/provider.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
  templates/vite/sway-programs/fuel-toolchain.toml
Labels: chore

#3078 fix: TX estimation when `InputMessage` contains data
  .changeset/gold-kids-build.md
  packages/account/src/account.ts
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/message.ts
  packages/account/src/providers/transaction-request/helpers.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/transaction.test.ts
Labels: bug, feat

#3098 feat: parse message response from `getMessageByNonce`
  .changeset/wet-toes-switch.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: feat

#3090 chore: added basic test infrastructure
  .github/workflows/test.yaml
  packages/abi/package.json
  packages/fuel-gauge/package.json
  packages/fuel-gauge/src/abi/abi-coder.test.ts
  packages/fuel-gauge/src/abi/abi-gen.test.ts
  packages/fuel-gauge/src/abi/utils.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/abi-predicate/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/abi-predicate/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/abi-script/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/abi-script/src/main.sw
  pnpm-lock.yaml
Labels: chore

#3092 feat: add block header to responses in block-related queries
  .changeset/fifty-roses-fry.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/test/fixtures/chain.ts
Labels: feat

#3093 chore: unskip test case
  .changeset/big-masks-allow.md
  packages/account/src/providers/provider.test.ts
Labels: chore

#3097 feat: return deep clone on transaction request `from` method
  .changeset/curvy-melons-itch.md
  packages/account/src/providers/transaction-request/blob-transaction-request.ts
  packages/account/src/providers/transaction-request/create-transaction-request.ts
  packages/account/src/providers/transaction-request/script-transaction-request.ts
  packages/account/src/providers/transaction-request/utils.test.ts
Labels: feat

#2993 ci: revert gas price estimation test flakiness
  .changeset/dull-clouds-speak.md
  packages/account/src/test-utils/launchNode.ts
Labels: chore

#3103 fix: assemble of transaction revert error message
  .changeset/tall-rivers-rest.md
  packages/account/src/providers/utils/extract-tx-error.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/revert-error/src/main.sw
Labels: bug

#3101 feat: use `submitAndAwaitStatus` to submit transactions
  .changeset/famous-pans-press.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/fuel-gauge/src/edge-cases.test.ts
Labels: bug, feat

#3116 fix: error handling in `Provider` for when a node is offline
  .changeset/hot-cats-happen.md
  packages/account/src/providers/provider.ts
Labels: bug

#3115 chore: fixing flaky tests
  .changeset/pink-apricots-sell.md
  packages/account/src/test-utils/launchNode.test.ts
  packages/fuel-gauge/src/contract-factory.test.ts
Labels: chore

#3118 chore: upgrading `forc` to `0.63.4`
  .changeset/pink-dolphins-reply.md
  internal/forc/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
  templates/vite/sway-programs/fuel-toolchain.toml
Labels: chore

#3066 chore: added typegen test for type with native asset
  .changeset/afraid-crews-fetch.md
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract/main.hbs
Labels: chore

#3122 fix: loader contract being called via proxy
  .changeset/grumpy-flies-sleep.md
  packages/contract/src/loader/loader-script.test.ts
  packages/contract/src/loader/loader-script.ts
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/proxy-contract/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/proxy-contract/src/main.sw
Labels: bug

#3106 chore: deprecate all receipt coders
  .changeset/olive-apples-brush.md
  packages/account/src/providers/utils/receipts.ts
  packages/transactions/src/coders/receipt.ts
Labels: chore

#3127 chore: upgrading `forc` to `0.63.5`
  .changeset/nervous-cougars-sip.md
  internal/forc/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
  templates/vite/sway-programs/fuel-toolchain.toml
Labels: chore

#3128 feat: add `signTransaction` to `FuelConnectorMethods` enum
  .changeset/long-ravens-explain.md
  packages/account/src/connectors/types/connector-types.ts
Labels: feat

#3124 chore: fix flaky resource cache test case
  .changeset/witty-masks-hide.md
  packages/account/src/providers/resource-cache.test.ts
Labels: chore

#3133 chore: bump connectors package version
  .changeset/spicy-games-repeat.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-wallet-sdk-react/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
  templates/vite/src/sway-api/contract-ids.json
Labels: chore

#3135 chore: added error code expectations to the exhaustive examples
  .changeset/ninety-geese-report.md
  packages/abi-coder/test/Interface.test.ts
Labels: chore

#3107 chore: deprecate network URLs, add asset ID and chain ID for mainnet
  .changeset/silent-bees-give.md
  apps/create-fuels-counter-guide/src/lib.ts
  apps/docs-snippets/src/guide/contracts/deploying-contracts.test.ts
  apps/docs-snippets/src/guide/introduction/getting-started.test.ts
  apps/docs-snippets/src/guide/predicates/predicate-custom-transactions.test.ts
  internal/utils/README.md
  internal/utils/package.json
  internal/utils/src/constants.ts
  internal/utils/src/index.ts
  internal/utils/tsconfig.json
  internal/utils/tsup.config.ts
  packages/account/package.json
  packages/account/src/configs.test.ts
  packages/account/src/configs.ts
  packages/account/src/providers/assets/assets.ts
  packages/account/src/providers/chains.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/fuel-gauge/package.json
  packages/fuel-gauge/src/e2e-script.test.ts
  pnpm-lock.yaml
  templates/nextjs/src/lib.ts
  templates/vite/src/lib.ts
Labels: chore

#3149 chore: revert add `signTransaction` to `FuelConnectorMethods` enum
  .changeset/long-ravens-explain.md
  .changeset/tasty-geckos-train.md
  packages/account/src/connectors/types/connector-types.ts
Labels: chore

#3104 feat: add UI tests to `create fuels` template
  .changeset/wet-sheep-call.md
  apps/create-fuels-counter-guide/.gitignore
  apps/create-fuels-counter-guide/package.json
  apps/create-fuels-counter-guide/playwright.config.ts
  apps/create-fuels-counter-guide/test/ui/test-ui.sh
  apps/create-fuels-counter-guide/test/ui/ui.test.ts
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  packages/create-fuels/src/lib/rewriteTemplateFiles.test.ts
  packages/create-fuels/src/lib/rewriteTemplateFiles.ts
  playwright-tests/create-fuels.test.ts
  pnpm-lock.yaml
  scripts/tests-validate.sh
  templates/nextjs/.gitignore
  templates/nextjs/gitignore
  templates/nextjs/package.json
  templates/nextjs/playwright.config.ts
  templates/nextjs/test/integration/contract.test.ts
  templates/nextjs/test/integration/predicate.test.ts
  templates/nextjs/test/integration/script.test.ts
  templates/nextjs/test/ui/test-ui.sh
  templates/nextjs/test/ui/ui.test.ts
  templates/nextjs/vitest.config.mts
  templates/vite/.gitignore
  templates/vite/gitignore
  templates/vite/package.json
  templates/vite/playwright.config.ts
  templates/vite/test/integration/contract.test.ts
  templates/vite/test/integration/predicate.test.ts
  templates/vite/test/integration/script.test.ts
  templates/vite/test/ui/test-ui.sh
  templates/vite/test/ui/ui.test.ts
  templates/vite/vitest.config.mts
Labels: feat

#3151 chore: increase timeout for upgrade/upload tx types test
  .changeset/wild-bulldogs-cheer.md
  packages/fuel-gauge/src/transaction-upgrade.test.ts
Labels: chore

#3152 chore: Include Ethereum asset in ETH Mainnet network
  .changeset/mighty-otters-shop.md
  packages/account/src/providers/assets/assets.ts
  packages/account/src/providers/chains.ts
Labels: chore

#3137 feat: sway type matchers
  packages/abi/src/matchers/sway-type-matchers.test.ts
  packages/abi/src/matchers/sway-type-matchers.ts
Labels: feat

#3084 ci: add initial benchmark infrastructure
  .changeset/dirty-steaks-exercise.md
  .github/workflows/bench.yml
  .gitignore
  .knip.json
  CONTRIBUTING.md
  internal/benchmarks/.gitignore
  internal/benchmarks/README.md
  internal/benchmarks/fuels.config.ts
  internal/benchmarks/package.json
  internal/benchmarks/src/contract-interaction.bench.ts
  internal/benchmarks/src/cost-estimation.bench.ts
  internal/benchmarks/src/crypto.bench.ts
  internal/benchmarks/src/transaction-results.bench.ts
  internal/benchmarks/src/wallet.bench.ts
  internal/benchmarks/test/fixtures/forc-projects/Forc.toml
  internal/benchmarks/test/fixtures/forc-projects/call-test-contract/Forc.toml
  internal/benchmarks/test/fixtures/forc-projects/call-test-contract/src/main.sw
  internal/benchmarks/test/fixtures/forc-projects/counter-contract/Forc.toml
  internal/benchmarks/test/fixtures/forc-projects/counter-contract/src/main.sw
  internal/benchmarks/tsconfig.json
  internal/benchmarks/tsdoc.json
  package.json
  pnpm-lock.yaml
  vitest.shared.config.mts
Labels: feat, chore

#3160 chore: made `selectNetwork` arguments more flexible
  .changeset/tidy-deers-juggle.md
  apps/docs/src/guide/wallets/connectors.md
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: chore

#3163 chore: added start of line to ABI regex matchers
  packages/abi/src/matchers/sway-type-matchers.ts
Labels: chore

#3164 chore: ABI parser - API alterations
  packages/abi/src/coder/abi-coder.ts
  packages/abi/src/gen/abi-gen.ts
  packages/abi/src/parser/abi-parser.ts
  packages/abi/src/parser/abi.ts
  packages/abi/src/parser/index.ts
  packages/abi/src/parser/specifications/index.ts
  packages/abi/src/parser/specifications/v1/abi-specification-v1.ts
  packages/abi/src/parser/specifications/v1/abi-v1.ts
  packages/abi/src/parser/specifications/v1/make-resolved-type.ts
  packages/abi/src/parser/specifications/v1/parser.ts
  packages/abi/src/parser/specifications/v1/resolvable-type.ts
  packages/abi/src/parser/specifications/v1/resolved-type.ts
  packages/abi/src/parser/specifications/v1/specification.ts
Labels: chore

#3165 chore: downgrade ora from `8.1.0` to `5.4.1`
  .changeset/breezy-drinks-reply.md
  packages/create-fuels/package.json
  pnpm-lock.yaml
Labels: chore

#3153 chore: add new supported assets
  .changeset/tasty-ads-shout.md
  packages/account/src/providers/assets/assets.test.ts
  packages/account/src/providers/assets/assets.ts
  packages/account/src/providers/assets/images/Re7LRT.png
  packages/account/src/providers/assets/images/SolvBTC.BBN.png
  packages/account/src/providers/assets/images/USDe.svg
  packages/account/src/providers/assets/images/amphrETH.png
  packages/account/src/providers/assets/images/ezeth.webp
  packages/account/src/providers/assets/images/fbtc.svg
  packages/account/src/providers/assets/images/manta-mbtc.svg
  packages/account/src/providers/assets/images/manta-meth.svg
  packages/account/src/providers/assets/images/manta-musd.svg
  packages/account/src/providers/assets/images/mantle-meth.svg
  packages/account/src/providers/assets/images/pumpbtc.webp
  packages/account/src/providers/assets/images/pzETH.webp
  packages/account/src/providers/assets/images/reth.svg
  packages/account/src/providers/assets/images/rsETH.webp
  packages/account/src/providers/assets/images/rsUSDe.svg
  packages/account/src/providers/assets/images/rstETH.webp
  packages/account/src/providers/assets/images/sUSDe.webp
  packages/account/src/providers/assets/images/sdai.svg
  packages/account/src/providers/assets/images/solvBTC.webp
  packages/account/src/providers/assets/images/steakLRT.png
  packages/account/src/providers/assets/images/usdc.svg
  packages/account/src/providers/assets/images/usdt.svg
  packages/account/src/providers/assets/images/wbeth.png
  packages/account/src/providers/assets/images/weETH.webp
  packages/account/src/providers/assets/images/weth.svg
  packages/account/src/providers/assets/images/wsteth.svg
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore

#3170 chore: separate minor and major versions
  .github/dependabot.yml
Labels: chore

#3108 chore: inform users if their `fuels` version is outdated
  .changeset/eleven-jeans-matter.md
  packages/fuels/src/cli/utils/checkForAndDisplayUpdates.test.ts
  packages/fuels/src/cli/utils/checkForAndDisplayUpdates.ts
  packages/fuels/src/run.ts
  packages/versions/src/index.ts
Labels: chore

#3167 fix: removed sepolia assets and adjust decimal config
  .changeset/cool-vans-attend.md
  packages/account/src/providers/assets/assets.ts
Labels: bug

#3156 fix: add missing receipts properties
  .changeset/three-hairs-approve.md
  packages/account/src/providers/transaction-summary/operations.test.ts
  packages/account/src/providers/transaction-summary/receipt.ts
  packages/account/src/providers/utils/receipts.test.ts
  packages/account/src/providers/utils/receipts.ts
  packages/account/test/fixtures/transaction-summary.ts
  packages/transactions/src/coders/receipt.test.ts
  packages/transactions/src/coders/receipt.ts
Labels: bug

#3172 feat: port new styles to `next` template
  pnpm-lock.yaml
  templates/nextjs/.env.example
  templates/nextjs/fuels.config.ts
  templates/nextjs/package.json
  templates/nextjs/public/close.svg
  templates/nextjs/public/copy.svg
  templates/nextjs/public/hamburger.svg
  templates/nextjs/public/logo_white.png
  templates/nextjs/src/app/faucet/page.tsx
  templates/nextjs/src/app/layout.tsx
  templates/nextjs/src/app/page.tsx
  templates/nextjs/src/app/predicate/page.tsx
  templates/nextjs/src/app/script/page.tsx
  templates/nextjs/src/components/Button.tsx
  templates/nextjs/src/components/Contract.tsx
  templates/nextjs/src/components/Faucet.tsx
  templates/nextjs/src/components/FuelLogo.tsx
  templates/nextjs/src/components/Info.tsx
  templates/nextjs/src/components/Input.tsx
  templates/nextjs/src/components/Layout.tsx
  templates/nextjs/src/components/LocalFaucet.tsx
  templates/nextjs/src/components/Navbar.tsx
  templates/nextjs/src/components/Predicate.tsx
  templates/nextjs/src/components/Script.tsx
  templates/nextjs/src/components/Wallet.tsx
  templates/nextjs/src/components/WalletDisplay.tsx
  templates/nextjs/src/hooks/useActiveWallet.tsx
  templates/nextjs/src/hooks/useBrowserWallet.tsx
  templates/nextjs/src/hooks/useBurnerWallet.tsx
  templates/nextjs/src/hooks/useFaucet.tsx
  templates/nextjs/src/hooks/useRouter.ts
  templates/nextjs/src/lib.ts
  templates/nextjs/src/styles/globals.css
  templates/nextjs/src/sway-api/contract-ids.json
  templates/nextjs/tailwind.config.ts
  templates/vite/fuels.config.ts
Labels: feat

#3182 chore: upgraded to fuel-core 0.36.0
  .changeset/four-students-join.md
  internal/fuel-core/VERSION
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/provider.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
  templates/vite/sway-programs/fuel-toolchain.toml
Labels: chore

#3183 fix: `create fuels` not respecting toolchain file
  .changeset/polite-pugs-sing.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  packages/create-fuels/test/cli.test.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: bug

#3187 chore: upgrade to forc `0.63.6`
  .changeset/brown-forks-fly.md
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/test/fixtures/abi/encode-and-decode.jsonc
  internal/forc/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3016 feat: support message types
  .changeset/lovely-rivers-impress.md
  packages/abi-coder/src/types/JsonAbiNew.ts
  packages/abi-coder/test/fixtures/forc-projects/exhaustive-examples/src/main.sw
  packages/abi-typegen/src/types/interfaces/JsonAbiNew.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/smo-contract/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/smo-contract/src/main.sw
Labels: bug, feat

#3189 docs: added assets guide
  .changeset/serious-carrots-nail.md
  apps/docs-snippets/src/guide/utilities/using-assets.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/utilities/using-assets.md
Labels: docs

#3193 chore: adjust logger tests
  .changeset/fair-walls-smile.md
  packages/logger/test/index.test.ts
Labels: chore

#3201 feat: add flag to indicate if connector is external
  .changeset/small-readers-hug.md
  apps/docs/src/guide/wallets/connectors.md
  packages/account/src/connectors/fuel-connector.ts
Labels: feat

#3175 fix: generate types for `create fuels` users when extracted
  .changeset/spotty-worms-float.md
  packages/create-fuels/src/cli.ts
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/test/utils/mockExecSync.ts
  templates/nextjs/.gitignore
  templates/nextjs/gitignore
  templates/vite/.gitignore
  templates/vite/gitignore
Labels: bug

#3211 ci: temporarily disable benchmark workflow
  .github/workflows/bench.yml
Labels: chore

#3190 feat: adding support for proxy contracts in `fuels deploy`
  .changeset/friendly-turkeys-work.md
  .eslintignore
  .prettierignore
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/contracts/proxy-contracts.md
  apps/docs/src/guide/fuels-cli/commands.md
  packages/fuels/package.json
  packages/fuels/scripts/build-proxy-contract.ts
  packages/fuels/src/cli.ts
  packages/fuels/src/cli/commands/build/buildSwayPrograms.test.ts
  packages/fuels/src/cli/commands/deploy/deployContract.ts
  packages/fuels/src/cli/commands/deploy/index.ts
  packages/fuels/src/cli/commands/deploy/proxy/.gitignore
  packages/fuels/src/cli/commands/deploy/proxy/README.md
  packages/fuels/src/cli/commands/deploy/proxy/contract/src14_owned_proxy-abi.json
  packages/fuels/src/cli/commands/deploy/proxy/contract/src14_owned_proxy-storage_slots.json
  packages/fuels/src/cli/commands/deploy/proxy/contract/src14_owned_proxy.bin
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxy.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxyFactory.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/common.d.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/index.ts
  packages/fuels/src/cli/config/forcUtils.test.ts
  packages/fuels/src/cli/config/forcUtils.ts
  packages/fuels/src/cli/config/loadConfig.test.ts
  packages/fuels/test/features/deploy.test.ts
  packages/fuels/test/fixtures/fuels.config.ts
  packages/fuels/test/fixtures/workspace/Forc.toml
  packages/fuels/test/fixtures/workspace/contracts/upgradable-chunked/Forc.toml
  packages/fuels/test/fixtures/workspace/contracts/upgradable-chunked/src/main.sw
  packages/fuels/test/fixtures/workspace/contracts/upgradable/Forc.toml
  packages/fuels/test/fixtures/workspace/contracts/upgradable/src/main.sw
  packages/fuels/test/utils/runCommands.ts
  packages/fuels/tsconfig.json
Labels: feat

#3215 chore: upgrade `forc@0.64.0`
  .changeset/smart-worms-design.md
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/test/fixtures/abi/encode-and-decode.jsonc
  internal/forc/VERSION
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/main.hbs
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3210 chore: fix deprecation on Commander method
  .changeset/cuddly-peas-trade.md
  packages/create-fuels/src/lib/setupProgram.ts
Labels: chore

#3216 chore: fix exported types
  .changeset/lucky-trainers-rest.md
  internal/tsup/package.json
  internal/utils/package.json
  packages/abi-coder/package.json
  packages/abi-typegen/package.json
  packages/account/package.json
  packages/address/package.json
  packages/contract/package.json
  packages/crypto/package.json
  packages/errors/package.json
  packages/hasher/package.json
  packages/interfaces/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/merkle/package.json
  packages/program/package.json
  packages/script/package.json
  packages/transactions/package.json
  packages/utils/package.json
  packages/versions/package.json
Labels: chore

#3214 chore: upgrading `@fuels/vm-asm` to `0.57.1`
  .changeset/poor-mice-allow.md
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  packages/account/package.json
  packages/contract/package.json
  packages/program/package.json
  pnpm-lock.yaml
Labels: chore

#3217 fix: calling `prebuild` only if deps are installed
  .changeset/funny-chairs-appear.md
  packages/create-fuels/src/cli.ts
Labels: bug

#3220 chore: link PRs with Linear issues
  .github/workflows/linear-pr-integration.yaml
Labels: chore

#3219 fix: reduce flakiness by favoring port `0` over `portfinder` dependency
  .changeset/odd-starfishes-flash.md
  packages/account/package.json
  packages/account/src/test-utils/launchNode.ts
  pnpm-lock.yaml
Labels: bug

#3221 chore: regenerate proxy artifacts during release
  .changeset/popular-bikes-allow.md
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxy.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/Src14OwnedProxyFactory.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/common.d.ts
  packages/fuels/src/cli/commands/deploy/proxy/types/index.ts
  scripts/changeset/changeset-version-with-docs.ts
Labels: bug, chore

#3218 docs: improve contract muticall page
  apps/docs-snippets/src/guide/contracts/multicalls.test.ts
  apps/docs/src/guide/contracts/multi-contract-calls.md
Labels: docs

#3222 chore: make `build:schema` script self-sufficient
  .changeset/serious-crabs-begin.md
  .knip.json
  packages/account/package.json
  packages/account/scripts/generate-fuel-core-schema.mts
  packages/account/test/fuel-core-schema.test.ts
Labels: chore
