Repository FuelLabs/fuels-ts, pull requests merged in 2024-04, with the labels that each got.

#1985 fix: patching old releases
  .github/workflows/pr-lint.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
  scripts/changeset/changeset-publish.ts
  scripts/changeset/get-latest-release.mts
  scripts/changeset/update-changelog.mts
Labels: chore

#1997 fix: missing environment variable and changelog not showing
  .github/workflows/release.yaml
  scripts/changeset/update-changelog.mts
Labels: bug

#1998 docs: updated abi-typegen to typegen for links
  .changeset/silver-phones-walk.md
  README.md
  apps/docs/src/guide/fuels/commands.md
  packages/abi-typegen/README.md
Labels: docs, chore

#2003 chore: increasing e2e workflow timeout
  .github/workflows/test.yaml
Labels: chore

#2009 chore: show address in e2e test warning
  .changeset/nice-islands-dress.md
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore

#2002 chore: remove redundant error codes
  .changeset/slow-dancers-relax.md
  packages/abi-coder/src/Interface.ts
  packages/contract/src/contract-factory.ts
  packages/contract/src/util.ts
  packages/errors/README.md
  packages/errors/src/error-codes.ts
  packages/errors/src/fuel-error.test.ts
Labels: chore

#1895 chore!: enhance TX error handling and message formatting
  .changeset/popular-hairs-report.md
  apps/docs-snippets/src/guide/errors/debugging-revert-errors.test.ts
  internal/check-imports/src/references.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/utils/extract-tx-error.ts
  packages/account/src/providers/utils/index.ts
  packages/errors/src/fuel-error.test.ts
  packages/errors/src/fuel-error.ts
  packages/errors/src/test-utils/expect-to-throw-fuel-error.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/call-test-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/revert-error/src/main.sw
  packages/fuels/src/index.test.ts
  packages/fuels/src/index.ts
  packages/program/package.json
  packages/program/src/configs.ts
  packages/program/src/contract-call-script.ts
  packages/program/src/errors.ts
  packages/program/src/index.ts
  packages/program/src/revert/revert-error-codes.ts
  packages/program/src/revert/revert-error.ts
  packages/program/src/script-request.ts
  packages/program/src/utils.ts
  packages/program/tsup.config.ts
  packages/transactions/src/configs.ts
Labels: chore, mainnet

#2011 feat: hide unnecessary logs and add loading spinners for `create-fuels`
  .changeset/light-grapes-wait.md
  apps/docs/src/guide/introduction/quickstart.md
  packages/create-fuels/package.json
  packages/create-fuels/src/cli.ts
  pnpm-lock.yaml
Labels: feat

#2019 fix: remove unused dependency `fuels` from the `create-fuels` package
  .changeset/heavy-spiders-hammer.md
  packages/create-fuels/package.json
  pnpm-lock.yaml
Labels: bug

#2020 docs: create-fuels docs links, and add link to source code for the quickstart guide
  .changeset/config.json
  .changeset/few-bees-chew.md
  apps/create-fuels-counter-guide/README.md
  apps/create-fuels-counter-guide/src/pages/index.tsx
  apps/docs/src/guide/introduction/creating-a-fuel-dapp.md
  templates/nextjs/README.md
  templates/nextjs/src/pages/index.tsx
Labels: docs

#2022 docs: add docs for pre-staging predicate transactions
  .changeset/healthy-eyes-think.md
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
Labels: docs

#2014 fix: user resolvable errors no longer cause the cli to exit
  .changeset/sour-books-flow.md
  packages/create-fuels/src/cli.ts
  packages/create-fuels/test/cli.test.ts
Labels: bug, chore

#2018 feat: accept `Uint8Array`s as inputs for `Vec`s, add docs for bytecode inputs
  .changeset/heavy-elephants-wave.md
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/bytecode-input/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/bytecode-input/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs/src/guide/types/vectors.md
  packages/abi-coder/src/encoding/coders/v0/VecCoder.test.ts
  packages/abi-coder/src/encoding/coders/v0/VecCoder.ts
  packages/abi-coder/src/utils/utilities.ts
  packages/fuel-gauge/src/bytecode-sway-lib.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/.gitignore
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/src/main.sw
  packages/fuel-gauge/test/fixtures/index.ts
Labels: feat

#2008 feat: add `isReadOnly` helper for functions
  .changeset/flat-peaches-invite.md
  apps/docs-snippets/src/guide/contracts/is-function-readonly.test.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/contracts/methods.md
  packages/abi-coder/src/FunctionFragment.ts
  packages/fuel-gauge/src/is-function-readonly.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/storage-test-contract/src/main.sw
  packages/program/src/contract.ts
  packages/program/src/types.ts
Labels: feat

#2040 feat!: deprecate multiple encoding version support for configurable constants
  .changeset/brave-rice-march.md
  packages/abi-coder/src/Interface.ts
  packages/fuel-gauge/src/experimental-contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects-experimental/contract-echo/src/main.sw
Labels: feat, mainnet

#1979 docs: add a GraphQL integration section
  .changeset/stale-boxes-run.md
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/tooling/graphql-integration.md
Labels: docs

#2034 fix!: fee estimation for multicall
  .changeset/shy-apricots-suffer.md
  packages/abi-coder/src/index.ts
  packages/abi-coder/src/utils/constants.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/input.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
Labels: bug

#2030 docs: add `create-fuels` CLI docs under tooling
  .changeset/two-crabs-switch.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cli/npm-create-fuels.md
  apps/docs/src/guide/npm-create-fuels/index.md
  apps/docs/src/guide/npm-create-fuels/options.md
Labels: docs

#2051 fix: properly load env vars in `create-fuels` template, and add docs for fuels CLI
  .changeset/tender-lamps-compete.md
  apps/create-fuels-counter-guide/fuels.config.ts
  apps/create-fuels-counter-guide/package.json
  apps/docs/src/guide/fuels/config-file.md
  package.json
  packages/fuels/package.json
  pnpm-lock.yaml
  templates/nextjs/fuels.config.ts
  templates/nextjs/package.json
Labels: bug

#1961 docs: add essentials section for Transactions
  .changeset/late-books-juggle.md
  apps/docs-snippets/package.json
  apps/docs-snippets/src/guide/contracts/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-parameters.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-policies.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-response.test.ts
  apps/docs-snippets/src/guide/transactions/transactions.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/contracts/call-parameters.md
  apps/docs/src/guide/contracts/transaction-parameters.md
  apps/docs/src/guide/essentials/index.md
  apps/docs/src/guide/scripts/custom-script-call.md
  apps/docs/src/guide/transactions/index.md
  apps/docs/src/guide/transactions/transaction-parameters.md
  apps/docs/src/guide/transactions/transaction-policies.md
  apps/docs/src/guide/transactions/transaction-request.md
  apps/docs/src/guide/transactions/transaction-response.md
  packages/program/src/types.ts
  pnpm-lock.yaml
Labels: docs

#2058 ci: add PR title length validation
  .changeset/shiny-drinks-impress.md
  .github/workflows/pr-lint.yaml
Labels: chore

#2038 fix: run prettier in `apps/docs-snippets`
  .changeset/warm-spiders-rule.md
  apps/docs-snippets/src/guide/introduction/getting-started.test.ts
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-policies.test.ts
  apps/docs-snippets/src/guide/utilities/unit-conversion.test.ts
  package.json
Labels: chore

#2066 chore: add test for reentrant contract call
  .changeset/eight-donuts-crash.md
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/reentrant-bar/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/reentrant-bar/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/reentrant-foo/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/reentrant-foo/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/reentrant-foobar-abi/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/reentrant-foobar-abi/src/main.sw
  packages/fuel-gauge/test/fixtures/index.ts
Labels: chore

#2026 chore: add initial `depcheck` using knip
  .changeset/lucky-cups-play.md
  .github/workflows/pr-lint.yaml
  .knip.json
  apps/create-fuels-counter-guide/src/pages/index.tsx
  apps/demo-react-cra/package.json
  apps/demo-typegen/package.json
  package.json
  packages/abi-coder/package.json
  packages/abi-coder/test/Interface.test.ts
  packages/account/package.json
  packages/address/package.json
  packages/contract/package.json
  packages/fuels/package.json
  packages/hasher/package.json
  packages/merkle/package.json
  packages/program/package.json
  packages/script/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  tsdoc.base.json
Labels: chore

#2071 feat: generalize subscription event parsing
  .changeset/old-buses-pump.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/provider.test.ts
Labels: feat

#2062 chore: configuring dependabot
  .github/dependabot.yml
Labels: chore

#2079 fix: `MemoryCache` flaky tests
  .changeset/slow-mails-sit.md
  packages/account/src/providers/memory-cache.test.ts
Labels: chore

#2100 fix: improper update of `getBuiltinVersions`
  scripts/changeset/changeset-version-with-docs.ts
Labels: bug

#2082 docs: support multiple entry points for `typedoc`
  .changeset/ten-horses-double.md
  apps/docs/scripts/typedoc-postbuild.ts
  apps/docs/typedoc.json
  packages/utils/typedoc.json
Labels: docs

#2106 chore: use `.env` variables in tests
  .changeset/lucky-ligers-enjoy.md
  .env.example
  CONTRIBUTING.md
  vite.base.config.mts
Labels: chore

#2102 ci: add dependabot changeset management
  .github/dependabot.yml
  .github/workflows/dependabot-changeset.yaml
  .github/workflows/pr-lint.yaml
  package.json
  scripts/changeset/dependabot-changeset.sh
Labels: chore, dependencies

#2118 chore: disabling PR auto-release
  .github/workflows/pr-release.yaml
Labels: chore

#2121 chore: upgrade reentrant test to `forc@0.53.0`
  .changeset/friendly-peaches-change.md
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
Labels: chore

#2052 feat: make `create-fuels` deployment ready
  .changeset/weak-shoes-cheer.md
  apps/create-fuels-counter-guide/.env.example
  apps/create-fuels-counter-guide/.gitignore
  apps/create-fuels-counter-guide/fuels.config.ts
  apps/create-fuels-counter-guide/package.json
  apps/create-fuels-counter-guide/src/components/Layout.tsx
  apps/create-fuels-counter-guide/src/lib.ts
  apps/create-fuels-counter-guide/src/pages/index.tsx
  apps/create-fuels-counter-guide/src/sway-api/contract-ids.json
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/creating-a-fuel-dapp.md
  apps/docs/src/getting-started.md
  apps/docs/src/guide/npm-create-fuels/deploying-a-dapp-to-testnet.md
  packages/create-fuels/scripts/rewriteTemplatePackageJson.ts
  packages/create-fuels/src/cli.ts
  templates/nextjs/.env.example
  templates/nextjs/.gitignore
  templates/nextjs/CHANGELOG.md
  templates/nextjs/fuels.config.ts
  templates/nextjs/gitignore
  templates/nextjs/package.json
  templates/nextjs/src/components/Layout.tsx
  templates/nextjs/src/lib.ts
  templates/nextjs/src/pages/index.tsx
  templates/nextjs/src/sway-api/contract-ids.json
Labels: docs, feat

#2125 build: upgrade `pnpm` version
  .changeset/sharp-pillows-film.md
  .github/actions/ci-setup/action.yaml
  .github/actions/test-setup/action.yaml
  .github/workflows/breaking-change-pr-release.yaml
  package.json
Labels: chore

#2146 feat: exclusive enum type inference in typegen
  .changeset/soft-taxis-sell.md
  packages/abi-typegen/src/templates/common/common.hbs
Labels: feat

#2122 feat: support `()` type in typegen
  .changeset/polite-rabbits-care.md
  packages/abi-typegen/src/abi/functions/Function.ts
  packages/abi-typegen/src/abi/types/EmptyType.test.ts
  packages/abi-typegen/src/abi/types/EmptyType.ts
  packages/abi-typegen/src/abi/types/EnumType.test.ts
  packages/abi-typegen/src/abi/types/EnumType.ts
  packages/abi-typegen/src/abi/types/OptionType.test.ts
  packages/abi-typegen/src/utils/parseTypeArguments.test.ts
  packages/abi-typegen/src/utils/parseTypeArguments.ts
  packages/abi-typegen/src/utils/shouldSkipAbiType.ts
  packages/abi-typegen/src/utils/shouldSkipType.test.ts
  packages/abi-typegen/src/utils/supportedTypes.test.ts
  packages/abi-typegen/src/utils/supportedTypes.ts
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/call-test-contract/src/main.sw
Labels: feat

#2155 build: update deps
  .changeset/beige-trainers-bathe.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-nextjs/package.json
  apps/demo-react-vite/package.json
  apps/demo-wallet-sdk-react/package.json
  apps/docs-snippets/package.json
  apps/docs/package.json
  package.json
  packages/account/package.json
  packages/account/src/providers/utils/auto-retry-fetch.test.ts
  packages/fuels/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  vite.browser.config.mts
Labels: chore

#2154 docs: improve wallet docs
  .changeset/weak-garlics-accept.md
  apps/docs-snippets/src/guide/wallets/instantiating-wallets.test.ts
  apps/docs-snippets/src/guide/wallets/signing.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/wallets/connectors.md
  apps/docs/src/guide/wallets/index.md
  apps/docs/src/guide/wallets/instantiating-wallets.md
  apps/docs/src/guide/wallets/locking-and-unlocking.md
  apps/docs/src/guide/wallets/signing-transactions.md
  apps/docs/src/guide/wallets/signing.md
Labels: docs

#2045 chore!: upgrading `forc` to `0.55.0`
  .changeset/ninety-hotels-impress.md
  .github/actions/test-setup/action.yaml
  apps/docs-snippets/src/guide/contracts/contract-balance.test.ts
  apps/docs-snippets/src/guide/contracts/variable-outputs.test.ts
  apps/docs-snippets/src/guide/cookbook/deposit-and-withdraw.test.ts
  apps/docs-snippets/src/guide/scripts/script-custom-transaction.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/src/guide/types/asset-id.test.ts
  apps/docs-snippets/src/guide/types/contract-types.test.ts
  apps/docs-snippets/src/guide/types/evm-address.test.ts
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/bytecode-input/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/bytecode-input/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/echo-asset-id/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/predicate-signing/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/script-signing/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/token-depositor/src/main.sw
  apps/docs/src/guide/types/vectors.md
  packages/abi-typegen/src/templates/contract/bytecode.test.ts
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/address/src/address.test.ts
  packages/address/src/address.ts
  packages/forc/VERSION
  packages/forc/VERSION_EXPERIMENTAL
  packages/fuel-gauge/package.json
  packages/fuel-gauge/scripts/build-forc-experimental.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/fuel-gauge/src/bytecode-sway-lib.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/multi-token-contract.test.ts
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/script-with-vectors.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/call-test-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-triple-sig/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/revert-error/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-vector/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_abi/src/main.sw
  packages/interfaces/src/index.ts
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore, mainnet

#2050 feat!: enabling v1 encoding for everything
  .changeset/calm-mails-wash.md
  apps/demo-typegen/package.json
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/package.json
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/errors/debugging-revert-errors.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/errors/debugging-revert-errors.md
  packages/abi-coder/package.json
  packages/abi-coder/src/encoding/coders/v1/VecCoder.ts
  packages/abi-coder/test/Interface.test.ts
  packages/abi-coder/test/fixtures/forc-projects/exhaustive-examples/src/main.sw
  packages/abi-coder/test/utils/constants.ts
  packages/abi-typegen/package.json
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script/factory.hbs
  packages/fuel-gauge/package.json
  packages/fuel-gauge/src/bytes.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/e2e-script.test.ts
  packages/fuel-gauge/src/experimental-contract.test.ts
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/src/script-with-configurable.test.ts
  packages/fuel-gauge/src/script-with-vectors.test.ts
  packages/fuel-gauge/src/std-lib-string.test.ts
  packages/fuel-gauge/src/vector-types.test.ts
  packages/fuel-gauge/src/vectors.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects-experimental/contract-echo/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-bytes/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-std-lib-string/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-vector/src/main.sw
  packages/program/src/contract-call-script.ts
  packages/program/src/functions/invocation-results.ts
  packages/program/src/functions/multicall-scope.ts
  packages/script/package.json
  packages/utils/package.json
Labels: feat, mainnet

#2167 build: create changeset PR only if version will be updated
  .github/workflows/release.yaml
Labels: bug

#2176 chore: disable release to NPM
  .changeset/polite-buckets-sneeze.md
  .github/workflows/pr-release.yaml
Labels: chore

#2180 chore!: upgrade `forc` to `0.56.0`
  .changeset/chatty-teachers-ring.md
  README.md
  apps/demo-typegen/package.json
  apps/docs-snippets/package.json
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/script-transfer-to-contract/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/token/src/main.sw
  apps/docs-snippets/test/fixtures/forc-projects/transfer-to-address/src/main.sw
  packages/abi-coder/package.json
  packages/abi-typegen/README.md
  packages/abi-typegen/package.json
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/account/src/providers/README.md
  packages/forc/VERSION
  packages/fuel-gauge/package.json
  packages/fuel-gauge/scripts/process-predicates.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/multi-token-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-input-data/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/revert-error/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token_contract/src/main.sw
  packages/script/package.json
  packages/utils/package.json
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#2182 chore: ajusting some tests
  .changeset/short-apes-drum.md
  apps/demo-typegen/src/demo.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/src/guide/transactions/transactions.test.ts
  apps/docs-snippets/src/guide/wallets/checking-balances.test.ts
  apps/docs-snippets/src/guide/wallets/test-wallets.test.ts
  apps/docs-snippets/src/guide/wallets/wallet-transferring.test.ts
  packages/account/README.md
  packages/account/src/account.test.ts
  packages/account/src/test-utils/launchNode.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/bytes.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-evaluations.test.ts
  packages/fuel-gauge/src/predicate/predicate-invalidations.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/assertBalances.ts
  packages/fuel-gauge/src/raw-slice.test.ts
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/std-lib-string.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/src/vector-types.test.ts
  scripts/run-node.sh
Labels: chore

#2183 fix: changeset content error message
  .github/workflows/pr-lint.yaml
Labels: bug

#2115 ci: setup codeql.yml
  .github/workflows/codeql.yml
Labels: chore, mainnet

#2174 feat: add `getMessageByNonce` to `Provider`
  .changeset/blue-plants-mate.md
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs/src/guide/provider/querying-the-chain.md
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/utils/src/utils/defaultSnapshots/stateConfig.json
  scripts/run-node.sh
Labels: feat

#2197 chore: fix CI e2e test
  .changeset/kind-roses-trade.md
  .github/workflows/test.yaml
Labels: chore

#2194 docs: updated inconsistent `@fuel-ts/account` README
  .changeset/clever-years-invent.md
  packages/account/README.md
Labels: docs, chore

#2152 fix!: deprecate getNetwork from `account`
  .changeset/gentle-olives-search.md
  packages/account/src/providers/provider.ts
Labels: chore

#2177 build: skip publish to `@next` tag on missing or empty changeset
  .github/workflows/release.yaml
Labels: chore

#2128 fix: throw proper error for not enough resources to cover fee
  .changeset/twenty-geckos-check.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/resource.ts
  packages/account/src/providers/transaction-request/helpers.test.ts
  packages/account/src/providers/transaction-request/helpers.ts
  packages/account/src/providers/transaction-request/utils.ts
  packages/account/src/test-utils/resources.ts
  packages/account/src/test-utils/transactionRequest.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
Labels: bug, mainnet
