Repository FuelLabs/fuels-ts, pull requests merged in 2024-05, with the labels that each got.

#2211 docs: add notice about `forc deploy` in `fuels deploy` docs
  .changeset/rude-ants-thank.md
  apps/docs/src/guide/fuels-cli/commands.md
Labels: docs

#2206 fix: handling optional policies
  .changeset/neat-ladybugs-matter.md
  .fuel-core/configs/stateConfig.json
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  packages/account/src/account.test.ts
  packages/account/src/providers/transaction-request/transaction-request.test.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/providers/utils/gas.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: bug, mainnet

#2158 build: update deps
  .changeset/beige-trainers-bathe.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-nextjs/package.json
  apps/demo-react-vite/package.json
  apps/demo-wallet-sdk-react/package.json
  apps/docs/package.json
  package.json
  packages/account/package.json
  packages/account/src/providers/utils/auto-retry-fetch.test.ts
  packages/fuels/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  vite.browser.config.mts
Labels: chore

#2217 chore!: upgrade `fuel-core` to `0.26.0`
  .changeset/cool-deers-fetch.md
  .fuel-core/configs/chainConfig.json
  .fuel-core/configs/state_transition_bytecode.wasm
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  packages/account/codegen.json
  packages/account/package.json
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/message.ts
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/script-transaction-request.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.test.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.ts
  packages/account/src/providers/transaction-summary/calculate-tx-fee-for-summary.ts
  packages/account/src/providers/transaction-summary/calculate-tx-fee-for-summary.ts.test.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/providers/transaction-summary/index.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/account/src/providers/transaction-summary/status.ts
  packages/account/src/providers/transaction-summary/types.ts
  packages/account/src/providers/utils/gas.ts
  packages/account/src/test-utils/launchNode.ts
  packages/account/src/test-utils/launchNodeAndGetWallets.test.ts
  packages/account/test/fixtures/chain.ts
  packages/account/test/fixtures/messageProof.ts
  packages/account/test/fixtures/transaction-summary.ts
  packages/fuel-core/VERSION
  packages/fuel-gauge/src/contract-factory.test.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuels/test/fixtures/project/.fuels/chainConfig.json
  packages/program/package.json
  packages/program/src/functions/base-invocation-scope.ts
  packages/script/src/script-invocation-scope.ts
  packages/transactions/src/coders/transaction.test.ts
  packages/transactions/src/coders/transaction.ts
  packages/transactions/src/coders/upgrade-purpose.test.ts
  packages/transactions/src/coders/upgrade-purpose.ts
  packages/utils/src/utils/defaultSnapshots/chainConfig.json
  packages/utils/src/utils/defaultSnapshots/state_transition_bytecode.wasm
  packages/versions/src/lib/getBuiltinVersions.ts
  pnpm-lock.yaml
  scripts/run-node.sh
Labels: chore, mainnet

#2209 chore: warn on fuel client version incompatibility
  .changeset/soft-knives-sit.md
  apps/docs/src/guide/errors/error-codes.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/errors/src/error-codes.ts
Labels: chore

#2199 ci: add workflow to close stale issues
  .changeset/shiny-mugs-explode.md
  .github/workflows/stale.yml
Labels: chore

#2192 docs: update about page
  .changeset/silly-cherries-smoke.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/index.md
Labels: docs

#2131 ci: update dependabot workflow
  .changeset/gold-hornets-sleep.md
  .github/workflows/dependabot-changeset.yaml
  .github/workflows/test.yaml
  scripts/changeset/dependabot-changeset.sh
Labels: chore

#2149 feat: optionally auto-install `fuelup` during `create fuels` routine
  .changeset/unlucky-points-boil.md
  packages/create-fuels/src/cli.ts
  packages/create-fuels/src/lib.ts
Labels: feat

#2247 chore: reduce length of Vitest logged errors
  .changeset/fuzzy-rules-unite.md
  apps/docs-snippets/package.json
  package.json
  pnpm-lock.yaml
  vite.browser.config.mts
Labels: chore

#2251 chore: get commit when changeset was added, not updated
  scripts/changeset/get-full-changelog.mts
Labels: chore

#2254 ci: make e2e test dependant
  .changeset/shaggy-cougars-invent.md
  .github/dependabot.yml
  .github/workflows/test.yaml
Labels: chore

#2166 fix: ensure changeset PR deletes all changesets
  .changeset/famous-olives-shake.md
  .github/workflows/pr-lint.yaml
Labels: bug

#2258 feat: support `Result<T, E>` type in typegen
  .changeset/large-masks-warn.md
  packages/abi-typegen/src/abi/Abi.ts
  packages/abi-typegen/src/abi/types/EnumType.ts
  packages/abi-typegen/src/abi/types/ResultType.test.ts
  packages/abi-typegen/src/abi/types/ResultType.ts
  packages/abi-typegen/src/templates/common/common.hbs
  packages/abi-typegen/src/utils/supportedTypes.test.ts
  packages/abi-typegen/src/utils/supportedTypes.ts
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
Labels: feat

#2241 chore!: remove `__typename` from GraphQL types
  .changeset/serious-hats-explode.md
  packages/account/codegen.json
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/providers/transaction-summary/receipt.ts
  packages/account/src/providers/transaction-summary/types.ts
  packages/account/src/providers/utils/extract-tx-error.ts
  packages/account/src/providers/utils/gas.test.ts
  packages/account/src/providers/utils/gas.ts
  packages/account/src/providers/utils/receipts.ts
  packages/account/test/fixtures/chain.ts
  packages/account/test/fixtures/messageProof.ts
  packages/account/test/fixtures/nodeInfo.ts
  packages/account/test/fixtures/receipts.ts
  packages/account/test/fixtures/transaction-summary.ts
Labels: chore

#2268 fix: flaky `TransactionResponse` test
  .changeset/poor-apes-fly.md
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: bug

#2269 docs: update nightly docs on release
  .github/workflows/release.yaml
Labels: docs

#2267 chore: add tests for updated `Account.fund` logic
  .changeset/few-dolls-clap.md
  packages/fuel-gauge/src/funding-transaction.test.ts
Labels: chore

#2273 fix: use an in memory DB rather than rocks DB for fuels CLI
  .changeset/swift-plants-shave.md
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.ts
Labels: bug

#2274 chore: upgrade `forc@0.56.1`
  .changeset/bright-chefs-train.md
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/forc/VERSION
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#2261 chore: update a changeset from `minor` to `patch`
  .changeset/unlucky-points-boil.md
Labels: chore

#2275 chore: treat minor changes as breaking
  .github/workflows/pr-lint.yaml
Labels: chore

#2262 fix: avoid overriding user `gasLimit` and `maxFee` inputs
  .changeset/hot-vans-battle.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/program/package.json
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/types.ts
  pnpm-lock.yaml
Labels: bug

#2216 fix: do not run release workflow when branch is created
  .github/workflows/release.yaml
Labels: bug

#2285 fix: typo in update nightly docs workflow
  .github/workflows/release.yaml
Labels: bug

#2282 chore: simplify E2E test
  .changeset/spotty-rats-dance.md
  packages/fuel-gauge/src/e2e-script.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-main-arg-bool/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-main-arg-bool/src/main.sw
Labels: chore

#2037 fix!: avoid add witnesses for predicates
  .changeset/lemon-berries-arrive.md
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  packages/account/src/account.ts
  packages/account/src/predicate/predicate.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/helpers.test.ts
  packages/account/src/providers/transaction-request/helpers.ts
  packages/account/src/providers/transaction-request/index.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/providers/transaction-request/utils.ts
  packages/account/src/test-utils/seedTestWallet.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-populate-witness.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-assert-number/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-assert-number/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-assert-value/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-assert-value/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-sum/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-sum/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-validate-transfer/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-validate-transfer/src/main.sw
  packages/fuel-gauge/test/fixtures/index.ts
Labels: bug, mainnet

#2130 fix: internalize `ethers` functionality and remove dependency
  .changeset/grumpy-years-stare.md
  apps/docs/src/guide/errors/error-codes.md
  packages/account/package.json
  packages/account/src/hdwallet/hdwallet.ts
  packages/account/src/mnemonic/mnemonic.ts
  packages/crypto/package.json
  packages/crypto/src/browser/aes-ctr.ts
  packages/crypto/src/browser/hmac.ts
  packages/crypto/src/browser/index.ts
  packages/crypto/src/browser/pbkdf2.ts
  packages/crypto/src/index.browser.ts
  packages/crypto/src/index.ts
  packages/crypto/src/node/aes-ctr.ts
  packages/crypto/src/node/hmac.ts
  packages/crypto/src/node/index.ts
  packages/crypto/src/node/pbkdf2.ts
  packages/crypto/src/shared/index.ts
  packages/crypto/src/shared/ripemd160.test.ts
  packages/crypto/src/shared/ripemd160.ts
  packages/crypto/src/types.ts
  packages/crypto/test/hmac.node.test.ts
  packages/crypto/test/hmac.test.ts
  packages/crypto/test/pbkdf2.node.test.ts
  packages/crypto/test/pbkdf2.test.ts
  packages/errors/src/error-codes.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/utils/arrayify.test.ts
  packages/utils/src/utils/arrayify.ts
  packages/utils/src/utils/base58.test.ts
  packages/utils/src/utils/base58.ts
  packages/utils/src/utils/dataSlice.test.ts
  packages/utils/src/utils/dataSlice.ts
  pnpm-lock.yaml
Labels: chore

#2271 build: ensure whitespace is trimmed for vscode formatting
  .changeset/long-rockets-brush.md
  .eslintrc.js
  .vscode/settings.json
Labels: chore

#2289 feat: `VecCoder@v1` accepts `UInt8Array` as encode input
  .changeset/tame-icons-film.md
  packages/abi-coder/src/encoding/coders/v1/VecCoder.test.ts
  packages/abi-coder/src/encoding/coders/v1/VecCoder.ts
Labels: feat

#2202 docs: split up getting started guide into multiple pages
  .changeset/ninety-pianos-crash.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/getting-started.md
  apps/docs/src/guide/getting-started/connecting-to-a-local-node.md
  apps/docs/src/guide/getting-started/connecting-to-testnet.md
  apps/docs/src/guide/getting-started/further-resources.md
  apps/docs/src/guide/getting-started/index.md
  apps/docs/src/guide/getting-started/installation.md
  apps/docs/src/guide/getting-started/usage.md
  apps/docs/src/guide/provider/index.md
  apps/docs/src/guide/provider/querying-the-chain.md
Labels: docs

#2189 chore: remove `sway-libs` dep from testing fixtures
  .changeset/rotten-bananas-explode.md
  apps/docs-snippets/src/guide/types/vector.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/bytecode-input/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/bytecode-input/src/main.sw
  apps/docs/src/guide/types/vectors.md
  packages/fuel-gauge/src/bytecode-sway-lib.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/bytecode-sway-lib/src/main.sw
Labels: chore

#2295 build: remove dependabot need to report coverage
  .changeset/green-houses-applaud.md
  .github/workflows/test.yaml
Labels: chore

#2296 build: upgrade `turbo` to v1.13.3
  .changeset/curly-schools-obey.md
  package.json
  pnpm-lock.yaml
Labels: chore

#2302 fix: ignore libraries in `fuels` CLI
  .changeset/loud-fans-hunt.md
  packages/fuels/src/cli/config/loadConfig.test.ts
  packages/fuels/src/cli/config/loadConfig.ts
  packages/fuels/test/fixtures/workspace/Forc.toml
  packages/fuels/test/fixtures/workspace/libraries/library/Forc.toml
  packages/fuels/test/fixtures/workspace/libraries/library/src/lib.sw
Labels: bug

#2123 build: infra to use typegen in tests
  .changeset/honest-zoos-cough.md
  .eslintrc.js
  .gitignore
  apps/docs-snippets/fuels.config.ts
  apps/docs-snippets/package.json
  packages/fuel-gauge/fuels.config.ts
  packages/fuel-gauge/package.json
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuel-gauge/src/utils.ts
Labels: chore

#2315 fix: backticks sometimes removed in changelog
  scripts/changeset/get-full-changelog.mts
Labels: bug

#2322 feat!: remove nested option size validation
  .changeset/olive-meals-love.md
  packages/abi-coder/src/encoding/coders/ArrayCoder.ts
  packages/abi-coder/src/encoding/coders/EnumCoder.ts
  packages/abi-coder/src/encoding/coders/StructCoder.ts
  packages/abi-coder/src/encoding/coders/TupleCoder.ts
  packages/abi-coder/src/encoding/coders/VecCoder.ts
  packages/fuel-gauge/src/options.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/options/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/options/src/main.sw
Labels: feat

#2272 chore!: update testnet URLs
  .changeset/dull-mails-learn.md
  .github/workflows/test.yaml
  .textlintrc.json
  CONTRIBUTING.md
  apps/create-fuels-counter-guide/src/lib.ts
  apps/docs-snippets/src/guide/introduction/getting-started.test.ts
  apps/docs-snippets/src/guide/wallets/instantiating-wallets.test.ts
  apps/docs/src/guide/cookbook/graphql-integration.md
  apps/docs/src/guide/cookbook/wallet-sdk-and-react-hooks.md
  apps/docs/src/guide/creating-a-fuel-dapp/deploying-a-dapp-to-testnet.md
  apps/docs/src/guide/getting-started/connecting-to-testnet.md
  apps/docs/src/guide/getting-started/installation.md
  apps/docs/src/guide/getting-started/usage.md
  packages/account/src/configs.test.ts
  packages/account/src/configs.ts
  packages/account/src/providers/assets/utils/network.test.ts
  packages/account/src/providers/assets/utils/network.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/e2e-script.test.ts
  templates/nextjs/src/lib.ts
Labels: chore

#2291 fix: validate status from estimation dry-run
  .changeset/chilled-bats-visit.md
  apps/docs-snippets/src/guide/contracts/call-parameters.test.ts
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/utils/extract-tx-error.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/program/src/script-request.ts
Labels: bug

#2336 feat: disable `option` length validation at `enum Option` level
  .changeset/kind-flowers-chew.md
  packages/abi-coder/src/encoding/coders/EnumCoder.ts
  packages/fuel-gauge/src/options.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/options/src/main.sw
Labels: feat

#2341 fix: use `V1` encode for `Upgrade` and `Upload` transaction coders
  .changeset/neat-cobras-grin.md
  packages/transactions/src/coders/transaction.test.ts
  packages/transactions/src/coders/transaction.ts
Labels: bug, mainnet

#2333 feat!: transfer for multiple addresses
  .changeset/poor-ways-do.md
  apps/docs-snippets/src/guide/contracts/add-transfer.test.ts
  apps/docs-snippets/src/guide/cookbook/custom-transactions-contract-calls.test.ts
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/wallets/wallet-transferring.test.ts
  apps/docs/src/guide/contracts/transferring-assets.md
  apps/docs/src/guide/wallets/wallet-transferring.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: feat

#2359 feat: make `typegen` factories an object instance
  .changeset/giant-worms-flow.md
  packages/abi-typegen/src/templates/contract/factory.hbs
  packages/abi-typegen/src/templates/predicate/factory.hbs
  packages/abi-typegen/src/templates/script/factory.hbs
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script/factory.hbs
Labels: feat

#2354 chore: add e2e test for decode txs
  .changeset/polite-carpets-return.md
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore

#2367 feat: support generic enums in `typegen`
  .changeset/breezy-owls-sing.md
  packages/abi-typegen/src/abi/types/EnumType.ts
  packages/abi-typegen/src/templates/contract/dts.hbs
  packages/abi-typegen/src/templates/utils/formatEnums.test.ts
  packages/abi-typegen/src/templates/utils/formatEnums.ts
  packages/abi-typegen/test/fixtures/forc-projects/full/src/main.sw
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
Labels: feat

#2368 fix: `typegen` generic enums and `./common` import (predicates, scripts)
  .changeset/fast-deers-turn.md
  packages/abi-typegen/src/runTypegen.test.ts
  packages/abi-typegen/src/templates/predicate/factory.hbs
  packages/abi-typegen/src/templates/predicate/factory.ts
  packages/abi-typegen/src/templates/script/factory.hbs
  packages/abi-typegen/src/templates/script/factory.ts
  packages/abi-typegen/test/fixtures/forc-projects/predicate/src/main.sw
  packages/abi-typegen/test/fixtures/forc-projects/script/src/main.sw
  packages/abi-typegen/test/fixtures/templates/predicate/factory.hbs
  packages/abi-typegen/test/fixtures/templates/script/factory.hbs
Labels: bug

#2276 chore: cleanup typedoc for `Account` and `Wallet`
  .changeset/friendly-carpets-work.md
  packages/account/src/account.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/script-transaction-request.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
Labels: chore

#2358 chore: refactor for performance improvements
  .changeset/great-penguins-compete.md
  internal/fuel-core/lib/install.js
  internal/fuel-core/lib/shared.js
  packages/abi-coder/src/ResolvedAbiType.ts
  packages/abi-coder/src/encoding/strategies/getCoderV1.ts
Labels: chore

#2376 feat: add new `node` command to `fuels` CLI
  .changeset/quiet-lobsters-design.md
  README.md
  apps/docs/src/guide/fuels-cli/commands.md
  packages/fuels/src/cli.test.ts
  packages/fuels/src/cli.ts
  packages/fuels/src/cli/commands/node/index.test.ts
  packages/fuels/src/cli/commands/node/index.ts
  packages/fuels/src/cli/types.ts
Labels: feat

#2334 chore: use dev-net chain config for local node
  .changeset/shiny-camels-know.md
  .fuel-core/configs/chainConfig.json
  .fuel-core/configs/stateConfig.json
  apps/docs-snippets/src/guide/contracts/add-transfer.test.ts
  apps/docs-snippets/src/guide/contracts/interacting-with-contracts.test.ts
  apps/docs-snippets/src/guide/cookbook/deposit-and-withdraw.test.ts
  apps/docs-snippets/src/guide/cookbook/signing-transactions.test.ts
  apps/docs-snippets/src/guide/predicates/predicate-with-configurable.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs-snippets/src/guide/provider/provider.test.ts
  apps/docs-snippets/src/guide/provider/querying-the-chain.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-policies.test.ts
  apps/docs-snippets/src/guide/wallets/signing.test.ts
  apps/docs-snippets/src/guide/wallets/test-wallets.test.ts
  apps/docs-snippets/src/guide/wallets/wallet-transferring.test.ts
  apps/docs-snippets/src/utils.ts
  apps/docs-snippets/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  packages/account/src/account.test.ts
  packages/account/src/providers/provider.test.ts
  packages/account/test/fixtures/chain.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-input-data.test.ts
  packages/fuel-gauge/src/predicate/predicate-populate-witness.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/setupWallets.ts
  packages/fuel-gauge/src/reentrant-contract-calls.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/src/utils.ts
  packages/utils/src/utils/defaultSnapshots/chainConfig.json
  packages/utils/src/utils/defaultSnapshots/stateConfig.json
Labels: chore

#2305 build: update CI step for creating changesets + reporting coverage
  .changeset/sixty-swans-study.md
  .github/workflows/pr-lint.yaml
  .github/workflows/pr-validate-changesets.yaml
  .github/workflows/test.yaml
Labels: chore

#2390 ci: fix workflow run for changeset validation on master
  .changeset/hot-pumpkins-applaud.md
  .github/workflows/pr-validate-changesets.yaml
Labels: chore

#2398 chore: exporting `FuelError` class in umbrella package
  .changeset/rotten-tomatoes-draw.md
  packages/fuels/src/index.test.ts
  packages/fuels/src/index.ts
Labels: chore

#2401 chore: upgrade forc 0.60.0
  .changeset/six-bobcats-impress.md
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  internal/forc/VERSION
  packages/abi-typegen/test/fixtures/templates/contract/bytecode.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/factory.hbs
  packages/versions/src/lib/getBuiltinVersions.ts
Labels: chore

#2278 chore: add integration test for the `create fuels` template
  .changeset/great-teachers-yell.md
  .github/workflows/test.yaml
  .gitignore
  package.json
  playwright-tests/create-fuels.test.ts
  playwright.config.ts
  pnpm-lock.yaml
  scripts/create-fuels-template-integration.sh
  templates/nextjs/src/pages/index.tsx
Labels: chore

#2412 feat: improve `arrayify` error message
  .changeset/big-ducks-act.md
  packages/utils/src/utils/arrayify.test.ts
  packages/utils/src/utils/arrayify.ts
Labels: feat

#2413 fix: `enum` size validation
  .changeset/modern-students-poke.md
  .github/workflows/pr-release.yaml
  packages/abi-coder/src/encoding/coders/EnumCoder.ts
  packages/fuel-gauge/src/options.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/options/src/main.sw
Labels: bug

#2383 build: add a ci workflow for automating labels
  .changeset/fresh-plums-love.md
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: chore
