Repository FuelLabs/fuels-ts, pull requests merged in 2024-06, with the labels that each got.

#2210 chore: re-enable connectors, bump dependencies
  .changeset/shiny-trainers-pretend.md
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/nextjs/src/pages/_app.tsx
Labels: blocked, chore

#2430 fix: update testnet URL
  .changeset/nervous-turtles-bow.md
  .github/workflows/test.yaml
  .textlintrc.json
  CONTRIBUTING.md
  apps/create-fuels-counter-guide/src/lib.ts
  apps/docs-snippets/src/guide/wallets/instantiating-wallets.test.ts
  apps/docs/src/guide/cookbook/graphql-integration.md
  apps/docs/src/guide/cookbook/wallet-sdk-and-react-hooks.md
  apps/docs/src/guide/creating-a-fuel-dapp/deploying-a-dapp-to-testnet.md
  apps/docs/src/guide/getting-started/connecting-to-testnet.md
  apps/docs/src/guide/getting-started/usage.md
  packages/account/src/configs.test.ts
  packages/account/src/configs.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/fuel-gauge/src/e2e-script.test.ts
  templates/nextjs/src/lib.ts
Labels: bug

#2450 chore: fix dead links
  .changeset/strong-turtles-learn.md
  apps/docs/src/guide/contracts/variable-outputs.md
  apps/docs/src/guide/wallets/signing.md
Labels: chore

#2351 feat: implement `generateFakeResources` on `Account` class
  .changeset/lazy-readers-flash.md
  apps/docs-snippets/src/guide/cookbook/generate-fake-resources.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/index.ts
  apps/docs-snippets/test/fixtures/forc-projects/return-script/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/return-script/src/main.sw
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/cookbook/generate-fake-resources.md
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/predicate/predicate.ts
  packages/fuel-gauge/src/predicate/predicate-general.test.ts
Labels: feat

#1356 feat!: add `launchTestNode` utility
  .changeset/breezy-carrots-bow.md
  apps/docs-snippets/src/guide/testing/launching-a-test-node.test.ts
  apps/docs-snippets/src/guide/testing/tweaking-the-blockchain.test.ts
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/getting-started/connecting-to-a-local-node.md
  apps/docs/src/guide/testing/advanced-example.md
  apps/docs/src/guide/testing/basic-example.md
  apps/docs/src/guide/testing/custom-blocks.md
  apps/docs/src/guide/testing/fuel-core-options.md
  apps/docs/src/guide/testing/index.md
  apps/docs/src/guide/testing/launching-a-test-node.md
  apps/docs/src/guide/testing/setting-up-a-custom-chain.md
  apps/docs/src/guide/testing/test-node-options.md
  apps/docs/src/guide/testing/testing-in-ts.md
  apps/docs/src/guide/wallets/test-wallets.md
  packages/account/package.json
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/utils/auto-retry-fetch.ts
  packages/account/src/providers/utils/index.ts
  packages/account/src/test-utils/asset-id.ts
  packages/account/src/test-utils/index.ts
  packages/account/src/test-utils/launchNode.test.ts
  packages/account/src/test-utils/launchNode.ts
  packages/account/src/test-utils/launchNodeAndGetWallets.test.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.test.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.ts
  packages/account/src/test-utils/test-message.test.ts
  packages/account/src/test-utils/test-message.ts
  packages/account/src/test-utils/wallet-config.test.ts
  packages/account/src/test-utils/wallet-config.ts
  packages/contract/package.json
  packages/contract/src/test-utils.ts
  packages/contract/src/test-utils/launch-test-node.test.ts
  packages/contract/src/test-utils/launch-test-node.ts
  packages/contract/test/fixtures/forc-projects/Forc.toml
  packages/contract/test/fixtures/forc-projects/simple-contract/.gitignore
  packages/contract/test/fixtures/forc-projects/simple-contract/Forc.toml
  packages/contract/test/fixtures/forc-projects/simple-contract/src/main.sw
  packages/contract/tsup.config.ts
  packages/fuel-gauge/src/multi-token-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-evaluations.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/utils.ts
  packages/fuels/package.json
  packages/fuels/src/test-utils.ts
  packages/fuels/tsup.config.ts
  packages/utils/src/index.ts
  packages/utils/src/test-utils.ts
  packages/utils/src/test-utils/wait-until-unreachable.test.ts
  packages/utils/src/test-utils/wait-until-unreachable.ts
  packages/utils/src/utils/defaultSnapshotConfigs.ts
  packages/utils/src/utils/sleep.ts
  packages/utils/src/utils/types.ts
  pnpm-lock.yaml
  tsconfig.base.json
  vitest.shared.config.mts
Labels: feat

#2441 chore: show all create-fuels template balances in ETH
  .changeset/great-icons-rule.md
  templates/nextjs/src/components/Layout.tsx
  templates/nextjs/src/components/WalletDisplay.tsx
  templates/nextjs/src/pages/faucet.tsx
  templates/nextjs/src/pages/predicate.tsx
Labels: chore

#2405 docs: document the SDKs approach to encoding
  .changeset/new-jeans-remember.md
  apps/docs-snippets/src/guide/encoding/encode-and-decode.test.ts
  apps/docs-snippets/src/guide/encoding/working-with-bytes.test.ts
  apps/docs-snippets/src/guide/scripts/script-with-configurable.test.ts
  apps/docs-snippets/src/guide/transactions/transaction-request.test.ts
  apps/docs-snippets/test/fixtures/abi/encode-and-decode.jsonc
  apps/docs-snippets/test/fixtures/forc-projects/sum-script/src/main.sw
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/encoding/encode-and-decode.md
  apps/docs/src/guide/encoding/index.md
  apps/docs/src/guide/encoding/working-with-bytes.md
  package.json
  packages/abi-coder/src/index.ts
  pnpm-lock.yaml
  vitest.shared.config.mts
Labels: docs

#2485 feat!: remove redundant exports from `v1` encoding
  .changeset/good-lobsters-lie.md
  packages/abi-coder/src/Interface.ts
  packages/abi-coder/src/index.ts
  packages/abi-coder/test/Interface.test.ts
  packages/abi-typegen/src/templates/contract/dts.hbs
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/dts.hbs
  packages/abi-typegen/test/fixtures/templates/contract/dts.hbs
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/types.ts
Labels: feat

#2488 build: update dependabot workflow to use REPO_TOKEN for changesets
  .github/workflows/pr-validate-changesets.yaml
Labels: chore

#2506 chore: increase test timeout
  .changeset/cold-avocados-wave.md
  apps/docs-snippets/src/guide/wallets/encrypting-and-decrypting-json-wallets.test.ts
Labels: chore

#2505 chore: add test to validate mint transactions serialization
  .changeset/light-paws-lie.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/e2e-script.test.ts
  packages/fuel-gauge/src/transaction.test.ts
Labels: chore, p0

#2502 chore!: rename Provider `call` to `dryRun`
  .changeset/heavy-cobras-guess.md
  apps/docs-snippets/src/guide/cookbook/generate-fake-resources.test.ts
  apps/docs/src/guide/cookbook/generate-fake-resources.md
  packages/account/src/account.test.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/fuel-gauge/src/predicate/predicate-general.test.ts
Labels: chore, p0

#2507 docs: add reference for `getMintedAssetId`
  .changeset/gold-rice-burn.md
  apps/docs-snippets/src/guide/contracts/minted-token-asset-id.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/token/src/main.sw
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/minted-token-asset-id.md
Labels: docs, p0

#2501 feat: support mixed native and non-native enums
  .changeset/perfect-shrimps-bake.md
  packages/abi-coder/src/encoding/coders/EnumCoder.test.ts
  packages/abi-coder/src/encoding/coders/EnumCoder.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
Labels: feat

#2434 feat: pre-fill address and amount in `create-fuels` faucet
  .changeset/smart-trainers-peel.md
  playwright-tests/create-fuels.test.ts
  templates/nextjs/src/components/Input.tsx
  templates/nextjs/src/pages/faucet.tsx
Labels: feat

#2525 chore: upgrading `fuel-core` to `0.29.0`
  .changeset/olive-shirts-flash.md
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  internal/fuel-core/VERSION
  packages/account/package.json
  packages/account/src/providers/provider.test.ts
  packages/program/package.json
  packages/versions/src/lib/getBuiltinVersions.ts
  pnpm-lock.yaml
Labels: chore

#2546 fix: ignore pr release for forks
  .changeset/hungry-baboons-switch.md
  .github/workflows/test.yaml
Labels: bug

#2537 chore: upgrading `fuel-core` to `0.30.0`
  .changeset/ten-keys-rule.md
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  internal/fuel-core/VERSION
  packages/account/package.json
  packages/account/src/providers/provider.test.ts
  packages/program/package.json
  packages/versions/src/lib/getBuiltinVersions.ts
  pnpm-lock.yaml
Labels: chore

#2515 chore: add tests to `EnumCoder`
  .changeset/rotten-walls-tickle.md
  packages/abi-coder/src/encoding/coders/EnumCoder.test.ts
Labels: chore

#2551 fix: validate empty `Vec` encoded length
  .changeset/calm-lemons-fold.md
  packages/abi-coder/src/encoding/coders/VecCoder.test.ts
  packages/abi-coder/src/encoding/coders/VecCoder.ts
Labels: bug

#2366 chore!: add debug logger for fuel-ts ecosystem
  .changeset/stupid-steaks-count.md
  packages/logger/CHANGELOG.md
  packages/logger/LICENSE
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/src/utils.ts
  packages/logger/test/index.test.ts
  packages/logger/test/utils.test.ts
  packages/logger/tsconfig.dts.json
  packages/logger/tsconfig.json
  packages/logger/tsdoc.json
  packages/logger/tsup.config.ts
  pnpm-lock.yaml
Labels: chore

#2497 chore: add infrastructure to patch latest version
  .github/workflows/pr-validate-changesets.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  scripts/changeset/update-changelog.mts
Labels: chore

#2556 docs: add issue delivery process to contribution docs
  .changeset/little-coats-draw.md
  CONTRIBUTING.md
  apps/docs/spell-check-custom-words.txt
Labels: docs

#2593 chore: upgrading turbo to `2.0.4`
  .changeset/ten-suns-knock.md
  apps/demo-typegen/turbo.json
  apps/docs/turbo.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: chore

#2596 build: add increase versioning strategy for dependabot
  .github/dependabot.yml
Labels: chore

#2378 chore: add browser testing infrastructure
  .changeset/serious-dogs-wash.md
  packages/account/src/test-utils/launchNode.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.ts
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuels/src/setup-launch-node-server.test.ts
  packages/fuels/src/setup-launch-node-server.ts
  scripts/tests-ci.sh
  vitest.browser.config.mts
  vitest.global-browser-setup.ts
Labels: chore

#2345 docs: add more thorough examples for predicates
  .changeset/large-kings-return.md
  .knip.json
  apps/create-fuels-counter-guide/src/pages/predicate.tsx
  apps/create-fuels-counter-guide/sway-programs/Forc.toml
  apps/create-fuels-counter-guide/sway-programs/predicate/.gitignore
  apps/create-fuels-counter-guide/sway-programs/predicate/Forc.toml
  apps/create-fuels-counter-guide/sway-programs/predicate/src/main.sw
  apps/docs-snippets/src/guide/predicates/interacting-with-predicates.test.ts
  apps/docs-snippets/src/guide/predicates/send-and-spend-funds-from-predicates.test.ts
  apps/docs-snippets/test/fixtures/forc-projects/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/configurable-pin/Forc.toml
  apps/docs-snippets/test/fixtures/forc-projects/configurable-pin/src/main.sw
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  apps/docs/src/guide/creating-a-fuel-dapp/working-with-predicates.md
  apps/docs/src/guide/predicates/methods.md
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  apps/docs/src/public/working-with-predicates-end-result.png
Labels: docs

#2611 fix: integration tests
  .changeset/quick-maps-glow.md
  .env.example
  .github/workflows/test.yaml
  packages/create-fuels/test/integration.test.ts
  scripts/tests-ui-integration.sh
Labels: bug, chore

#2562 chore: add `UNKNOWN` error code
  .changeset/stale-starfishes-hope.md
  apps/docs/src/guide/errors/error-codes.md
  packages/account/src/providers/utils/extract-tx-error.ts
  packages/errors/src/error-codes.ts
  packages/errors/src/fuel-error.test.ts
  packages/errors/src/fuel-error.ts
  packages/errors/src/test-utils/expect-to-throw-fuel-error.ts
  packages/fuel-gauge/src/revert-error.test.ts
Labels: chore

#2539 build: add support for latest node versions
  .changeset/large-books-shop.md
  .github/actions/ci-setup/action.yaml
  .github/actions/test-setup/action.yaml
  .github/workflows/breaking-change-pr-release.yaml
  .github/workflows/pr-validate-changesets.yaml
  .github/workflows/test.yaml
  .nvmrc
  package.json
  packages/abi-coder/package.json
  packages/abi-typegen/package.json
  packages/account/package.json
  packages/address/package.json
  packages/contract/package.json
  packages/create-fuels/package.json
  packages/crypto/package.json
  packages/errors/package.json
  packages/fuels/package.json
  packages/hasher/package.json
  packages/interfaces/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/merkle/package.json
  packages/program/package.json
  packages/script/package.json
  packages/transactions/package.json
  packages/utils/package.json
  packages/versions/package.json
Labels: chore

#2619 feat: add `fuel-toolchain.toml` to `create fuels` template
  .changeset/cool-bugs-mix.md
  packages/create-fuels/test/cli.test.ts
  templates/nextjs/sway-programs/fuel-toolchain.toml
Labels: feat

#2621 fix: incorrect changeset branch name
  .changeset/chilly-dolphins-call.md
  .github/workflows/test.yaml
Labels: bug

#2631 ci: remove breaking changes PR workflow
  .changeset/forty-mice-talk.md
  .github/workflows/breaking-change-pr-release.yaml
Labels: chore, p1

#2634 feat: add debug logger for fuel-ts ecosystem
  .changeset/stupid-steaks-count.md
Labels: feat

#2642 ci: test `devnet` only against releases
  .changeset/nice-rabbits-confess.md
  .github/workflows/test.yaml
Labels: chore

#2639 ci: dependabot changeset push to use `REPO_TOKEN`
  .github/workflows/pr-validate-changesets.yaml
Labels: bug

#2632 chore: increate test timeout for e2e script
  .changeset/proud-files-attend.md
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore, p2

#2622 chore: add browser testing infrastructure
  .changeset/serious-dogs-wash.md
  .changeset/two-nails-report.md
  packages/account/src/test-utils/launchNode.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.ts
  packages/fuel-gauge/src/call-test-contract.test.ts
  packages/fuels/src/setup-launch-node-server.test.ts
  packages/fuels/src/setup-launch-node-server.ts
  scripts/tests-ci.sh
  vitest.browser.config.mts
  vitest.global-browser-setup.ts
Labels: bug, chore

#2624 docs: add doc section for `UTXO` model
  .changeset/modern-bugs-exist.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/the-utxo-model/index.md
  apps/docs/src/guide/wallets/checking-balances.md
Labels: docs

#2640 ci: fix dependabot script not bumping packages in changeset
  scripts/changeset/dependabot-changeset.sh
Labels: chore
