Repository FuelLabs/fuels-ts, pull requests merged in 2025-02, with the labels that each got.

#3656 docs: update local Fuel node docs
  .changeset/kind-ants-scream.md
  apps/docs/src/guide/getting-started/running-a-local-fuel-node.md
  link-check.config.json
Labels: docs

#3641 feat: bytecode ID helpers
  .changeset/gorgeous-plants-watch.md
  packages/account/src/index.ts
  packages/account/src/utils/deployScriptOrPredicate.ts
  packages/account/src/utils/predicate-script-loader-instructions.test.ts
  packages/account/src/utils/predicate-script-loader-instructions.ts
Labels: feat

#3648 feat: support Explorer Asset API
  .changeset/rich-items-argue.md
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/utilities/asset-api.md
  apps/docs/src/guide/utilities/snippets/asset-api/asset-by-id.ts
  apps/docs/src/guide/utilities/snippets/asset-api/assets-by-owner.ts
  link-check.config.json
  packages/account/src/assets/asset-api.test.ts
  packages/account/src/assets/asset-api.ts
  packages/account/src/assets/index.ts
  packages/account/test/fixtures/assets.ts
Labels: feat

#3660 fix: bind `waitForResult` in `TransactionResponse`
  .changeset/brown-chairs-tickle.md
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/await-execution.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/min-gas.test.ts
  packages/fuel-gauge/src/predicate/predicate-populate-witness.test.ts
  packages/fuel-gauge/src/str-slice.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuel-gauge/src/transaction.test.ts
Labels: bug, chore

#3570 chore!: remove `ContractUtils` namespaced export
  .changeset/red-fishes-move.md
  packages/contract/src/index.ts
  packages/contract/src/util.ts
Labels: chore

#3662 test: fix predicate test in network test suite
  .changeset/breezy-mugs-cheat.md
  packages/fuel-gauge/src/network.test.ts
Labels: chore

#3658 feat: add receipts with the operations summary
  .changeset/rotten-pillows-scream.md
  packages/account/src/providers/transaction-summary/operations.test.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/account/src/providers/transaction-summary/types.ts
Labels: feat

#3666 chore: deprecate old versions
  .github/workflows/release-deprecate.yaml
  scripts/release-deprecate.ts
Labels: chore

#3673 chore: upgrade `forc` to `0.66.7`
  .changeset/tasty-comics-fail.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  internal/forc/VERSION
  packages/create-fuels/test/cli.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3676 chore: merge gas price and predicate estimation requests
  .changeset/curly-brooms-flash.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/helpers.test.ts
  packages/account/src/providers/transaction-request/helpers.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
Labels: chore

#3639 chore: migrate `pr` + `next` package publishing to GitHub Packages
  .changeset/angry-pianos-boil.md
  .github/actions/ci-setup/action.yaml
  .github/actions/pr-release/action.yaml
  .github/workflows/pr-release.yaml
  .github/workflows/release.yaml
  package.json
  scripts/changeset/changeset-next.mts
  scripts/changeset/changeset-next.ts
Labels: chore

#3602 docs: segregate api docs url/deployment
  .changeset/khaki-hairs-heal.md
  .github/workflows/release.yaml
  apps/docs-api/index.md
  apps/docs/.vitepress/config.ts
  apps/docs/package.json
  apps/docs/src/guide/contracts/contract-balance.md
  apps/docs/src/guide/contracts/cost-estimation.md
  apps/docs/src/guide/contracts/dependency-estimation.md
  apps/docs/src/guide/contracts/deploying-contracts.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/contracts/minted-token-asset-id.md
  apps/docs/src/guide/contracts/using-different-wallets.md
  apps/docs/src/guide/cookbook/custom-transactions-from-contract-calls.md
  apps/docs/src/guide/cookbook/custom-transactions.md
  apps/docs/src/guide/errors/index.md
  apps/docs/src/guide/predicates/instantiating-a-predicate.md
  apps/docs/src/guide/predicates/methods.md
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  apps/docs/src/guide/provider/index.md
  apps/docs/src/guide/provider/provider-options.md
  apps/docs/src/guide/testing/launching-a-test-node.md
  apps/docs/src/guide/testing/test-node-options.md
  apps/docs/src/guide/transactions/modifying-the-request.md
  apps/docs/src/guide/types/address.md
  apps/docs/src/guide/utilities/address-conversion.md
  apps/docs/src/guide/utilities/using-assets.md
  apps/docs/src/guide/wallets/checking-balances.md
  apps/docs/src/guide/wallets/connectors.md
  apps/docs/src/guide/wallets/encrypting-and-decrypting.md
  apps/docs/src/guide/wallets/index.md
  apps/docs/src/guide/wallets/instantiating-wallets.md
  apps/docs/src/guide/wallets/locking-and-unlocking.md
  apps/docs/src/index.md
  link-check.config.json
  scripts/lint-md-links.ts
Labels: docs

#3680 fix: favour `.ts` over `.d.ts` files in `@fuel-ts/abi-typegen`
  .changeset/six-humans-compete.md
  packages/abi-typegen/src/runTypegen.test.ts
  packages/abi-typegen/src/utils/assembleContracts.ts
  packages/abi-typegen/src/utils/assemblePredicates.ts
  packages/abi-typegen/src/utils/assembleScripts.ts
  packages/fuel-gauge/src/recipes.test.ts
  packages/recipes/src/types/Src14OwnedProxy.ts
  packages/recipes/src/types/Src14OwnedProxyFactory.ts
  packages/recipes/src/types/common.ts
  packages/recipes/src/types/index.ts
Labels: bug

#3688 chore: upgrade NPM package versions
  .changeset/healthy-mayflies-eat.md
  .knip.json
  apps/create-fuels-counter-guide/package.json
  apps/demo-bun-fuels/package.json
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  apps/demo-wallet-sdk-react/package.json
  apps/docs/package.json
  package.json
  packages/abi-coder/package.json
  packages/account/package.json
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.test.ts
  packages/address/package.json
  packages/create-fuels/package.json
  packages/crypto/package.json
  packages/fuels/package.json
  packages/hasher/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/lint-md-links.ts
  templates/nextjs/package.json
  templates/vite/package.json
  vitest.browser.config.mts
  vitest.node.config.mts
  vitest.workspace.ts
Labels: chore

#3698 chore: upgrade `vite` related dependencies
  .changeset/curvy-peaches-wonder.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-react-vite/package.json
  package.json
  packages/abi-typegen/test/utils/getNewAbiTypegen.ts
  packages/account/src/assets/asset-api.test.ts
  packages/account/src/test-utils/launchNode.test.ts
  packages/create-fuels/src/lib/installFuelUp.test.ts
  packages/create-fuels/src/utils/logger.test.ts
  packages/errors/src/test-utils/expect-to-throw-fuel-error.ts
  packages/fuels/package.json
  packages/fuels/src/cli/commands/build/buildSwayProgram.test.ts
  packages/fuels/src/cli/utils/logger.test.ts
  packages/utils/package.json
  packages/versions/src/lib/getSystemVersions.test.ts
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: chore

#3695 fix: ignored subscriptions not being read
  .changeset/silent-points-punch.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/provider.test.ts
Labels: bug

#3701 chore: fixing code typos
  .changeset/dull-feet-beg.md
  packages/account/src/mnemonic/mnemonic.test.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/resource-cache.test.ts
  packages/account/src/providers/transaction-response/getDecodedLogs.ts
  packages/account/src/providers/utils/extract-tx-error.ts
  packages/address/src/address.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
  packages/fuel-gauge/src/edge-cases.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/predicate-conditional-inputs.test.ts
  packages/fuel-gauge/src/token-test-contract.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: chore

#3700 chore: support BN input in block fetch methods
  .changeset/shaggy-ravens-switch.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: chore

#3694 chore: upgrade frontend dependencies
  .changeset/weak-bats-drum.md
  apps/create-fuels-counter-guide/package.json
  apps/create-fuels-counter-guide/postcss.config.js
  apps/create-fuels-counter-guide/src/index.css
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  apps/demo-wallet-sdk-react/package.json
  apps/demo-wallet-sdk-react/postcss.config.mjs
  apps/demo-wallet-sdk-react/src/app/globals.css
  apps/demo-wallet-sdk-react/tsconfig.json
  pnpm-lock.yaml
  templates/nextjs/next-env.d.ts
  templates/nextjs/package.json
  templates/nextjs/postcss.config.js
  templates/nextjs/src/styles/globals.css
  templates/vite/package.json
  templates/vite/postcss.config.js
  templates/vite/src/index.css
Labels: chore

#3704 fix: contract operations in transaction summary
  .changeset/ten-taxis-invent.md
  apps/docs/src/guide/transactions/getting-the-response.md
  apps/docs/src/guide/transactions/snippets/transaction-response/contract-call.ts
  packages/abi-coder/src/index.ts
  packages/abi-coder/src/utils/scriptData.ts
  packages/account/src/providers/transaction-summary/call.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/transactions/src/receipt.ts
Labels: bug

#3712 docs: fix wallet docs snippet
  .changeset/unlucky-trainers-clap.md
  apps/docs/src/guide/wallets/mnemonic-wallet.md
  apps/docs/src/guide/wallets/snippets/mnemonic/from-mnemonic-phrases-1.ts
  apps/docs/src/guide/wallets/snippets/mnemonic/from-mnemonic-phrases-2.ts
  packages/account/src/account.test.ts
  packages/account/src/providers/message.ts
  packages/account/src/wallet-manager/wallet-manager.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
Labels: docs

#3713 chore: add missing turbo cache
  .changeset/rotten-pans-shout.md
  apps/demo-fuels/turbo.json
  apps/demo-wallet-sdk-react/.gitignore
  apps/demo-wallet-sdk-react/next-env.d.ts
  apps/demo-wallet-sdk-react/next.config.mjs
  apps/demo-wallet-sdk-react/tsconfig.json
  apps/docs-api/turbo.json
  internal/check-imports/turbo.json
  templates/nextjs/next.config.js
  templates/nextjs/tsconfig.json
Labels: chore

#3689 feat: inverted submission flow
  .changeset/forty-apes-pay.md
  apps/docs/src/guide/wallets/connectors.md
  apps/docs/src/guide/wallets/snippets/connectors.ts
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/fuel.ts
  packages/account/src/connectors/types/connector-types.ts
  packages/account/test/fixtures/mocked-prep-connector.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: feat

#3616 chore: use GitHub application token
  .github/workflows/changesets-pr.yaml
  .github/workflows/release.yaml
Labels: chore

#3721 chore: use repositories for app token
  .changeset/hip-peas-run.md
  .github/workflows/changesets-pr.yaml
  .github/workflows/release.yaml
Labels: chore

#3723 chore: upgraded various dependencies
  .changeset/eight-dots-collect.md
  .github/dependabot.yml
  apps/create-fuels-counter-guide/package.json
  apps/demo-react-vite/package.json
  package.json
  packages/abi-typegen/package.json
  packages/create-fuels/package.json
  packages/fuels/package.json
  pnpm-lock.yaml
  templates/vite/package.json
Labels: chore

#3722 chore: fix integration tests
  .changeset/rare-experts-tell.md
  .github/workflows/publish-to-next.yaml
  .github/workflows/test.yaml
  packages/create-fuels/test/integration.test.ts
  scripts/changeset/changeset-next.mts
  scripts/tests-ui-integration.sh
  scripts/tests-ui.sh
Labels: chore

#3720 feat: enable arbitrary data signing
  .changeset/four-sheep-love.md
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/wallets/signing.md
  apps/docs/src/guide/wallets/snippets/signing/sign-message.ts
  apps/docs/src/guide/wallets/snippets/signing/sign-personal-message.ts
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/signer/signer.test.ts
  packages/account/src/wallet/base-wallet-unlocked.ts
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/hasher/src/hasher.test.ts
  packages/hasher/src/hasher.ts
Labels: feat

#3709 feat: added the state to the transaction request
  .changeset/quick-numbers-shop.md
  packages/account/src/account.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/test/fixtures/mocked-send-transaction-connector.ts
  packages/account/test/fuel-wallet-connector.send-transaction.test.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: feat

#3734 chore: remove call ops in tx summary
  .changeset/nine-bats-fail.md
  packages/account/src/providers/transaction-summary/call.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: chore

#3726 feat: allow provider re-instantiation from chain + node info
  .changeset/metal-trains-argue.md
  packages/account/src/account.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/serialization.test.ts
  packages/account/src/providers/utils/serialization.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: feat

#3739 chore: publish to AWS CodeArtifact
  .changeset/strange-cycles-carry.md
  .github/workflows/pr-release.yaml
  .github/workflows/publish-to-next.yaml
  .github/workflows/test.yaml
  .knip.json
  packages/create-fuels/test/integration.test.ts
  pnpm-lock.yaml
  scripts/changeset/changeset-next.mts
  scripts/tests-ui-integration.sh
  templates/nextjs/package.json
  templates/vite/package.json
Labels: chore

#3742 chore: bumping deps
  .changeset/thick-badgers-begin.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-bun-fuels/package.json
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  apps/demo-wallet-sdk-react/next-env.d.ts
  apps/demo-wallet-sdk-react/package.json
  package.json
  packages/account/package.json
  packages/fuels/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: chore
