Repository FuelLabs/fuels-ts, pull requests merged in 2025-01, with the labels that each got.

#3486 fix: test ui script in package's json
  .changeset/clever-rocks-ring.md
  apps/create-fuels-counter-guide/package.json
  templates/nextjs/package.json
  templates/vite/package.json
Labels: bug

#3510 fix: paths and globals in `fuels init`
  .changeset/new-toys-approve.md
  packages/fuels/src/cli.ts
  packages/fuels/test/features/init.test.ts
  packages/fuels/test/utils/runCommands.ts
Labels: bug

#3515 chore: use playwright in browser tests
  .github/workflows/test.yaml
  apps/create-fuels-counter-guide/package.json
  package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
  vitest.browser.config.mts
Labels: chore

#3500 docs: improving getting started docs for `mainnet`
  .changeset/brave-lies-relax.md
  README.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/fuels-cli/commands.md
  apps/docs/src/guide/getting-started/cdn-usage.md
  apps/docs/src/guide/getting-started/connecting-to-a-local-node.md
  apps/docs/src/guide/getting-started/connecting-to-testnet.md
  apps/docs/src/guide/getting-started/connecting-to-the-network.md
  apps/docs/src/guide/getting-started/further-resources.md
  apps/docs/src/guide/getting-started/index.md
  apps/docs/src/guide/getting-started/installation.md
  apps/docs/src/guide/getting-started/next-steps.md
  apps/docs/src/guide/getting-started/react-example.md
  apps/docs/src/guide/getting-started/running-a-local-fuel-node.md
  apps/docs/src/guide/getting-started/snippets/connecting-to-localnode.ts
  apps/docs/src/guide/getting-started/snippets/connecting-to-testnet.ts
  apps/docs/src/guide/getting-started/snippets/connecting-to-the-network.ts
  apps/docs/src/guide/getting-started/usage.md
  apps/docs/src/guide/provider/index.md
  apps/docs/src/guide/provider/querying-the-chain.md
  link-check.config.json
  packages/fuels/src/cli.ts
  scripts/lint-md-links.ts
Labels: docs

#3491 fix: validation and handling of unsafe integers
  .changeset/orange-moles-leave.md
  packages/abi-coder/src/encoding/coders/BigNumberCoder.test.ts
  packages/abi-coder/src/encoding/coders/BigNumberCoder.ts
Labels: bug

#3511 chore: bumped `@fuels/*` deps to `0.36.1`
  .changeset/clever-bikes-itch.md
  apps/create-fuels-counter-guide/package.json
  apps/create-fuels-counter-guide/src/lib.tsx
  apps/create-fuels-counter-guide/src/main.tsx
  apps/demo-wallet-sdk-react/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/nextjs/src/app/layout.tsx
  templates/nextjs/src/lib.tsx
  templates/vite/package.json
  templates/vite/src/lib.tsx
  templates/vite/src/main.tsx
Labels: chore

#3493 chore!: remove Bech32 address
  .changeset/small-plums-talk.md
  CONTRIBUTING.md
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/types/address.md
  apps/docs/src/guide/types/bech32.md
  apps/docs/src/guide/types/snippets/address/creating-an-address.ts
  apps/docs/src/guide/types/snippets/address/utilities-function-1.ts
  apps/docs/src/guide/types/snippets/b256.ts
  apps/docs/src/guide/types/snippets/bech32.ts
  apps/docs/src/guide/utilities/address-conversion.md
  apps/docs/src/guide/utilities/snippets/address-conversion/b256-to-bech32-utilities.ts
  apps/docs/src/guide/utilities/snippets/address-conversion/b256-to-bech32.ts
  apps/docs/src/guide/utilities/snippets/address-conversion/bech32-to-b256-utilities.ts
  apps/docs/src/guide/utilities/snippets/address-conversion/bech32-to-b256.ts
  apps/docs/src/guide/utilities/snippets/address-conversion/contract.ts
  apps/docs/src/guide/utilities/snippets/address-conversion/wallet.ts
  apps/docs/src/guide/wallets/instantiating-wallets.md
  apps/docs/src/guide/wallets/snippets/instantiating/from-b256-address.ts
  apps/docs/src/guide/wallets/snippets/instantiating/unlock-from-private-key.ts
  apps/docs/src/guide/wallets/snippets/signing/sign-message.ts
  packages/account/src/signer/signer.test.ts
  packages/account/src/wallet/keystore-wallet.test.ts
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/address/README.md
  packages/address/package.json
  packages/address/src/address.test.ts
  packages/address/src/address.ts
  packages/address/src/utils.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/e2e-script.test.ts
  packages/interfaces/src/index.ts
  packages/logger/src/index.ts
  packages/logger/test/index.test.ts
  packages/recipes/src/types/Src14OwnedProxy.ts
  packages/recipes/src/types/Src14OwnedProxyFactory.ts
  packages/recipes/src/types/common.d.ts
  packages/recipes/src/types/index.ts
  pnpm-lock.yaml
Labels: chore

#3432 feat: added method to duplicate predicate
  .changeset/gentle-toes-play.md
  packages/account/src/predicate/predicate.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/predicate/predicate-duplication.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-evaluations.test.ts
  packages/fuel-gauge/src/predicate/predicate-input-data.test.ts
  packages/fuel-gauge/src/predicate/predicate-invalidations.test.ts
  packages/fuel-gauge/src/predicate/predicate-populate-witness.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundAccount.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundPredicate.ts
  packages/fuel-gauge/src/predicate/utils/predicate/index.ts
  templates/nextjs/src/components/Predicate.tsx
  templates/vite/src/components/Predicate.tsx
Labels: feat, cla:signed

#3503 feat: auto-detect package manager in `create fuels`
  .changeset/lazy-ears-tap.md
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  apps/docs/src/guide/creating-a-fuel-dapp/options.md
  packages/create-fuels/src/cli.ts
  packages/create-fuels/src/lib/getPackageManager.test.ts
  packages/create-fuels/src/lib/getPackageManager.ts
  packages/create-fuels/src/lib/setupProgram.test.ts
  packages/create-fuels/src/lib/setupProgram.ts
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/test/utils/generateArgs.ts
Labels: feat

#3449 chore: dependency pinning and auditing
  .changeset/fluffy-cooks-worry.md
  .github/workflows/audit.yaml
  apps/create-fuels-counter-guide/package.json
  apps/demo-bun-fuels/package.json
  apps/demo-fuels/package.json
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  apps/demo-wallet-sdk-react/package.json
  apps/docs-api/package.json
  apps/docs/package.json
  internal/forc/package.json
  internal/fuel-core/package.json
  package.json
  packages/abi-coder/package.json
  packages/abi-typegen/package.json
  packages/account/package.json
  packages/address/package.json
  packages/contract/package.json
  packages/create-fuels/package.json
  packages/crypto/package.json
  packages/fuels/package.json
  packages/hasher/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/merkle/package.json
  packages/program/package.json
  packages/transactions/package.json
  packages/utils/package.json
  packages/versions/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: chore

#3534 fix: integration test using removed flag
  .changeset/dry-hornets-wave.md
  scripts/tests-ui-integration.sh
Labels: bug

#3531 feat: add support for `--fuel-core-port` flag in `fuels init`
  .changeset/olive-buses-count.md
  apps/docs/src/guide/fuels-cli/commands.md
  packages/fuels/src/cli.ts
  packages/fuels/src/cli/commands/init/index.ts
  packages/fuels/src/cli/templates/fuels.config.hbs
  packages/fuels/src/cli/templates/fuels.config.ts
  packages/fuels/test/features/init.test.ts
  packages/fuels/test/utils/runCommands.ts
Labels: feat

#3539 feat!: `autoCost` for transaction estimation and funding
  .changeset/shaggy-zebras-obey.md
  apps/docs/src/guide/cookbook/snippets/custom-contract-calls.ts
  apps/docs/src/guide/cookbook/snippets/signing-transactions/predicate.ts
  apps/docs/src/guide/encoding/snippets/encode-and-decode.ts
  apps/docs/src/guide/predicates/snippets/custom-transactions.ts
  apps/docs/src/guide/predicates/snippets/methods/send-transaction.ts
  apps/docs/src/guide/predicates/snippets/methods/simulate-transaction.ts
  apps/docs/src/guide/scripts/snippets/script-custom-transaction.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/auto-cost.ts
  apps/docs/src/guide/transactions/snippets/transaction-response/from-submitted-request.ts
  apps/docs/src/guide/transactions/transaction-request.md
  apps/docs/src/guide/wallets/snippets/signing/fund-transaction.ts
  apps/docs/src/guide/wallets/snippets/signing/sign-transaction.ts
  packages/account/src/account.test.ts
  packages/account/src/providers/transaction-request/script-transaction-request.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundAccount.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/src/transaction.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/script/src/script.test.ts
Labels: feat

#3537 fix: resolve `punycode` deprecation notice
  .changeset/seven-balloons-kick.md
  package.json
  packages/create-fuels/src/cli.ts
  packages/create-fuels/test/cli.test.ts
  packages/create-fuels/test/integration.test.ts
  packages/create-fuels/test/utils/bootstrapProject.ts
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: bug

#3548 chore!: remove deprecated `submitAndAwait` operation
  .changeset/shiny-meals-jog.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: chore

#3550 chore: added `useBaseAssetId` hook to templates
  .changeset/small-spoons-drive.md
  apps/create-fuels-counter-guide/src/components/Faucet.tsx
  apps/create-fuels-counter-guide/src/components/Predicate.tsx
  apps/create-fuels-counter-guide/src/components/Wallet.tsx
  apps/create-fuels-counter-guide/src/hooks/useBaseAssetId.tsx
  templates/nextjs/src/components/Faucet.tsx
  templates/nextjs/src/components/Predicate.tsx
  templates/nextjs/src/components/Wallet.tsx
  templates/nextjs/src/hooks/useBaseAssetId.tsx
  templates/vite/src/components/Faucet.tsx
  templates/vite/src/components/Predicate.tsx
  templates/vite/src/components/Wallet.tsx
  templates/vite/src/hooks/useBaseAssetId.tsx
Labels: chore

#3551 chore!: remove receipt coders
  .changeset/shaggy-donkeys-exist.md
  packages/account/src/providers/utils/receipts.test.ts
  packages/transactions/src/coders/receipt.test.ts
  packages/transactions/src/coders/receipt.ts
  packages/transactions/src/index.ts
  packages/transactions/src/receipt.test.ts
  packages/transactions/src/receipt.ts
Labels: chore

#3552 chore!: remove receipts deprecated properties
  .changeset/rude-flowers-tickle.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/transaction-response/getDecodedLogs.ts
  packages/account/src/providers/transaction-summary/operations.test.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/account/src/providers/utils/receipts.test.ts
  packages/account/src/providers/utils/receipts.ts
  packages/account/test/fixtures/transaction-summary.ts
  packages/program/src/contract-call-script.ts
  packages/transactions/src/receipt.ts
Labels: chore

#3553 chore!: remove unused operations
  .changeset/metal-fireants-enjoy.md
  packages/account/src/providers/transaction-summary/types.ts
Labels: chore

#3556 chore: removing obsolete `Provider.create` method
  .changeset/strange-experts-roll.md
  apps/docs/src/guide/getting-started/snippets/connecting-to-the-network.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/auto-cost.ts
  packages/account/src/providers/provider.ts
Labels: chore

#3541 feat: implement `sendAndAwaitStatus` subscription
  .changeset/orange-cherries-clean.md
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/transactions/snippets/transaction-subscriptions/contract-call.ts
  apps/docs/src/guide/transactions/snippets/transaction-subscriptions/transaction-request.ts
  apps/docs/src/guide/transactions/transaction-subscriptions.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: feat

#3558 chore: updating codeowners
  .github/CODEOWNERS
Labels: docs, chore

#3557 docs: fixing remaining outdated snippets
  README.md
  apps/docs/src/guide/contracts/using-different-wallets.md
  apps/docs/src/guide/getting-started/cdn-usage.md
  apps/docs/src/guide/getting-started/react-example.md
Labels: docs

#3563 docs: updated references of interfaces
  apps/docs-api/index.md
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/contracts/minted-token-asset-id.md
Labels: docs

#3559 feat!: remove redundant gas price call for tx summary
  .changeset/short-bears-fry.md
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.test.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.ts
  packages/account/src/providers/transaction-summary/calculate-tx-fee-for-summary.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/providers/transaction-summary/status.test.ts
  packages/account/src/providers/transaction-summary/status.ts
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: feat

#3568 chore: types of tx response and the network calls involved
  .changeset/sweet-geese-count.md
  packages/fuel-gauge/src/transaction-response.test.ts
Labels: chore

#3554 chore: remove unused deps + update knip config
  .changeset/witty-mice-lick.md
  .knip.json
  CONTRIBUTING.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-bun-fuels/package.json
  apps/demo-fuels/package.json
  apps/demo-typegen/package.json
  apps/docs/.vitepress/plugins/codeInContextPlugin.test.ts
  apps/docs/package.json
  package.json
  packages/contract/package.json
  packages/crypto/package.json
  packages/fuel-gauge/package.json
  packages/fuels/package.json
  packages/script/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: chore

#3571 chore: updating codeowners
  .github/CODEOWNERS
Labels: chore

#3564 chore: add script for network testing
  .changeset/stupid-jokes-exist.md
  .env.example
  CONTRIBUTING.md
  package.json
  packages/fuel-gauge/src/network.test.ts
  scripts/tests-find.sh
  scripts/tests-validate.sh
Labels: chore

#3487 feat: added `onBeforeSend` hook to the connector interface
  .changeset/sharp-islands-collect.md
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: feat, chore

#3528 fix: usage of `providerUrl` in `fuels dev` command
  .changeset/spicy-oranges-worry.md
  .knip.json
  apps/docs/fuels.config.ts
  apps/docs/package.json
  apps/docs/scripts/pretest.sh
  packages/fuel-gauge/fuels.config.ts
  packages/fuel-gauge/package.json
  packages/fuels/src/cli/commands/dev/autoStartFuelCore.ts
  packages/fuels/test/features/dev.test.ts
  pnpm-lock.yaml
Labels: bug

#3574 docs: optimizing frontend apps touchups
  apps/docs/src/guide/transactions/optimizing-frontend-apps.md
  apps/docs/src/guide/transactions/snippets/transaction-speed/transaction-speed-init.ts
  apps/docs/src/guide/transactions/snippets/transaction-speed/transaction-speed-optimized.ts
Labels: docs

#3573 docs!: optimizing frontend apps
  .changeset/khaki-candles-beg.md
  .changeset/orange-cherries-clean.md
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/contracts/call-parameters.md
  apps/docs/src/guide/contracts/using-different-wallets.md
  apps/docs/src/guide/cookbook/optimized-react-example.md
  apps/docs/src/guide/cookbook/snippets/custom-contract-calls.ts
  apps/docs/src/guide/cookbook/snippets/signing-transactions/predicate.ts
  apps/docs/src/guide/encoding/snippets/encode-and-decode.ts
  apps/docs/src/guide/getting-started/react-example.md
  apps/docs/src/guide/predicates/custom-transactions.md
  apps/docs/src/guide/predicates/snippets/custom-transactions.ts
  apps/docs/src/guide/predicates/snippets/methods/send-transaction.ts
  apps/docs/src/guide/predicates/snippets/methods/simulate-transaction.ts
  apps/docs/src/guide/scripts/custom-script-call.md
  apps/docs/src/guide/scripts/snippets/script-custom-transaction.ts
  apps/docs/src/guide/transactions/adding-parameters.md
  apps/docs/src/guide/transactions/adding-policies.md
  apps/docs/src/guide/transactions/getting-the-response.md
  apps/docs/src/guide/transactions/modifying-the-request.md
  apps/docs/src/guide/transactions/optimizing-frontend-apps.md
  apps/docs/src/guide/transactions/snippets/transaction-request/asset-burn.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/estimate-and-fund.ts
  apps/docs/src/guide/transactions/snippets/transaction-request/get-transaction-cost.ts
  apps/docs/src/guide/transactions/snippets/transaction-response/from-submitted-request.ts
  apps/docs/src/guide/transactions/snippets/transaction-speed/transaction-speed-init.ts
  apps/docs/src/guide/transactions/snippets/transaction-speed/transaction-speed-optimized.ts
  apps/docs/src/guide/transactions/snippets/transaction-subscriptions/contract-call.ts
  apps/docs/src/guide/transactions/snippets/transaction-subscriptions/transaction-request.ts
  apps/docs/src/guide/transactions/transaction-subscriptions.md
  apps/docs/src/guide/wallets/snippets/signing/fund-transaction.ts
  apps/docs/src/guide/wallets/snippets/signing/sign-transaction.ts
  packages/account/src/account.test.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/script-transaction-request.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/coverage-contract.test.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate/utils/predicate/fundAccount.ts
  packages/fuel-gauge/src/revert-error.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
  packages/fuel-gauge/src/transaction.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/script/src/script.test.ts
Labels: docs

#3579 chore: changed Tailwind config from JS to TS
  .changeset/ten-cherries-perform.md
  templates/vite/tailwind.config.ts
Labels: chore

#3589 fix: incorrect function coder offset usage
  .changeset/nasty-carrots-report.md
  packages/abi-coder/src/FunctionFragment.ts
  packages/fuel-gauge/src/abi/abi-script.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-complex-args/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-complex-args/src/main.sw
Labels: bug

#3595 chore: adjust commit conventions
  .changeset/wet-goats-push.md
  .github/workflows/pr-lint.yaml
  CONTRIBUTING.md
Labels: chore

#3580 chore: prepend version mismatch to GraphQL errors
  .changeset/angry-crabs-float.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/handle-gql-error-message.ts
  packages/account/test/utils/mockIncompabileVersions.ts
  packages/fuel-gauge/src/mapped-error-messages.test.ts
Labels: chore

#3599 docs: favour `B256` and `B512` type references
  .changeset/wet-radios-collect.md
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/plugins/utils/extractImports.test.ts
  apps/docs/src/guide/contracts/managing-deployed-contracts.md
  apps/docs/src/guide/contracts/minted-token-asset-id.md
  apps/docs/src/guide/contracts/snippets/utilities/minted-token-asset-id.ts
  apps/docs/src/guide/encoding/working-with-bytes.md
  apps/docs/src/guide/predicates/send-and-spend-funds-from-predicates.md
  apps/docs/src/guide/types/address.md
  apps/docs/src/guide/types/asset-id.md
  apps/docs/src/guide/types/b256.md
  apps/docs/src/guide/types/b512.md
  apps/docs/src/guide/types/bits256.md
  apps/docs/src/guide/types/bits512.md
  apps/docs/src/guide/types/bytes32.md
  apps/docs/src/guide/types/evm-address.md
  apps/docs/src/guide/types/snippets/asset-id/intro.ts
  apps/docs/src/guide/types/snippets/b256/converting-between-b256-uint8.ts
  apps/docs/src/guide/types/snippets/b256/generating-random-b256.ts
  apps/docs/src/guide/types/snippets/b256/support-from-address-class.ts
  apps/docs/src/guide/types/snippets/b512/b512-in-the-sdk.ts
  apps/docs/src/guide/types/snippets/b512/echoing-a-b512.ts
  apps/docs/src/guide/types/snippets/evm-address/intro.ts
  apps/docs/src/guide/types/structs.md
  apps/docs/src/guide/utilities/address-conversion.md
  apps/docs/sway/bytecode-input/src/main.sw
  apps/docs/sway/echo-values/src/main.sw
Labels: docs

#3601 chore: fixed interplay with resource cache tests
  .changeset/red-ligers-invent.md
  packages/account/src/providers/resource-cache.test.ts
Labels: chore

#3532 chore: un-deprecated network URLs
  .changeset/clever-wasps-nail.md
  internal/utils/CHANGELOG.md
  internal/utils/README.md
  internal/utils/package.json
  internal/utils/src/constants.ts
  internal/utils/src/index.ts
  internal/utils/tsconfig.json
  internal/utils/tsup.config.ts
  packages/account/package.json
  packages/account/src/configs.test.ts
  packages/account/src/configs.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/fuel-gauge/package.json
  packages/fuel-gauge/src/e2e-script.test.ts
  pnpm-lock.yaml
Labels: chore

#3089 feat: ABI parser
  .changeset/config.json
  .changeset/tender-tigers-fry.md
  apps/docs-api/index.md
  apps/docs-api/typedoc.json
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/cookbook/snippets/parsing-the-abi.ts
  apps/docs/src/guide/cookbook/working-with-the-abi.md
  apps/docs/src/guide/errors/index.md
  internal/check-imports/src/references.ts
  packages/abi/package.json
  packages/abi/src/index.ts
  packages/abi/src/matchers/sway-type-matchers.test.ts
  packages/abi/src/matchers/sway-type-matchers.ts
  packages/abi/src/parse/AbiParser.ts
  packages/abi/src/parse/specifications/v1/index.ts
  packages/abi/src/parse/types.ts
  packages/abi/src/parser/abi-parser.ts
  packages/abi/src/parser/abi.ts
  packages/abi/src/parser/index.ts
  packages/abi/src/parser/specifications/index.ts
  packages/abi/src/parser/specifications/v1/abi-type-mappers.ts
  packages/abi/src/parser/specifications/v1/cleanup-abi.ts
  packages/abi/src/parser/specifications/v1/map-attribute.ts
  packages/abi/src/parser/specifications/v1/parser.ts
  packages/abi/src/parser/specifications/v1/resolvable-type.ts
  packages/abi/src/parser/specifications/v1/resolved-type.ts
  packages/abi/src/parser/specifications/v1/specification.ts
  packages/abi/typedoc.json
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/abi/abi-parser.json
  packages/fuel-gauge/src/abi/abi-parser.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/parser/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/parser/src/main.sw
  packages/fuels/package.json
  packages/fuels/src/index.ts
  pnpm-lock.yaml
Labels: feat

#3609 ci: configure timeout for docs and lint jobs
  .changeset/young-queens-juggle.md
  .github/workflows/code-lint.yaml
Labels: chore, cla:signed

#3611 chore: remove GitHub PAT token usage
  .github/workflows/linear-pr-integration.yaml
  .github/workflows/pr-validate-changesets.yaml
  .github/workflows/release.yaml
Labels: chore

#3608 feat: allow passing `gasPrice` to `getTransactionCost`
  .changeset/clever-mirrors-jam.md
  packages/account/src/account.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/fee.test.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: feat

#3594 chore: update `amountPerCoin` prop in `WalletConfig` to accept BN
  .changeset/pink-mails-dream.md
  packages/account/src/test-utils/wallet-config.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/utils/src/utils/types.ts
Labels: chore

#3620 chore: prevent naming collisions on typegen
  .changeset/six-moles-wonder.md
  packages/abi-typegen/src/templates/contract/factory.hbs
  packages/abi-typegen/src/templates/contract/main.hbs
  packages/abi-typegen/src/templates/predicate/main.hbs
  packages/abi-typegen/src/templates/predicate/main.ts
  packages/abi-typegen/src/templates/script/main.hbs
  packages/abi-typegen/src/templates/script/main.ts
  packages/abi-typegen/test/fixtures/templates/contract-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/contract/factory.hbs
  packages/abi-typegen/test/fixtures/templates/contract/main.hbs
  packages/abi-typegen/test/fixtures/templates/predicate-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/predicate/main.hbs
  packages/abi-typegen/test/fixtures/templates/script-with-configurable/main.hbs
  packages/abi-typegen/test/fixtures/templates/script/main.hbs
  packages/fuel-gauge/src/auth-testing.test.ts
  packages/fuel-gauge/src/predicate/predicate-general.test.ts
  packages/fuel-gauge/src/script-main-args.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/auth_testing_abi/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/contract/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-main-two-args/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script/src/main.sw
  packages/recipes/scripts/build-recipes.ts
Labels: chore

#3623 chore: remove Linear PR integration
  .github/workflows/linear-pr-integration.yaml
Labels: chore

#3629 docs: text nits
  apps/docs/src/guide/contracts/proxy-contracts.md
Labels: docs

#3631 feat: use configurable offset for blob ID
  .changeset/new-seas-yawn.md
  packages/account/src/utils/deployScriptOrPredicate.ts
  packages/account/src/utils/predicate-script-loader-instructions.ts
Labels: feat

#3634 docs: use `new Address` in favor of deprecated method
  .changeset/soft-poems-reflect.md
  apps/create-fuels-counter-guide/src/components/LocalFaucet.tsx
  apps/docs/src/guide/types/b256.md
  apps/docs/src/guide/wallets/wallet-transferring.md
Labels: docs

#3633 chore: fix version resolutions
  .changeset/stupid-owls-worry.md
  packages/abi-coder/package.json
  packages/contract/package.json
  packages/transactions/package.json
  pnpm-lock.yaml
Labels: chore

#3628 chore: upgrade `fuel core` to `0.41.4`
  .changeset/honest-plums-wink.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  internal/fuel-core/VERSION
  packages/create-fuels/test/cli.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3583 chore: add latency detection scripts
  .env.example
  CONTRIBUTING.md
  package.json
  packages/fuel-gauge/package.json
  packages/fuel-gauge/scripts/latency-detection/helpers.ts
  packages/fuel-gauge/scripts/latency-detection/main.ts
  packages/fuel-gauge/scripts/latency-detection/missing-4x-variable-output-call.ts
  packages/fuel-gauge/scripts/latency-detection/missing-variable-output-call.ts
  packages/fuel-gauge/scripts/latency-detection/script-call.ts
  packages/fuel-gauge/scripts/latency-detection/script-with-predicate-call.ts
  packages/fuel-gauge/scripts/latency-detection/types.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/transfer-contract/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/transfer-contract/src/main.sw
  pnpm-lock.yaml
  snapshots/2025-01-27T15:32.json
Labels: chore

#3636 fix: improve BN unsafe numbers error handling
  .changeset/sweet-walls-wonder.md
  packages/account/src/account.test.ts
  packages/errors/src/error-codes.ts
  packages/math/src/bn.test.ts
  packages/math/src/bn.ts
Labels: bug

#3585 feat: add `forc` tests to create fuels
  .changeset/loud-deers-wait.md
  .github/workflows/test.yaml
  .knip.json
  apps/create-fuels-counter-guide/package.json
  apps/create-fuels-counter-guide/sway-programs/contract/src/main.sw
  apps/create-fuels-counter-guide/sway-programs/predicate/src/main.sw
  apps/create-fuels-counter-guide/sway-programs/script/src/main.sw
  apps/docs/src/guide/creating-a-fuel-dapp/index.md
  package.json
  templates/nextjs/package.json
  templates/nextjs/sway-programs/contract/src/main.sw
  templates/nextjs/sway-programs/predicate/src/main.sw
  templates/nextjs/sway-programs/script/src/main.sw
  templates/vite/package.json
  templates/vite/sway-programs/contract/src/main.sw
  templates/vite/sway-programs/predicate/src/main.sw
  templates/vite/sway-programs/script/src/main.sw
  turbo.json
Labels: feat, chore

#3626 chore: upgrade `fuel-core` to `0.40.4`
  .changeset/ten-boats-deny.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  internal/fuel-core/VERSION
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/create-fuels/test/cli.test.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3642 chore: migrate release
  .github/workflows/release.yaml
Labels: chore

#3643 fix: s3 publishing
  .changeset/plenty-beds-bake.md
  .github/workflows/release.yaml
  apps/docs/src/guide/wallets/snippets/connectors.ts
  packages/account/src/providers/assets/assets.test.ts
  packages/account/src/providers/assets/utils/fuelAssetsBaseUrl.ts
  packages/account/src/providers/assets/utils/network.test.ts
  packages/fuel-gauge/src/e2e-script.test.ts
Labels: chore

#3649 fix: use GitHub vars instead of env vars
  .github/workflows/release.yaml
Labels: chore

#3646 fix: `fuels dev` hangs after compilation errors
  .changeset/silly-pianos-fry.md
  packages/fuels/src/bin.ts
  packages/fuels/src/cli/commands/build/forcHandlers.ts
  packages/fuels/src/cli/commands/withConfig.test.ts
  packages/fuels/src/cli/commands/withConfig.ts
  packages/fuels/test/features/dev.test.ts
Labels: bug

#3652 chore!: remove `pageInfo` from `getBalances` GraphQl operations
  .changeset/big-dragons-count.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
Labels: chore

#3653 chore: removing `pr-release` workflow
  .github/workflows/pr-release.yaml
  .github/workflows/release-deprecate.yaml
Labels: chore
