Repository FuelLabs/fuels-ts, pull requests merged in 2025-05, with the labels that each got.

#3873 fix: ci md-links check
  apps/docs/src/guide/testing/fuel-core-options.md
  link-check.config.json
Labels: bug

#3869 fix: provider auto-refetch
  .changeset/khaki-zoos-cough.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/serialization.ts
  packages/account/test/fixtures/chain.ts
Labels: bug

#3871 fix: ensure contract call receipt exists when decoding logs
  .changeset/bright-steaks-wave.md
  packages/account/src/providers/transaction-response/getAllDecodedLogs.ts
  packages/fuel-gauge/src/revert-error.test.ts
Labels: bug

#3878 feat: implement methods to serialize/deserialize `TransactionResponse`
  .changeset/nine-games-arrive.md
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/utils/transaction-response-serialization.test.ts
  packages/account/src/providers/utils/transaction-response-serialization.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/account/test/fixtures/mocked-send-transaction-connector.ts
Labels: feat

#3879 chore: made connector returns `TransactionResponse` type
  .changeset/cyan-oranges-smash.md
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/providers/index.ts
  packages/account/src/providers/utils/transaction-response-serialization.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/account/test/fixtures/mocked-send-transaction-connector.ts
Labels: chore

#3882 chore: sunsetting `demo-react-cra`
  .changeset/config.json
  .eslintignore
  .prettierignore
  apps/demo-react-cra/.gitignore
  apps/demo-react-cra/CHANGELOG.md
  apps/demo-react-cra/README.md
  apps/demo-react-cra/package.json
  apps/demo-react-cra/public/favicon.ico
  apps/demo-react-cra/public/index.html
  apps/demo-react-cra/public/logo192.png
  apps/demo-react-cra/public/logo512.png
  apps/demo-react-cra/public/manifest.json
  apps/demo-react-cra/public/robots.txt
  apps/demo-react-cra/src/App.css
  apps/demo-react-cra/src/App.test.tsx
  apps/demo-react-cra/src/App.tsx
  apps/demo-react-cra/src/index.css
  apps/demo-react-cra/src/index.tsx
  apps/demo-react-cra/src/logo.svg
  apps/demo-react-cra/src/react-app-env.d.ts
  apps/demo-react-cra/src/reportWebVitals.ts
  apps/demo-react-cra/src/setupTests.ts
  apps/demo-react-cra/tsconfig.json
  pnpm-lock.yaml
  vitest.shared.config.mts
Labels: chore

#3883 chore: fix flaky Vitest tests in browser environment
  .changeset/eighty-lies-end.md
  packages/fuels/src/setup-launch-node-server.ts
  vitest.browser.config.mts
Labels: chore

#3885 feat: add `Predicate` method `setData`
  .changeset/curvy-coats-laugh.md
  apps/docs/src/guide/predicates/methods.md
  apps/docs/src/guide/predicates/snippets/methods/modified-data.ts
  apps/docs/src/guide/predicates/snippets/methods/no-modified-data.ts
  apps/docs/src/guide/predicates/snippets/methods/set-predicate-new-data.ts
  packages/account/src/predicate/predicate.ts
  packages/fuel-gauge/src/predicate/predicate-arguments.test.ts
Labels: feat

#3887 fix: close subscription after `Preconfirmation` status when applicable
  .changeset/rare-kids-grab.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
Labels: bug

#3886 fix!: enforce `predicateData` when predicate has arguments
  .changeset/loud-bags-deny.md
  apps/create-fuels-counter-guide/src/components/Predicate.tsx
  apps/docs/src/guide/predicates/snippets/deploying-predicates.ts
  packages/account/src/predicate/predicate.ts
  packages/fuel-gauge/src/blob-deploy.test.ts
  packages/fuel-gauge/src/predicate/predicate-configurables.test.ts
  packages/fuel-gauge/src/predicate/predicate-estimations.test.ts
  packages/fuel-gauge/src/predicate/predicate-invalidations.test.ts
  templates/nextjs/src/components/Predicate.tsx
  templates/vite/src/components/Predicate.tsx
Labels: bug

#3875 feat: support TX customization at BaseInvocationScope
  .changeset/huge-stars-attend.md
  apps/docs/.vitepress/config.ts
  apps/docs/src/guide/contracts/call-parameters.md
  apps/docs/src/guide/contracts/cost-estimation.md
  apps/docs/src/guide/contracts/custom-contract-calls.md
  apps/docs/src/guide/contracts/snippets/call-parameters/forward.ts
  apps/docs/src/guide/contracts/snippets/cost-estimation.ts
  apps/docs/src/guide/contracts/snippets/custom-contract-calls/assemble-tx-parameters.ts
  apps/docs/src/guide/contracts/snippets/custom-contract-calls/call.ts
  apps/docs/src/guide/cookbook/snippets/signature-script.ts
  apps/docs/src/guide/transactions/assemble-tx-migration-guide.md
  apps/docs/src/guide/transactions/snippets/assemble-tx/assemble-tx-4.ts
  apps/docs/src/guide/transactions/snippets/pre-confirmation/contract-call.ts
  packages/account/src/account.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/assemble-tx.test.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/conditional-loop-contract/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/conditional-loop-contract/src/main.sw
  packages/program/src/functions/base-invocation-scope.ts
Labels: feat

#3864 chore!: remove `BaseInvocationScope.getTransactionId()`
  .changeset/bumpy-states-do.md
  apps/docs/src/guide/scripts/custom-script-call.md
  apps/docs/src/guide/scripts/snippets/script-with-configurable.ts
  packages/program/src/functions/base-invocation-scope.ts
Labels: chore

#3892 chore: update CODEOWNERS file
  .changeset/slow-lands-shave.md
  .github/CODEOWNERS
Labels: chore

#3897 fix: contract operation summary for multi-calls
  .changeset/angry-donuts-enter.md
  packages/account/src/providers/transaction-summary/call.ts
  packages/account/src/providers/transaction-summary/operations.test.ts
  packages/account/src/providers/transaction-summary/operations.ts
  packages/account/test/fixtures/transaction-summary.ts
  packages/fuel-gauge/src/transaction-summary.test.ts
Labels: bug
