Repository FuelLabs/fuels-ts, pull requests merged in 2025-04, with the labels that each got.

#3811 chore: upgrade `@fuels/connectors` to `0.39.2`
  .changeset/cool-brooms-obey.md
  apps/create-fuels-counter-guide/package.json
  apps/demo-wallet-sdk-react/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
Labels: chore

#3824 fix: adjust feature detection for balances
  .changeset/green-parts-decide.md
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/serialization.ts
  packages/account/test/fixtures/nodeInfo.ts
  packages/errors/src/error-codes.ts
Labels: bug

#3834 feat: optimistic concurrency control
  apps/docs/src/guide/provider/snippets/rpc-consistency.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/parse-graphql-response.ts
  packages/account/test/block-sensitive-operations.test.ts
  packages/account/test/optimistic-concurrency-handling.test.ts
  packages/account/test/utils/getFetchOperation.ts
Labels: feat

#3837 fix: connector detection of correct chain
  .changeset/slow-squids-travel.md
  apps/create-fuels-counter-guide/src/lib.tsx
  apps/create-fuels-counter-guide/src/main.tsx
  templates/nextjs/src/app/layout.tsx
  templates/nextjs/src/lib.tsx
  templates/vite/src/lib.tsx
  templates/vite/src/main.tsx
Labels: bug

#3838 chore: upgrade `fuel-core` to `0.43.0`
  .changeset/yummy-tools-sip.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  internal/fuel-core/VERSION
  packages/account/src/providers/fuel-core-schema.graphql
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3843 fix: silent chain fetch request failures
  .changeset/upset-bears-change.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: bug

#3845 docs: swapping RPC urls
  apps/docs/src/guide/getting-started/connecting-to-the-network.md
Labels: docs, chore

#3851 chore: disable `dependabot` for NPM
  .changeset/brown-breads-flash.md
  .github/dependabot.yml
  .github/workflows/pr-validate-changesets.yaml
  package.json
  scripts/changeset/dependabot-changeset.sh
Labels: chore

#3852 chore: various fixes for suppressing build noise
  .changeset/quick-moments-change.md
  apps/docs-api/typedoc.json
  apps/docs/package.json
  apps/docs/scripts/clear-snippets.mts
  packages/fuels/src/cli/commands/build/buildSwayProgram.test.ts
  packages/fuels/src/cli/commands/build/buildSwayProgram.ts
  packages/fuels/src/cli/commands/init/index.ts
  packages/fuels/test/features/init.test.ts
  vitest.browser.config.mts
Labels: chore

#3860 chore: upgrading `forc` to `0.68.0`
  .changeset/pretty-lamps-tan.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  internal/forc/VERSION
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/equality.sw
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-more-configurable/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-script/src/main.sw
  packages/versions/src/lib/getBuiltinVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3836 feat: add method for base asset coins consolidation
  .changeset/light-dolls-join.md
  apps/docs/src/guide/cookbook/combining-utxos.md
  apps/docs/src/guide/cookbook/snippets/combining-utxos.ts
  packages/account/src/account.ts
  packages/account/src/consolidate-coins.test.ts
  packages/account/src/providers/utils/handle-gql-error-message.ts
  packages/account/src/utils/split-coins-into-batches.test.ts
  packages/account/src/utils/split-coins-into-batches.ts
  packages/errors/src/error-codes.ts
Labels: feat

#3861 chore: switching from `cdnjs` to `jsdelivr`
  apps/docs/src/guide/getting-started/cdn-usage.md
Labels: chore

#3749 chore: upgrade `fuel-core` to `0.43.1`
  .changeset/yummy-tools-sip.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  internal/forc/VERSION
  internal/fuel-core/VERSION
  packages/account/package.json
  packages/account/src/account.test.ts
  packages/account/src/consolidate-coins.test.ts
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/test-utils/launchNode.ts
  packages/account/test/fuel-core-schema.test.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/contract/package.json
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/equality.sw
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-more-configurable/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-script/src/main.sw
  packages/program/package.json
  packages/transactions/src/configs.ts
  packages/versions/src/lib/getBuiltinVersions.ts
  pnpm-lock.yaml
  scripts/lint-md-links.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3863 chore: upgrading `@fuels/vm-asm` package
  .changeset/free-impalas-beam.md
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  packages/account/package.json
  packages/contract/package.json
  packages/program/package.json
  packages/transactions/src/configs.ts
  pnpm-lock.yaml
Labels: chore

#3865 docs: fixing the default derivation path in Wallet mnemonic docs
  apps/docs/src/guide/wallets/mnemonic-wallet.md
Labels: docs

#3866 feat: re-exporting `@fuels/vm-asm` as `FuelAsm` from `fuels`
  .changeset/cold-ants-notice.md
  apps/demo-nextjs/src/app/page.tsx
  apps/demo-react-cra/src/App.tsx
  apps/demo-react-vite/src/App.tsx
  apps/docs/.gitignore
  apps/docs/.vitepress/config.ts
  apps/docs/fuel-asm-example/.gitignore
  apps/docs/fuel-asm-example/Cargo.lock
  apps/docs/fuel-asm-example/Cargo.toml
  apps/docs/fuel-asm-example/src/main.rs
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/fuel-asm/index.md
  apps/docs/src/guide/fuel-asm/snippets/fuel-asm.ts
  link-check.config.json
  packages/fuels/package.json
  packages/fuels/src/index.ts
  pnpm-lock.yaml
Labels: feat

#3857 feat: add support for pre-confirmations
  .changeset/empty-pandas-invent.md
  apps/docs/.vitepress/config.ts
  apps/docs/spell-check-custom-words.txt
  apps/docs/src/guide/transactions/pre-confirmations.md
  apps/docs/src/guide/transactions/snippets/pre-confirmation/contract-call.ts
  apps/docs/src/guide/transactions/snippets/pre-confirmation/send-transaction.ts
  packages/account/src/account.test.ts
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/providers/transaction-summary/status.test.ts
  packages/account/src/providers/transaction-summary/status.ts
  packages/account/src/providers/transaction-summary/types.ts
  packages/account/src/providers/utils/serialization.ts
  packages/account/test/fixtures/transaction-summary.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/contract/src/contract-factory.ts
  packages/fuel-gauge/src/pre-confirmation.test.ts
  packages/fuel-gauge/src/transaction-response.test.ts
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/response.ts
  packages/program/src/types.ts
  packages/transactions/src/coders/transaction.ts
Labels: feat, cla:signed

#3867 fix: provider async methods and tests
  .changeset/light-moose-visit.md
  package.json
  packages/account/src/providers/provider.ts
  packages/account/src/providers/utils/serialization.test.ts
  packages/account/src/test-utils/setup-test-provider-and-wallets.ts
  packages/fuel-gauge/src/transaction.test.ts
Labels: bug

#3868 chore: renaming method for consistency
  .changeset/spotty-streets-lie.md
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: chore
