Repository FuelLabs/fuels-ts, pull requests merged in 2025-03, with the labels that each got.

#3590 chore!: upgrade `fuel-core` to `0.41.7`
  .changeset/real-schools-poke.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  apps/demo-bun-fuels/src/bun.test.ts
  apps/demo-fuels/src/index.test.ts
  apps/demo-nextjs/package.json
  apps/demo-react-cra/package.json
  apps/demo-react-vite/package.json
  apps/demo-typegen/src/demo.test.ts
  apps/docs/src/guide/cookbook/combining-utxos.md
  apps/docs/src/guide/errors/index.md
  apps/docs/src/guide/predicates/snippets/cookbook/failure-not-enough-funds.ts
  apps/docs/src/guide/transactions/adding-parameters.md
  apps/docs/src/guide/transactions/adding-policies.md
  apps/docs/src/guide/transactions/snippets/transaction-parameters.ts
  apps/docs/src/guide/transactions/snippets/transaction-policies/policies-from-response.ts
  apps/docs/src/guide/transactions/snippets/transaction-policies/setting-policies.ts
  internal/fuel-core/VERSION
  packages/account/codegen.json
  packages/account/package.json
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/providers/fuel-core-schema.graphql
  packages/account/src/providers/operations.graphql
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/utils/handle-gql-error-message.ts
  packages/contract/package.json
  packages/create-fuels/test/cli.test.ts
  packages/errors/src/error-codes.ts
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/src/doc-examples.test.ts
  packages/fuel-gauge/src/funding-transaction.test.ts
  packages/fuel-gauge/src/mapped-error-messages.test.ts
  packages/fuel-gauge/src/policies.test.ts
  packages/fuel-gauge/src/predicate/predicate-invalidations.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-contract.test.ts
  packages/fuel-gauge/src/predicate/predicate-with-script.test.ts
  packages/program/package.json
  packages/program/src/functions/base-invocation-scope.ts
  packages/program/src/types.ts
  packages/transactions/src/coders/policy.test.ts
  packages/transactions/src/coders/policy.ts
  packages/transactions/src/configs.ts
  packages/utils/src/utils/defaultSnapshots/chainConfig.json
  packages/versions/src/lib/getBuiltinVersions.ts
  packages/versions/src/lib/semver.test.ts
  packages/versions/src/lib/semver.ts
  pnpm-lock.yaml
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3618 feat: consider `assetId` in check account utility
  .changeset/fifty-seals-fetch.md
  .eslintrc.js
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/check-user-account.test.ts
Labels: feat

#3697 chore!: made `ResourceCache` consider resource owner
  .changeset/famous-candles-draw.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/resource-cache.test.ts
  packages/account/src/providers/resource-cache.ts
  packages/account/src/providers/utils/helpers.ts
Labels: chore

#3754 chore: revert inverted submission
  .changeset/forty-apes-pay.md
  .changeset/yummy-dragons-begin.md
  apps/docs/src/guide/wallets/connectors.md
  apps/docs/src/guide/wallets/snippets/connectors.ts
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/fuel.ts
  packages/account/src/connectors/types/connector-types.ts
  packages/account/test/fixtures/mocked-prep-connector.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: chore

#3757 chore: dep housekeeping
  .changeset/green-places-melt.md
  apps/create-fuels-counter-guide/package.json
  package.json
  pnpm-lock.yaml
  templates/vite/package.json
Labels: chore

#3759 fix: correct revert error name
  .changeset/rude-brooms-push.md
  packages/account/src/providers/utils/extract-tx-error.ts
  packages/fuel-gauge/src/revert-error.test.ts
Labels: bug

#3767 feat: add tx summary to send tx JSON RPC
  packages/account/src/account.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/providers/utils/serialization.ts
  packages/account/test/fuel-wallet-connector.test.ts
Labels: feat

#3772 chore: revert "fix: ignored subscriptions not being read"
  .changeset/dirty-eyes-ring.md
  .changeset/silent-points-punch.md
  packages/account/src/providers/fuel-graphql-subscriber.ts
  packages/account/src/providers/provider.test.ts
Labels: chore

#3768 fix: `forc` and `fuel-core` installation after working on `git:` branch
  .changeset/cyan-rings-check.md
  internal/forc/lib/install.js
  internal/forc/lib/shared.js
  internal/fuel-core/lib/install.js
  internal/fuel-core/lib/shared.js
Labels: bug

#3775 test: add withdraw to base layer test in network suite
  .changeset/dry-rivers-repeat.md
  packages/fuel-gauge/src/network.test.ts
Labels: chore

#3735 feat: improved connector JSON RPC interface
  .changeset/quick-numbers-shop.md
  .github/workflows/pr-release.yaml
  packages/account/src/account.test.ts
  packages/account/src/account.ts
  packages/account/src/connectors/fuel-connector.ts
  packages/account/src/connectors/types/data-type.ts
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
  packages/account/src/providers/transaction-request/transaction-request.ts
  packages/account/src/providers/transaction-response/transaction-response.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary-from-serialized.test.ts
  packages/account/src/providers/transaction-summary/assemble-transaction-summary-from-serialized.ts
  packages/account/src/providers/transaction-summary/get-transaction-summary.ts
  packages/account/src/providers/transaction-summary/index.ts
  packages/account/src/providers/transaction-summary/receipt.ts
  packages/account/src/providers/transaction-summary/types.ts
  packages/account/src/providers/utils/index.ts
  packages/account/src/providers/utils/receipts.ts
  packages/account/src/providers/utils/serialization.test.ts
  packages/account/src/providers/utils/serialization.ts
  packages/account/src/wallet/wallet-unlocked.test.ts
  packages/account/test/fixtures/mocked-connector.ts
  packages/account/test/fixtures/mocked-send-transaction-connector.ts
  packages/account/test/fixtures/receipts.ts
  packages/account/test/fuel-wallet-connector.send-transaction.test.ts
  packages/account/test/fuel-wallet-connector.test.ts
  packages/fuel-gauge/src/dry-run-multiple-txs.test.ts
Labels: feat

#3774 chore: updated `forc` to `0.67.0`
  .changeset/swift-ties-reply.md
  apps/create-fuels-counter-guide/fuel-toolchain.toml
  apps/docs/sway/liquidity-pool/src/main.sw
  internal/forc/VERSION
  internal/forc/lib/shared.js
  packages/fuel-gauge/src/storage-test-contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/abi-contract/src/equality.sw
  packages/fuel-gauge/test/fixtures/forc-projects/abi-library/src/lib.sw
  packages/fuel-gauge/test/fixtures/forc-projects/coverage-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/liquidity-pool/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/multi-token-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-conditional-inputs/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/script-with-more-configurable/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/token-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-contract/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vector-types-script/src/main.sw
  packages/fuel-gauge/test/fixtures/forc-projects/vectors/src/main.sw
  packages/versions/src/lib/getBuiltinVersions.ts
  packages/versions/src/lib/getSystemVersions.test.ts
  packages/versions/src/lib/getSystemVersions.ts
  templates/nextjs/fuel-toolchain.toml
  templates/vite/fuel-toolchain.toml
Labels: chore

#3773 feat: support customizing TX request from `BaseInvocationScope`
  .changeset/grumpy-moles-bake.md
  packages/fuel-gauge/src/contract.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-signing/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/predicate-signing/src/main.sw
  packages/program/src/functions/base-invocation-scope.ts
Labels: feat

#3781 fix: `fuel-core` and `forc` git branch installation error
  .changeset/solid-roses-battle.md
  internal/forc/lib/shared.js
  internal/fuel-core/lib/shared.js
Labels: bug

#3776 fix: ensure is possible to forward 0 amount to contract
  .changeset/cold-ears-double.md
  packages/account/src/providers/coin-quantity.ts
  packages/account/src/providers/coin-quantityfy.test.ts
  packages/account/src/providers/provider.ts
  packages/fuel-gauge/src/call-test-contract.test.ts
Labels: bug

#3785 ci(release): fix release `v0.100.0`
  .github/workflows/changesets-pr.yaml
  .github/workflows/release.yaml
Labels: bug

#3786 ci(release): fix release v0.100.0
  .github/workflows/release.yaml
Labels: bug

#3788 chore: eliminate chain requests across concurrent provider instances
  .changeset/nice-camels-marry.md
  packages/account/src/providers/provider.test.ts
  packages/account/src/providers/provider.ts
Labels: chore

#3790 fix: skip decoding external contract logs without JSON ABI
  .changeset/fancy-cooks-doubt.md
  packages/account/src/providers/transaction-response/getDecodedLogs.ts
  packages/fuel-gauge/src/advanced-logging.test.ts
  packages/fuel-gauge/test/fixtures/forc-projects/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-call-logging-contracts/Forc.toml
  packages/fuel-gauge/test/fixtures/forc-projects/script-call-logging-contracts/src/main.sw
  packages/program/src/functions/base-invocation-scope.ts
Labels: bug

#3792 chore: add pr release message
  .changeset/bright-sides-camp.md
  .github/workflows/publish-to-next.yaml
Labels: chore

#3793 fix: `changesets-pr` workflow condition
  .github/workflows/changesets-pr.yaml
Labels: bug

#3795 chore: fix pr release message
  .changeset/famous-donuts-guess.md
  .github/workflows/publish-to-next.yaml
Labels: chore

#3797 chore: fix flaky tests
  .changeset/curvy-humans-drum.md
  apps/docs/.eslintrc.cjs
  apps/docs/scripts/test-template.ts
  apps/docs/scripts/wrap-snippets.ts
  apps/docs/src/guide/cookbook/snippets/resubmitting-failed-transactions/wrong-resubmission.ts
  apps/docs/src/guide/provider/snippets/functionality/get-message-proof-block-id.ts
Labels: chore

#3791 chore: upgraded `tsup` to `8.3.5`
  .changeset/crazy-tools-run.md
  .github/dependabot.yml
  internal/tsup/src/index.ts
  package.json
  pnpm-lock.yaml
Labels: chore

#3809 chore: upgrade vitest to `3.0.9`
  .changeset/brown-things-behave.md
  apps/create-fuels-counter-guide/package.json
  package.json
  packages/utils/package.json
  pnpm-lock.yaml
  templates/nextjs/package.json
  templates/vite/package.json
  vitest.shared.config.mts
Labels: chore

#3812 chore: improve latency measure script
  .env.example
  CONTRIBUTING.md
  packages/fuel-gauge/package.json
  packages/fuel-gauge/scripts/latency-detection/constants.ts
  packages/fuel-gauge/scripts/latency-detection/helpers.ts
  packages/fuel-gauge/scripts/latency-detection/inter-contract-call.ts
  packages/fuel-gauge/scripts/latency-detection/main.ts
  packages/fuel-gauge/scripts/latency-detection/missing-4x-variable-output-call.ts
  packages/fuel-gauge/scripts/latency-detection/missing-variable-output-call.ts
  packages/fuel-gauge/scripts/latency-detection/predicate-signature-validation.ts
  packages/fuel-gauge/scripts/latency-detection/script-call.ts
  packages/fuel-gauge/scripts/latency-detection/script-with-predicate-call.ts
  packages/fuel-gauge/scripts/latency-detection/simple-transfer.ts
  packages/fuel-gauge/scripts/latency-detection/types.ts
  pnpm-lock.yaml
  snapshots/2025-03-25T22:38.json
Labels: chore

#3816 chore: updating code owners
  .github/CODEOWNERS
Labels: chore

#3817 chore: prevent temporary PR message from spamming PR's feed
  .changeset/silent-areas-sink.md
  .github/workflows/publish-to-next.yaml
Labels: chore
